<template>
	<div class="container opening-hours pt-5 mt-5 mob-mt-0 position-relative">
		<div class="row">				
			<div class="col-12 mb-2">
				<p class="text-title read-more-news text-uppercase mb-0 text-light"><i class="fa fa-clock-o mr-2"></i> Opening Hours</p>
				<p class="mimic-h2 mt-0">Cargo By Vertigo</p>
				<p class="text-small"><span class="text-primary">Note:</span> Opening hours are subject to change. Please refer to our live availability checker for an up-to-date view of daily opening hours.<br/>We strongly recommend booking online prior to your visit.</p>
				<hr class="line-primary my-4"/>
			</div>
			<div class="col-lg-4 col-md-6 cargo-oh mb-5 mob-mb-0">
				<div class="row">
					<div class="col-7 col-md-12">
						<p class="mimic-h3 mob-mb-3">Restaurant</p>
					</div>
					<div class="col-5 d-md-none text-right">
						<p class="text-primary"><a href="/cargo"><b>Book Now</b> <i class="fa fa-angle-double-right ml-2"></i></a></p>
					</div>
				</div>
				<!-- <div class="row mt-3" :class="day == 1 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Monday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 2 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Tuesday</p>
					</div>
					<div class="col-6 day-time">
						<p>12:00 - 23:00</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>12:00 - 23:00</p>
					</div>
				</div>
				<div class="row" :class="day == 3 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Wednesday</p>
					</div>
					<div class="col-6 day-time">
						<p>12:00 - 23:00</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>12:00 - 23:00</p>
					</div>
				</div>
				<div class="row" :class="day == 4 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Thursday</p>
					</div>
					<div class="col-6 day-time">
						<p>12:00 - 23:00</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>15:00 - 19:00</p>
					</div>
				</div> -->
				<div class="row mt-3" :class="day == 5 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Friday</p>
					</div>
					<div class="col-6 day-time">
						<p>12:00 - 23:00</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>12:00 - 23:00</p>
					</div>
				</div>
				<div class="row" :class="day == 6 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Saturday</p>
					</div>
					<div class="col-6 day-time">
						<p>12:00 - 23:00</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>12:00 - 23:00</p>
					</div>
				</div>
				<!-- <div class="row" :class="day == 7 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Sunday</p>
					</div>
					<div class="col-6 day-time">
						<p>12:00 - 22:00</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>12:00 - 22:00</p>
					</div>
				</div> -->
				<div class="row mt-2">
					<div class="col-12 d-md-none">
						<p class="text-primary"><b @click="openup('cargo-oh')">View all opening Hours <i class="fa fa-angle-double-down"></i></b></p>
						<hr class="line-primary mt-4"/>
					</div>
					<div class="col-12 d-none d-lg-block">
						<p class="text-title read-more-news text-uppercase mb-0"><a href="/cargo">Book Now <i class="fa fa-angle-double-right"></i></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				day: this.getDay(),
			}
		},
		methods: {
			getDay(){
        var d = new Date();
			  var n = d.getDay()
			  return n;
      },
      openup(name){
      	console.log(name);
      	$('.'+name+' .not-today').toggleClass('mob-show');
      	$('.'+name+' .today').toggleClass('mob-show');
      }
    },
  }
</script>