<template>
  <div id="contactmap" class="position-relative z-2 w-100"></div>
</template>
<script>
	window.initContactMap = function () {
    var titanicmarker;
    var newtownbredamarker;
  	var map;
    var mapstyle = [{"featureType":"all","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"administrative.country","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"administrative.province","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"administrative.locality","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"administrative.neighborhood","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"administrative.neighborhood","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"administrative.land_parcel","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"administrative.land_parcel","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"landscape.natural.terrain","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":"-89"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"poi.attraction","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"poi.business","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"poi.government","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#262d34"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#262d34"},{"lightness":"0"},{"gamma":"1"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#262d34"},{"lightness":"0"},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#262d34"},{"lightness":"0"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#262d34"},{"lightness":"0"}]},{"featureType":"road.local","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"transit.station.airport","elementType":"geometry.fill","stylers":[{"color":"#1d252d"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#1d252d"},{"lightness":17}]}];
    var mapDiv = document.getElementById('contactmap');
    var centerlatlng = {lat: 54.539784805363006, lng: -5.918372332947661};
    var titaniclatlng = {lat: 54.6073620694561, lng: -5.906108271164333};
    var newtownbredalatlng = {lat: 54.54861622285357, lng: -5.916679813493002};

    var titanicicon = {
      url: "/img/icons/titanic-map-pin.png",
      size: new window.google.maps.Size(134, 78),
      origin: new window.google.maps.Point(0, 0),
      anchor: new window.google.maps.Point(67, 40),
      scaledSize: new window.google.maps.Size(134, 78)
    };
    var newtownbredaicon = {
      url: "/img/icons/newtownbreda-map-pin.png",
      size: new window.google.maps.Size(134, 78),
      origin: new window.google.maps.Point(0, 0),
      anchor: new window.google.maps.Point(67, 39),
      scaledSize: new window.google.maps.Size(134, 78)
    };
    // var cargoicon = new google.maps.MarkerImage("/img/icons/map_pin.png", null, null, null, new google.maps.Size(50, 93));
    map = new window.google.maps.Map(mapDiv, {
      center: centerlatlng,
      scrollwheel: false,
      mapTypeControl: false,
      draggable: true,
      streetViewControl: false,
      fullscreenControl: false,
      zoom: 12
    });

    // Add a marker to the map showing where the user is located
    newtownbredamarker = new window.google.maps.Marker({
        position: newtownbredalatlng,
        map: map,
        animation: window.google.maps.Animation.DROP,
        flat: true,
        icon: newtownbredaicon,
        draggable: false,
        title: "Titanic Park",
        'optimized': false
    });

    // Add a marker to the map showing where the user is located
    titanicmarker = new window.google.maps.Marker({
        position: titaniclatlng,
        map: map,
        animation: window.google.maps.Animation.DROP,
        flat: true,
        icon: titanicicon,
        draggable: false,
        title: "Titanic Park",
        'optimized': false
    });
    map.set('styles', mapstyle);
	}
	export default {
		data() {
      return {
			}
		},
		mounted(){
			$.getScript("https://maps.googleapis.com/maps/api/js?key=AIzaSyDJwAp_2r4ZyeXAMax2GXqao1RkEU_1TI8&region=GB&language=en-gb&callback=initContactMap");
		},	
	  methods:{
	  	
	  }
	}
</script>
<style lang="scss">
#contactmap{
	height: 1100px;
	margin-bottom: -500px;
}
@media only screen and (max-width : 767px){
	// #contactmap{
	// 	height: 800px;
	// 	margin-bottom: -400px;
	// }
}
</style>