<template>
	<div class="card p-5 mob-px-3 bg-monitoring shadow">
		<form id="monitoring-form" @submit.prevent="submit" class="row half_row">
			<div class="col-6 half_col">
				<p class="text-large"><b>Monitoring Questionnaire</b></p>
			</div>
			<div class="col-6 text-right half_col">
				<p><b>Private & Confidential</b></p>
			</div>
			<div class="col-12 half_col mb-4">
				<p><b>Introduction:</b></p>
				<p class="text-small">We are an Equal Opportunities Employer. We do not discriminate against our job applicants or employees and we aim to select the best person for the job.
				We monitor the community background and sex of our job applicants and employees in order to demonstrate our commitment to promoting equality of opportunity in employment and to comply with our duties under the Fair Employment & Treatment (NI) Order 1998.</p>
				<p class="text-small">You are not obliged to answer the questions on this form and you will not suffer any penalty if you choose not to do so. Nevertheless, we encourage you to answer these questions. Your answers will be used by us to prepare and submit a monitoring return to the Equality Commission, but your identity will be kept anonymous. In all other regards your answers will be treated with the strictest confidence. We assure you that your answers will not be used by us to make any decisions affecting you, whether in a recruitment exercise or during the course of any employment with us.</p>
				<p><b>Community Background:</b></p>
				<p class="text-small">Regardless of whether they actually practice a religion, most people in Northern Ireland are perceived to be members of either the Protestant or Roman Catholic communities.</p>
			</div>
			<div class="form-group col-12 half_col">
				<p><b>Please indicate the community to which you belong by ticking the appropriate box below:</b></p>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="religion" v-model="fields.religion" id="religion1" value="I am a member of the Protestant community">
				  <label class="form-check-label" for="religion1">
				    <p>I am a member of the Protestant community</p>
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="religion" v-model="fields.religion" id="religion2" value="I am a member of the Roman Catholic community">
				  <label class="form-check-label" for="religion2">
				    <p>I am a member of the Roman Catholic community</p>
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="religion" v-model="fields.religion" id="religion3" value="I am not a member of neither the Protestant nor Roman Catholic community">
				  <label class="form-check-label" for="religion3">
				    <p>I am not a member of neither the Protestant nor Roman Catholic community</p>
				  </label>
				</div>
				<div v-if="errors && errors.religion" class="text-primary">{{ errors.religion[0] }}</div>

				<p class="text-small"><i>If you do not answer the above question, we are encouraged to use the residuary method of making a determination, which means that we can make a determination as to your community background on the basis of the personal information supplied by you in your application form/personnel file.</i></p>
			</div>
			<div class="form-group col-12 half_col">
				<p><b>Sex: Please indicate your sex by ticking the appropriate box below:</b></p>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="gender" v-model="fields.gender" id="gender1" value="Male">
				  <label class="form-check-label" for="gender1">
				    <p>Male</p>
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="gender" v-model="fields.gender" id="gender2" value="Female">
				  <label class="form-check-label" for="gender2">
				    <p>Female</p>
				  </label>
				</div>
				<div v-if="errors && errors.gender" class="text-primary">{{ errors.gender[0] }}</div>
				<p class="text-small mt-4"><b>Note: If you answer this questionnaire you are obliged to do so truthfully as it is a criminal offence under the Fair Employment (Monitoring) Regulations (NI) 1999 to knowingly give false answers to these questions.</b></p>
			</div>
			<div class="form-group col-lg-6 half_col">
				<label for="nin" class="mb-1"><b>National Insurance Number</b></label>
				<input id="nin" type="text" class="form-control" name="nin" placeholder="National Insurance Number*" v-model="fields.nin" required/>
				<div v-if="errors && errors.nin" class="text-primary">{{ errors.nin[0] }}</div>
			</div>
			<div class="col-md-6 half_col text-center text-lg-right">
				<div id="recaptcha-error" class="text-primary text-lg-right pt-4"></div>
				<div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha"></div>
			</div>
			<div class="col-12 half_col text-left text-lg-right">
				<hr class="mb-4" />
				<button id="submit" type="submit"  class="btn btn-primary btn-icon">Send Form <i class="fa fa-envelope"></i></button>
			</div>
		</form>
	</div>
</template>

<script>
	export default {
		props: {
			recaptcha: String,
			page: String,
			about: String,
		},
		data() {
			return {
				fields: {
					religion: null,
					nin: "",
					gender: null
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		mounted(){
			$.getScript("https://www.google.com/recaptcha/api.js");
		},
		methods: {
			messageSent(){
        this.fields = {};
      },
      submit() {
      	if (this.loaded && grecaptcha.getResponse().length > 0) {
      		$('#recaptcha-error').html('');
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Sending Form";

      		axios.post('/send-monitoring-form', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          grecaptcha.reset();
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Form sent successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	          $('#enquire_modal').modal('hide');
	        })
      		.catch(error => {
	         // Error handling
	         console.log(error.response);
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>
<style lang="scss">
.bg-monitoring{
	background-color: #eff2f9;
	color: #000000;
	border-radius: 5px;
	p{
		color: #000000;
	}
}
.g-recaptcha > div{
	display: inline-block;
}
</style>