<template>
	<div class="container opening-hours pt-5 mt-5 mob-mt-0 mob-pt-0">
		<div class="row">				
			<div class="col-12 mb-2">
				<p class="text-title read-more-news text-uppercase mb-0 text-light"><i class="fa fa-clock-o mr-2"></i> Opening Hours</p>
				<p class="mimic-h2">Titanic Quarter</p>
				<p class="text-small"><span class="text-primary">Note:</span> Opening hours are subject to change but will differ on public holidays. Please refer to our live availability checker for an up-to-date view of daily opening hours. We strongly recommend booking online prior to your visit.</p>
				<hr class="line-primary my-4"/>
			</div>
			<div class="col-lg-4 col-md-6 indoor-skydiving-oh mb-5 mob-mb-0">
				<div class="row">
					<div class="col-7 col-md-12">
						<p class="mimic-h3 mob-mb-3">Indoor Skydiving</p>
					</div>
					<div class="col-5 d-md-none text-right">
						<p class="text-primary"><a href="/activities/titanic-quarter/indoor-skydiving"><b>Book Now</b> <i class="fa fa-angle-double-right ml-2"></i></a></p>
					</div>
				</div>
				<div class="row mt-3" :class="day == 1 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Monday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 2 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Tuesday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 3 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Wednesday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 4 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Thursday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 5 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Friday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 6 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Saturday</p>
					</div>
					<div class="col-6 day-time">
						<p>11:00 - 17:00</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>11:00 - 17:00</p>
					</div>
				</div>
				<div class="row" :class="day == 7 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Sunday</p>
					</div>
					<div class="col-6 day-time">
						<p>11:00 - 17:00</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>11:00 - 17:00</p>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 d-md-none">
						<p class="text-primary"><b @click="openup('indoor-skydiving-oh')">View all opening Hours <i class="fa fa-angle-double-down"></i></b></p>
						<hr class="line-primary mt-4"/>
					</div>
					<div class="col-12 d-none d-lg-block">
						<p class="text-title read-more-news text-uppercase mb-0"><a href="/activities/titanic-park/indoor-skydiving">Book Now <i class="fa fa-angle-double-right"></i></a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 titanic-inflatable-park-oh mb-5 mob-mb-0">
				<div class="row">
					<div class="col-7 col-lg-12">
						<p class="mimic-h3 mob-mb-3">Inflatable Park</p>
					</div>
					<div class="col-5 d-md-none text-right">
						<p class="text-primary"><a href="/activities/titanic-quarter/inflatable-park"><b>Book Now</b> <i class="fa fa-angle-double-right ml-2"></i></a></p>
					</div>
				</div>
				<div class="row mt-3" :class="day == 1 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Monday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 2 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Tuesday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 3 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Wednesday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 4 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Thursday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 5 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Friday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 6 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Saturday</p>
					</div>
					<div class="col-6 day-time">
						<p>12:00 - 16:00</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>12:00 - 16:00</p>
					</div>
				</div>
				<div class="row" :class="day == 7 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Sunday</p>
					</div>
					<div class="col-6 day-time">
						<p>12:00 - 16:00</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>12:00 - 16:00</p>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 d-md-none">
						<p class="text-primary"><b @click="openup('titanic-inflatable-park-oh')">View all opening Hours <i class="fa fa-angle-double-down"></i></b></p>
						<hr class="line-primary my-4"/>
					</div>
					<div class="col-12 d-none d-lg-block">
						<p class="text-title read-more-news text-uppercase mb-0"><a href="/activities/titanic-park/inflatable-park">Book Now <i class="fa fa-angle-double-right"></i></a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 titanic-ninja-oh mb-5 mob-mb-0">
				<div class="row">
					<div class="col-7 col-md-12">
						<p class="mimic-h3 mob-mb-3">Ninja Master Course</p>
					</div>
					<div class="col-5 d-md-none text-right">
						<p class="text-primary"><a href="/activities/titanic-quarter/ninja-master-course"><b>Book Now</b> <i class="fa fa-angle-double-right ml-2"></i></a></p>
					</div>
				</div>
				<div class="row mt-3" :class="day == 1 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Monday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 2 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Tuesday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 3 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Wednesday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 4 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Thursday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 5 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Friday</p>
					</div>
					<div class="col-6 day-time">
						<p>Closed</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>Closed</p>
					</div>
				</div>
				<div class="row" :class="day == 6 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Saturday</p>
					</div>
					<div class="col-6 day-time">
						<p>12:00 - 16:00</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>12:00 - 16:00</p>
					</div>
				</div>
				<div class="row" :class="day == 7 ? 'today' : 'not-today'">
					<div class="col-6 day-name">
						<p>Sunday</p>
					</div>
					<div class="col-6 day-time">
						<p>12:00 - 16:00</p>
					</div>
					<div class="col-lg-6 d-md-none day-both">
						<p><span class="toh">Today's opening hours: </span>12:00 - 16:00</p>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12 d-md-none">
						<p class="text-primary"><b @click="openup('titanic-ninja-oh')">View all opening Hours <i class="fa fa-angle-double-down"></i></b></p>
					</div>
					<div class="col-12 d-none d-lg-block">
						<p class="text-title read-more-news text-uppercase mb-0"><a href="/activities/titanic-park/ninja-master-course">Book Now <i class="fa fa-angle-double-right"></i></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				day: this.getDay(),
			}
		},
		methods: {
			getDay(){
        var d = new Date();
			  var n = d.getDay()
			  return n;
      },
      openup(name){
      	console.log(name);
      	$('.'+name+' .not-today').toggleClass('mob-show');
      	$('.'+name+' .today').toggleClass('mob-show');
      }
    },
  }
</script>
<style lang="scss">
	.opening-hours{
		.today{
			p{
				font-size: 1.1rem;
				font-weight: 900 !important;
				color: #F6CF3C;
			}
		}
		p{
			margin-bottom: 0 !important;
			.toh{
				display: none;
			}
		}
	}
	@media only screen and (max-width : 767px){
		.opening-hours{
			p.mimic-h3{
				margin-bottom: 0.5rem !important;
				font-size: 7.2vw;
			}
			.today{
				p{
					font-size: 4vw;
					color: #fff !important;
					.toh{
						display: inline;
					}
				}
				.day-name,
				.day-time{
					display: none;
				}
				&.mob-show{
					display: flex;
					p{
						color: #F6CF3C !important;
					}
					.toh{
						display: none;
					}
					.day-name{
						display: block;
					}
					.day-time{
						display: block;
					}
					.day-both{
						display: none;
					}
				}
			}
			.not-today{
				display: none;
				margin-top: 0 !important;
				&.mob-show{
					display: flex;
					.toh{
						display: none;
					}
					.day-name{
						display: block;
					}
					.day-time{
						display: block;
					}
					.day-both{
						display: none;
					}
				}
				
			}
		}
	}
</style>