<template>
	<div id="party-slideshow" class="backdrop">
		<div class="backdrop-content">
			<carousel ref="partycarousel" :mouse-drag="false" :wrapAround="true">
				<slide class="party-slide">
					<div>
						<picture>
              <source srcset="/img/charities/charities1.webp" type="image/webp"/> 
              <source srcset="/img/charities/charities1.jpg" type="image/jpeg"/> 
              <img src="/img/charities/charities1.jpg" type="image/jpeg" alt="We are Vertigo charity stephen clements foundation" class="lazy" />
            </picture>
			    </div>
				</slide>
				<slide class="party-slide">
					<div>
						<picture>
              <source srcset="/img/charities/charities2.webp" type="image/webp"/> 
              <source srcset="/img/charities/charities2.jpg" type="image/jpeg"/> 
              <img src="/img/charities/charities2.jpg" type="image/jpeg" alt="We are Vertigo charity acts of kindness" class="lazy" />
            </picture>
			    </div>
				</slide>
				<slide class="party-slide">
					<div>
						<picture>
              <source srcset="/img/charities/charities3.webp" type="image/webp"/> 
              <source srcset="/img/charities/charities3.jpg" type="image/jpeg"/> 
              <img src="/img/charities/charities3.jpg" type="image/jpeg" alt="We are Vertigo charity donation" class="lazy" />
            </picture>
			    </div>
				</slide>
				<slide class="party-slide">
					<div>
						<picture>
              <source srcset="/img/charities/charities4.webp" type="image/webp"/> 
              <source srcset="/img/charities/charities4.jpg" type="image/jpeg"/> 
              <img src="/img/charities/charities4.jpg" type="image/jpeg" alt="We are Vertigo charity donations" class="lazy" />
            </picture>
			    </div>
				</slide>
				<slide class="party-slide">
					<div>
						<picture>
              <source srcset="/img/charities/charities5.webp" type="image/webp"/> 
              <source srcset="/img/charities/charities5.jpg" type="image/jpeg"/> 
              <img src="/img/charities/charities5.jpg" type="image/jpeg" alt="We are Vertigo donation to NHS nurses" class="lazy" />
            </picture>
			    </div>
				</slide>
				<slide class="party-slide">
					<div>
						<picture>
              <source srcset="/img/charities/charities6.webp" type="image/webp"/> 
              <source srcset="/img/charities/charities6.jpg" type="image/jpeg"/> 
              <img src="/img/charities/charities6.jpg" type="image/jpeg" alt="We are Vertigo charity donations" class="lazy" />
            </picture>
			    </div>
				</slide>
			</carousel>
		</div>
		<div class="backdrop-back"></div>
	</div>
</template>
<script>
	import { ref } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	const partycarousel = ref(null);
	export default {
		components: { 
	  	Carousel,
      Slide,
      Pagination,
      Navigation,
	  },
	  data() {
			return {
				errors: {},
				success: false,
				loaded: true,
			}
		}
	}
</script>
<style lang="scss">
#party-slideshow{
	width: 100%;
	max-width: 1110px;
	.party-slide {
  	position: relative;
	  width: 1110px;
	  max-width: 1110px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  overflow: hidden;
	  cursor: pointer;
	  img{
	  	max-width: 1110px;
	  	z-index: 1;
	  	position: relative;
	  	width: 100%;
	  	display: block;
	  	margin-left: -1rem;
	  	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
	  }
	}
	// .owl-carousel .owl-stage-outer{
	// 	overflow: visible !important;
	// }
	.owl-theme{
		.owl-nav{
	    margin-top: 1rem;
	    margin-bottom: -30px;
	    position: absolute;
	    bottom: -4rem;
	    left: calc(50% - 191px);
			.owl-prev{
				margin-right: 318px;
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 25px;
				height: 33px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 0;
					background-image: url('/img/icons/chevron-left.svg');
					background-size: contain;
					width: 25px;
					height: 33px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 25px;
				height: 33px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					background-image: url('/img/icons/chevron-right.svg');
					background-size: contain;
					width: 25px;
					height: 33px;
					background-repeat: no-repeat;
				}
			}
		}
		.owl-dots{
		  width: 300px;
	    position: absolute;
	    bottom: -5.5rem;
	    left: calc(50% - 150px);
		  .owl-dot{
				span{
					width: 30px;
			    height: 8px;
			    background: #fff;
			    border-radius: 0;
				}
				&.active{
					span{
						background: #F6CF3C;
					}
				}
			}
		}
	}	
}

@media only screen and (max-width : 767px){
	#party-slideshow{
		width: calc(100vw - 2rem);
		.party-slide{
			width: calc(100vw - 1.5rem);
			height: 54vw;
			img{
				width: calc(100vw - 1.5rem) !important;
				height: auto
			}
		}
		.owl-theme .owl-dots{
	    margin: auto;
			width: 52vw;
    	left: calc(50% - 24vw);
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
		.owl-theme .owl-nav{
			margin: auto;
	    width: 100%;
	    bottom: -6rem;
	    left: 0.5rem;
			.owl-prev{
				margin-right: 70vw;
			}
		}
	}
}
</style>