<template>
	<header id="activity-top" class="container-fluid position-relative full-height bg bg-down-up z-3 mob-px-0" :style="bgstyles">
	  <div class="trans"></div>
	  <div class="d-lg-table w-100 h-100">
	    <div class="d-lg-table-cell w-100 h-100 align-middle">
	      <div class="container container-wide">
	        <div class="row">
	          <div class="col-lg-7 mob-pt-5 mob-mt-5 text-center text-lg-left">
	          	<p class="activity-title-top text-primary"><a :href="'/locations/'+activity.location.slug">@{{activity.location.title}}</a></p>
	            <h1 class="mob-mt-0 page-title">{{activity.title}}</h1>
	            <div class="backdrop d-lg-none mb-5 mt-3">
	            	<picture>
                  <source :srcset="activity.featuredwebp" type="image/webp"/> 
                  <source :srcset="activity.featured" :type="activity.mimetype"/> 
                  <img :src="activity.featured" :type="activity.mimetype" :alt="activity.title" class="backdrop-content lazy" />
                </picture>
	              <div class="backdrop-back" data-aos="fade-down-right" data-aos-delay="300"></div>
              </div>
	            <div class="d-inline-block text-left mob-mt-3">
	              <button id="activity-top-menu-btn" type="button" class="btn btn-primary btn-icon" @click="openCheckout()">Book Now <i class="custom-icon chevron-double-right"></i></button>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <top-details></top-details>
	  <div class="cut"></div>
	</header>
</template>
<script>
export default {
  props: {
    activity: Object,
  },
  data() {
    return {
      location: '*',
      errors: {},
      success: false,
      loaded: true,
      activities: [],
      limit: 8,
      page: 1,
      loadmore: true,
      bgImgDouble: this.activity.double,
      bgImgDoubleWebp: this.activity.doublewebp, 
      bgImgNormal: this.activity.normal,
      bgImgNormalWebp: this.activity.normalwebp, 
      bgImgFeatured: this.activity.featured,
      bgImgFeaturedWebp: this.activity.featuredwebp, 
    }
  },
 	computed: {
    bgstyles() {
      return {
        '--bg-img-double': 'url('+this.activity.double+')',
        '--bg-img-double-webp': 'url('+this.activity.doublewebp+')',
        '--bg-img-normal': 'url('+this.activity.normal+')',
        '--bg-img-normal-webp': 'url('+this.activity.normalwebp+')',
        '--bg-img-featured': 'url('+this.activity.featured+')',
        '--bg-img-featured-webp': 'url('+this.activity.featuredwebp+')',
      }
    }
  },
  mounted(){
  	document.addEventListener("DOMContentLoaded", function() {
		  document.querySelectorAll(".booknowbtn").forEach(function(button) {
		    button.addEventListener("click", function() {
		      const targetElement = document.getElementById("requestbooking");
		      if (targetElement) {
		        const offsetTop = targetElement.getBoundingClientRect().top + window.pageYOffset - 100;

		        window.scrollTo({
		          top: offsetTop,
		          behavior: "smooth"
		        });
		      }
		    });
		  });
		});
  },
  methods:{
  	openCheckout(){
  		// RollerCheckout.showProduct({productId: this.activity.roller});
  		RollerCheckout.show();
  	}
  }
}
</script>
<style lang="scss">
.no-webp{
	#activity-top{
		background-image: var(--bg-img-double);
	}
}
.webp{
	#activity-top{
		background-image: var(--bg-img-double-webp);
	}
}
#activity-top{
	min-height: 850px;
	.full-height{
    min-height: 850px;
  }
  .activity-title-top{
  	text-transform: uppercase;
  	font-family: Tungsten, sans-serif;
    color: #F6CF3C;
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width : 992px){
	.no-webp{
		#activity-top{
			background-image: var(--bg-img-featured);
		}
	}
	.webp{
		#activity-top{
			background-image: var(--bg-img-featured-webp);
		}
	}
	#activity-top{
		min-height: auto;
		height: auto !important;
		background: none !important;
		margin-bottom: 4rem;
		h1.page-title{
			font-size: 20vw;
		}
		#activity-top-menu-btn{
			margin-top: -30px;
		}
		.activity-title-top{
			font-size: 5vw;
		}
		.full-height{
	    min-height: 100vh;
	  }
		.cut{
			display: none;
		}
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  #activity-top{
  	padding-top: 6rem;
  	#activity-top-menu-btn{
  		margin-top: 0;
  	}
  }
}
</style>