<template>
	<div id="party-slideshow" class="ipadp-pr-4">
		<div class="">
			<carousel ref="activitycarousel" :wrapAround="true">
				<slide v-for="(slide, key) in slides" :key="key">
					<div class="party-slide pb-4">
						<div class="backdrop">
       				<div class="backdrop-content">
					      <div class="ratio ratio-16x9" v-if="slide.video">
								  <iframe class="embed-responsive-item" :src="slide.video" allowfullscreen></iframe>
								</div>
								<div v-else>
									<picture >
										<source media="(min-width: 1500px)" :srcset="slide.doublewebp" type="image/webp"/> 
					          <source media="(min-width: 1500px)" :srcset="slide.double" :type="slide.mimetype"/> 
					          <source media="(min-width: 768px)" :srcset="slide.normalwebp" type="image/webp"/> 
					          <source media="(min-width: 768px)" :srcset="slide.normal" :type="slide.mimetype"/> 
					          <source media="(min-width: 1px)" :srcset="slide.featuredwebp" type="image/webp"/> 
					          <source media="(min-width: 1px)" :srcset="slide.featured" :type="slide.mimetype"/> 
						        <img :src="slide.featured" :alt="'Slide ' + key" class="w-100 lazy"/>
						      </picture>
						    </div>
							</div>
							<div class="backdrop-back"></div>
						</div>
					</div>
				</slide>
				<template #addons>
		      <pagination />
		      <navigation />
		    </template>
			</carousel>
		</div>
	</div>
</template>
<script>
	import { ref } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	const activitycarousel = ref(null);
	export default {
		components: { 
	  	Carousel,
      Slide,
      Pagination,
      Navigation,
	  },
	  props: { 
	  	slides: Array 
	  },
	  data() {
			return {
				videos: [],
				errors: {},
				success: false,
				loaded: true,
			}
		}
	}
</script>
<style lang="scss">
#party-slideshow{
	width: 100%;
	max-width: 1110px;
	.party-slide {
  	position: relative;
	  width: 1110px;
	  max-width: 1110px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  overflow: hidden;
	  cursor: pointer;
	  img{
	  	max-width: 1110px;
	  	z-index: 1;
	  	position: relative;
	  	width: 100%;
	  	display: block;
	  	margin-left: -1rem;
	  	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
	  }

	}
	.carousel__slide{
    	&:before{
    		display: none !important;
    	}
    }
    .carousel__prev{
			margin-right: 250px;
			font-size: 0;
			position: absolute;
	  	bottom: -7px;
	  	left: calc(50% - 180px);
	  	top: auto;
			color:#1D252D;
			padding: 0;
			width: 19px;
			height: 16px;
			background-color: transparent;
			svg{
				display: none;
			}
			&:after{
				position: absolute;
				content: "";
				right: 0;
				top: 0;
				background-image: url('$img/icons/pointer-left.svg');
				background-size: contain;
				width: 9px;
				height: 16px;
				background-repeat: no-repeat;
			}
		}
		.carousel__next{
			font-size: 0;
			position: absolute;
	  	bottom: -7px;
	  	right: calc(50% - 180px);
	  	top: auto;
			color:#1D252D;
			padding: 0;
			width: 19px;
			height: 16px;
			background-color: transparent;
			svg{
				display: none;
			}
			&:after{
				position: absolute;
				content: "";
				left: 0;
				top: 0;
				background-image: url('$img/icons/pointer-right.svg');
				background-size: contain;
				width: 9px;
				height: 16px;
				background-repeat: no-repeat;
			}
		}
	.carousel__pagination{
    width: 200px;
    height: 100%;
    z-index: 2;
    margin: 30px auto 0;
    display: block;
    list-style: none;
    .carousel__pagination-item{
      padding-left: 0;
      list-style: none;
      margin-bottom: 8px;
      display: inline-block;
      margin-right: 5px;
      &:before,
      &:after{
        display: none !important;
      }
      .carousel__pagination-button{
        height: 5px;
        background-color: #fff;
        width: 24px;
        padding: 0 ;
        &:after{
          display: none !important;
        }
        &.carousel__pagination-button--active{
          background-color: #F6CF3C;
        }
      }
      
    }
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	#party-slideshow{
		width: calc(100vw - 2rem);
		.party-slide{
			width: calc(100vw - 1.5rem);
			height: 54vw;
			img{
				width: calc(100vw - 1.5rem) !important;
				height: auto
			}
		}
		
	}
}
@media only screen and (max-width : 767px){
	#party-slideshow{
		width: calc(100vw - 2rem);
		.party-slide{
			width: calc(100vw - 1.5rem);
			height: 54vw;
			img{
				width: calc(100vw - 1.5rem) !important;
				height: auto
			}
		}
		.owl-theme .owl-dots{
	    margin: auto;
			width: 52vw;
    	left: calc(50% - 24vw);
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
		.owl-theme .owl-nav{
			margin: auto;
	    width: 100%;
	    bottom: -6rem;
	    left: 0.5rem;
			.owl-prev{
				margin-right: 70vw;
			}
		}
	}
}
</style>