<template>
  <div class="container-fluid position-relative z-2">
    <div class="row">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 half_col position-relative z-2">
            <activities-select @input="changeLocation" :options="locations" :default="'All of our locations'"></activities-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 ipad-pt-0 mob-pt-0">
      <activities-show :activities="activities" v-if="activities.length"></activities-show>
    </div>
  </div>  
</template>
<script>
  const ActivitiesSelect = () => import(/* webpackChunkName: "ActivitiesSelect" */ './ActivitiesSelect.vue');
export default {
  props: {
    locations: Array,
  },
  components:{
    ActivitiesSelect
  },
  watch:{
    location: function(val){
      this.changeLocation(val);
    },
  },
  data() {
    return {
      location: '*',
      errors: {},
      success: false,
      loaded: true,
      activities: [],
      limit: 8,
      page: 1,
    }
  },
  mounted(){
    this.getActivities();
  },
  methods: {
    changeLocation(val){
      this.location = val;
      this.getActivities();
    },
    getActivities(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.page = 1;
        axios.get('/activities/get?limit=' + this.limit + '&page=' + page + '&location=' + this.location).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.activities = response.data.data;
          console.log(this.response);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
  },
}
</script>