<template>
	<div id="inflatable-boxes" class="position-relative mb-5">
		<carousel ref="inflatableboxes" :mouse-drag="false" :wrapAround="true">
			<slide :key="1">
				<div class="inflatable-box">
					<div class="backdrop">
        		<div class="backdrop-content">
      				<picture>
                <source src="/img/activities/inf-box-toddlers.webp" type="image/webp"/>
                <source src="/img/activities/inf-box-toddlers.jpg" type="image/jpeg"/>
                <img src="/img/activities/inf-box-toddlers.jpg" class="w-100 h-auto shadow" alt="Toddler Bounce Sessions - We are vertigo"/>
              </picture>
	             <div class="inflatable-box-content">
	             	<p class="mb-0 mt-3"><b>Ages 1-5</b></p>
								<h2 class="">Toddler Mornings</h2>
								<p class="">Our toddler mornings run every Saturday & Sunday morning and are a huge hit with our little bouncers! Strictly for ages 1-5 these sessions give your little one’s full access to our huge Inflatable Park & Adventure Centre for 2 hours of fun!  Each pass includes one adult admission.</p>
								<p class="mb-0">
		              <a href="/activities/toddler-bounce">
		                <button type="button" class="btn btn-black btn-icon d-inline-block">Book Now <i class="custom-icon chevron-double-right-white"></i></button>
		              </a>
		            </p>
		          </div>
	          </div>
	          <div class="backdrop-back"></div>
          </div>
				</div>
			</slide>
			<slide :key="2">
				<div class="inflatable-box">
					<div class="backdrop">
        		<div class="backdrop-content">
      				<picture>
                <source src="/img/activities/inf-box-toddlers-2.webp" type="image/webp"/>
                <source src="/img/activities/inf-box-toddlers-2.jpg" type="image/jpeg"/>
                <img src="/img/activities/inf-box-toddlers-2.jpg" class="w-100 h-auto shadow" alt="Toddler Bounce Sessions - We are vertigo"/>
              </picture>
	             <div class="inflatable-box-content">
	             	<p class="mb-0 mt-3"><b>Ages 1-3</b></p>
								<h2 class="">Toddler Area</h2>
								<p class="">Our toddler area is located just off our huge Inflatable Park and is ideal for little bouncers 1-3 years. Each pass includes an hour session + free adult admission.</p>
								<p class="mb-0">
		              <a href="/activities/toddler-bounce">
		                <button type="button" class="btn btn-black btn-icon d-inline-block">Book Now <i class="custom-icon chevron-double-right-white"></i></button>
		              </a>
		            </p>
		          </div>
	          </div>
	          <div class="backdrop-back"></div>
          </div>
				</div>
			</slide>
			<slide :key="3">
				<div class="inflatable-box">
					<div class="backdrop">
        		<div class="backdrop-content">
        			<picture>
                <source src="/img/activities/inf-box-3.webp" type="image/webp"/>
                <source src="/img/activities/inf-box-3.jpg" type="image/jpeg"/>
                <img src="/img/activities/inf-box-3.jpg" class="w-100 h-auto shadow" alt="Inflatable Park - We are vertigo"/>
              </picture>
	             <div class="inflatable-box-content">
	             	<p class="mb-0 mt-3"><b>Ages 4-16</b></p>
								<h2 class="">Inflatable Park</h2>
								<p class="">Did you know our Inflatable Park is one of the biggest in the world!?  Welcome to the playground where childhood fantasy becomes reality. Whether you’re bouncing off walls, battling it out with friends on the balance beam or braving the Mechanical Sweeper, Inflatable Parks are the ultimate day out!</p>
								<p class="mb-0">
		              <a href="/activities/toddler-bounce">
		                <button type="button" class="btn btn-black btn-icon d-inline-block">Book Now <i class="custom-icon chevron-double-right-white"></i></button>
		              </a>
		            </p>
		          </div>
	          </div>
	          <div class="backdrop-back"></div>
          </div>
				</div>
			</slide>
			<template #addons>
	      <pagination />
	      <navigation />
	    </template>
		</carousel>
		<div class="hide-the-left"></div>
	</div>
</template>
<script>
	import { ref } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	const inflatableboxes = ref(null);
	export default {
		components: { 
	  	Carousel,
      Slide,
      Pagination,
      Navigation
	  },
	  data() {
	    return {
	  		loaded: true,
	    }
	  }
	}
</script>
<style lang="scss">
.hide-the-left{
  position: absolute;
  width: 100%;
  height: 120%;
  left: calc(-100% + 5px);
  top: -10%;
  background-color: #1d252d;
  z-index: 10;
}
#inflatable-boxes{
	width: 100%;
	position: relative;
	z-index: 2;
	.inflatable-box{
		.inflatable-box-content{
			min-height: 358px;
			padding-left: 40px;
			padding-bottom: 10px;
			color: #000;
			h2{
				text-transform: uppercase;
			}
			p{
				font-size: 1rem;
			}
		}
	}
	.carousel{
    width: 500px;
    margin-left: -15px;
    position: initial;
    z-index: 3;
  }
	.carousel__slide--visible {
    transform: rotateY(0);
  }
  .carousel__viewport {
    overflow: visible;
  }
  .carousel__pagination{
  	overflow: hidden;
  }
	.inflatable-box {
  	position: relative;
	  width: 480px;
	  max-width: 480px;
	}
	ol.carousel__track{
		li{
			padding: 0;
			&:before{
				background-color:transparent;
			}
		}
	}
	ol.carousel__pagination{
		li.carousel__pagination-item{
			padding: 0;
			&:before{
				background-color:transparent;
			}
		}
	}
	.carousel__prev{
		margin-right: 250px;
		font-size: 0;
		position: absolute;
  	bottom: -6rem;
  	left: calc(50% - 180px);
  	top: auto;
		color:#1D252D;
		padding: 0;
		width: 19px;
		height: 16px;
		background-color: transparent;
		svg{
			display: none;
		}
		&:after{
			position: absolute;
			content: "";
			right: 0;
			top: 0;
			background-image: url('$img/icons/pointer-left.svg');
			background-size: contain;
			width: 9px;
			height: 16px;
			background-repeat: no-repeat;
		}
	}
	.carousel__next{
		font-size: 0;
		position: absolute;
  	bottom: -6rem;
  	right: calc(50% - 180px);
  	top: auto;
		color:#1D252D;
		padding: 0;
		width: 19px;
		height: 16px;
		background-color: transparent;
		svg{
			display: none;
		}
		&:after{
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			background-image: url('$img/icons/pointer-right.svg');
			background-size: contain;
			width: 9px;
			height: 16px;
			background-repeat: no-repeat;
		}
	}
	.carousel__pagination{
	  width: 206px;
	  padding: 0;
    position: absolute;
    bottom: -7.5rem;
    left: calc(50% - 103px);
    &.disabled{
    	display: block !important;
    }
    .carousel__pagination-item{
    	padding: 0;
    	button.carousel__pagination-button{
				width: 30px;
		    height: 4px;
		    background: #fff;
		    border-radius: 0;
		    margin: 5px 2px;
		    padding: 0;
		    border: 0;
				&.carousel__pagination-button--active{
					border-top: 2px solid #F6CF3C;
		    	border-bottom: 2px solid #F6CF3C;
				}
				&:after{
					display: none;
				}
			}
    }
	}	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	#inflatable-boxes{
		width: 100%;
		.inflatable-box{
			width: 100%;
			img{
				width: 100% !important;
				height: auto;
			}
		}
		
	}
}
@media only screen and (max-width : 767px){
	#inflatable-boxes{
		width: 100%;
		max-width: 100%;
		.carousel{
			width: 100%;
		}
		.inflatable-box{
			width: calc(100vw - 2rem);
			margin-right: 15px;
			img{
				width: 100% !important;
			}
		}
		.carousel__prev,
		.carousel__next{
			bottom: -5rem;
		}
		.carousel__pagination{
			bottom: -6.5rem;
		}
	}
	.hide-the-left{
		display: none;
	}
}
</style>