<template>
  <div class="container-fluid pt-3">
    <div class="row pb-5 mob-py-0">
      <div class="container-fluid">
        <div class="row" v-if="activities.length > 0">
          <div class="col-12 px-0">
            <div class="activity-preview mb-5 py-5 mob-mb-0 mob-pt-0 ipad-mb-0" v-for="(activity, key) in activities" :key="key" :class="isOdd(key) ? 'odd' : 'even'">
              <div class="activity-image">
                <picture>
                  <source media="(min-width: 1500px)" :srcset="activity.doublewebp" type="image/webp"/> 
                  <source media="(min-width: 1500px)" :srcset="activity.double" :type="activity.mimetype"/> 
                  <source media="(min-width: 768px)" :srcset="activity.normalwebp" type="image/webp"/> 
                  <source media="(min-width: 768px)" :srcset="activity.normal" :type="activity.mimetype"/> 
                  <source media="(min-width: 1px)" :srcset="activity.featuredwebp" type="image/webp"/> 
                  <source media="(min-width: 1px)" :srcset="activity.featured" :type="activity.mimetype"/> 
                  <img :src="activity.featured" :type="activity.mimetype" :alt="activity.title" class="backdrop-content lazy" />
                </picture>
              </div>
              <div class="preview-box card bg-primary p-5 mob-px-3 mob-pb-4 text-dark text-center text-lg-left" data-aos="fade-right" v-if="isOdd(key)">
                <!-- <div v-if="activity.location.id == 2" class="get-3-for-2">FLASH SALE<br/>3 FOR 2!</div> -->
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell align-middle w-100 h-100">
                    <p class="box-title-top text-grey"><a :href="'/locations/'+activity.location.slug" class="text-grey">@{{activity.location.title}}</a></p>
                    <p class="mimic-h1">{{activity.title}}</p>
                    <p class="mb-4 activity-summary">{{activity.summary}}</p>
                    <p class="mb-0">
                      <a :href="'/activities/' +activity.location.slug +'/'+ activity.slug" >
                        <button type="button" class="btn btn-black btn-icon d-inline-block">Book Now <i class="custom-icon chevron-double-right-white"></i></button>
                      </a>
                    </p>
                    <p class="button-after button-after-dark mt-1 pl-2 mb-0" v-if="activity.id != 4"><a :href="'/activities/' +activity.location.slug +'/'+ activity.slug" ><i class="return-arrow"></i> More Info</a></p>
                    <p class="button-after button-after-dark mt-1 pl-2 mb-0" v-else><a href="/offers-and-discounts/2021-10-05/toddler-bounce-newtownbreda" ><i class="return-arrow"></i> Book tots session here</a></p>
                  </div>
                </div>
              </div>
              <div class="preview-box card bg-primary p-5 mob-px-3 mob-pb-4 text-dark text-center text-lg-left" data-aos="fade-left" v-else>
                <!-- <div v-if="activity.location.id == 2" class="get-3-for-2">FLASH SALE<br/>3 FOR 2!</div> -->
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell align-middle w-100 h-100">
                    <p class="box-title-top text-grey"><a :href="'/locations/'+activity.location.slug" class="text-grey">@{{activity.location.title}}</a></p>
                    <p class="mimic-h1">{{activity.title}}</p>
                    <p class="mb-4 activity-summary">{{activity.summary}}</p>
                    <p class="mb-0">
                      <a :href="'/activities/' +activity.location.slug +'/'+ activity.slug" >
                        <button type="button" class="btn btn-black btn-icon d-inline-block">Book Now <i class="custom-icon chevron-double-right-white"></i></button>
                      </a>
                    </p>
                    <p class="button-after button-after-dark mt-1 pl-2 mb-0" v-if="activity.id != 4"><a :href="'/activities/' +activity.location.slug +'/'+ activity.slug" ><i class="return-arrow"></i> More Info</a></p>
                    <p class="button-after button-after-dark mt-1 pl-2 mb-0" v-else><a href="/offers-and-discounts/2021-10-05/toddler-bounce-newtownbreda" ><i class="return-arrow"></i> Book tots session here</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row py-5" v-else>
          <div class="col-lg-6">
            <h3 class="mb-0">Sorry no results found</h3>
            <p>Sorry, there are no activities available at the moment. Please check again later!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      activities: Array
    },
    methods: {
      isOdd(num) { return num % 2;},
      openCheckout(id){
        RollerCheckout.showProduct({productId: id});
        // RollerCheckout.show();
      }
    }
  }
</script>
<style lang="scss">
  .get-3-for-2{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 120px;
    height: 120px;
    padding-top: 35px;
    border-radius: 100%;
    background: #ED4343;
    color: #fff;
    font-weight: 900;
    text-align: center;
    font-size: 16px;
  }
  .get3for2{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 110px;
    height: 110px;
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px)  {
    .get3for2 {
      top: -2rem;
      right: -1rem;
      width: 90px;
      height: 90px;
    }
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) {
    .get-3-for-2 {
      top: -2rem;
      right: 1rem;
      width: 120px;
      height: 120px;
    }
    .get3for2 {
      top: -2rem;
      right: 1rem;
    }
  }
  @media only screen and (max-width : 767px){
    .get3for2 {
      top: -2rem;
      right: -0.5rem;
      width: 80px;
      height: 80px;
    }
    .get-3-for-2 {
      top: -2rem;
      right: -0.5rem;
      padding-top: 28px;
      font-size: 10px;
      width: 80px;
      height: 80px;
    }
  }
</style>