<template>
  <header id="skydiving-header" class="container-fluid position-relative full-height home-top bg bg-down-up z-1">
    <div id="skydiving-slider">
      <div id="slides">
      	<div class="slide">
          <span class="animate in super-man"></span>
          <div class="static-content">
            <div class="slide-info">
              <div class="container container-wide full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle mob-pl-4">
                    <p class="home-title-top text-uppercase text-primary mb-2" style="line-height: 1;">Gift your Father an unforgettable<br class="d-lg-none" /> experience this Father's Day! </p>
                    <h2 class="text-uppercase">Get your<br/>voucher now</h2>
                    <a href="/gift-vouchers#bookonline">
                      <button type="button" class="btn btn-primary btn-icon mb-hp-btm mob-mt-2">Buy Voucher <i class="custom-icon chevron-double-right"></i></button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <span class="animate in home-indoor-skydiving"></span>
          <div class="static-content">
            <div class="slide-info">
              <div class="container container-wide full-height">
                <div class="d-table w-100 h-100">
                  <div class="d-table-cell w-100 h-100 align-middle mob-pl-4">
                    <p class="home-title-top text-uppercase text-primary"><a href="/locations/titanic-quarter">@Titanic Quarter</a></p>
                    <h2 class="text-uppercase">Indoor<br/>Skydiving </h2>
                    <button type="button" class="btn btn-primary btn-icon mb-hp-btm mob-mt-2 booknowbtn">Book Now <i class="custom-icon chevron-double-down"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cut"></div>
      <div id="skydiving-slider-info" class="slideshow" data-ride="carousel">
        <div class="slide-indicators">
          <div class="container container-wide position-relative px-0">
            <span class="slide-indicator" :class="slideNumber == 0 ? 'active' : 'not-active'"></span>
            <span class="slide-indicator" :class="slideNumber == 1 ? 'active' : 'not-active'"></span>
          </div>
        </div>
      </div>
    </div>
    <top-details></top-details>
  </header>
</template>
<script>
  require('../../plugins/jquery.subtle-slideshow.js');
  export default {
    data() {
      return {
        slideNumber: 0,
        interval: 7000,
        slides: 2,
      }
    },
    mounted(){
    	 $(".booknowbtn").click(function (){
        $('html, body').animate({
          scrollTop: $("#bookonline").offset().top -100
        }, 500);
      });
      var app = this;
      window.setInterval(function(){
        if(app.slides > app.slideNumber){
          app.slideNumber++;
        }else{
          app.slideNumber = 0;
        }
      },app.interval);
      // These are te default settings.
      $('#slides').slideshow({
        randomize: false,      // Randomize the play order of the slides.
        slideDuration: 7000,  // Duration of each induvidual slide.
        fadeDuration: 500,    // Duration of the fading transition. Should be shorter than slideDuration.
        animate: true,        // Turn css animations on or off.
        pauseOnTabBlur: false, // Pause the slideshow when the tab is out of focus. This prevents glitches with setTimeout().
        enableLog: true      // Enable log messages to the console. Useful for debugging.
      });
    }
  }
</script>
<style lang="scss" scoped>

.temp-bg{
  background-image: url('/img/temp/temp.png');
}
$slide-distance: calc((4vw + 4vh + 4%)/3);

$slide-distance-ms: 4%; // IE11 does not support calc() in transform:translate;

$slide-distance-negative: calc((-4vw + -4vh + -4%)/3);

$zoom-scale: 1.15;

// Option for slide distance without calc(). More compatible but not as
// consistant on screens that are not exactely square.
//
// $slide-distance: 5%;
// $slide-distance-negative: -5%;

// The 0.01deg rotation is a hack to make the animations smooth on Firefox


@-webkit-keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

@keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

#skydiving-header{
  min-height: 750px;
  height: calc(100vh - 34px);
  .full-height{
    min-height: 750px;
    height: calc(100vh - 34px);
  }
}
.no-webp{
  .super-man{
    background-image: url('/img/activities/super-man.jpg');
  }
}
.webp{
  .super-man{
    background-image: url('/img/activities/super-man.webp');
  }
}
.home-full-height{
  min-height: 750px;
}
#skydiving-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  #slides {
      position: absolute;
      width: 1px;
      height: 1px;
      left: -9999px;
    }
    #slideshow {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .slide, span, .static-content {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .slide-info{
          position: absolute;
          background-color: rgba(29,37,45,0.5);
          width: 100%;
          height: 100%;
          h2{
            position: relative;
            display: inherit;
            font-size: 10rem;
            letter-spacing: 1px;
            line-height: 0.8;
            color: #fff;
            &.smaller{
              font-size: 9rem;
            }
            .this-easter{
              position: absolute;
              bottom: -112px;
              width: 200px;
              left: 300px;
              transform: rotate(-19deg);
            }
          }
          p{
            &.home-title-top{
              font-family: Tungsten, sans-serif;
              color: #F6CF3C;
              font-size: 2.5rem;
              margin-bottom: 0;
              margin-top: -30px;
              text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
            }
          }
        }
      }

      .slide {

        span {
          background-size: cover;
          background-position: center;
        }

        span.animate.right, span.animate.left {
          left: $slide-distance-negative;
          right: $slide-distance-negative;
        }

        span.animate.up, span.animate.down {
          top: $slide-distance-negative;
          bottom: $slide-distance-negative;
        }

      }

      // Time gets set by JS

      span.animate {
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
      }

      span.animate.right {
        -webkit-animation-name: right;
                animation-name: right;
      }

      span.animate.left {
        -webkit-animation-name: left;
                animation-name: left;
      }

      span.animate.up {
        -webkit-animation-name: up;
                animation-name: up;
      }

      span.animate.down {
        -webkit-animation-name: down;
                animation-name: down;
      }

      span.animate.in {
        -webkit-animation-name: in;
                animation-name: in;
      }

      span.animate.out {
        -webkit-animation-name: out;
                animation-name: out;
      }

      span.animate.paused {
        -webkit-animation-play-state: paused;
                animation-play-state: paused;
      }

    }
}
#skydiving-slider-info{
  position: absolute;
  top: 0;
  left: calc(50% - 750px - 6rem);
  width: 8px;
  height: 100%;
  z-index: 2;
  .slide-indicators{
    position: absolute;
    top: calc(50% - 129px);
    left: 5rem;
    width: 100%;
    margin: auto;
    .slide-indicator{
      height: 24px;
      width: 8px;
      background-color: #fff;
      margin-bottom: 7px;
      display: block;
      &.active{
        background-color: #F6CF3C;
      }
    }
  }
}
// Desktop
@media only screen and (min-width : 1240px){
  #skydiving-slider-info{
    left: calc(50% - 600px - 6rem);
  }
}
// Desktop
@media only screen and (min-width : 1340px){
  #skydiving-slider-info{
    left: calc(50% - 650px - 6rem);
  }
}
// Desktop
@media only screen and (min-width : 1440px){
  #skydiving-slider-info{
    left: calc(50% - 700px - 6rem);
  }
}

// Desktop
@media only screen and (min-width : 1500px){
  #skydiving-slider-info{
    left: calc(50% - 700px - 6rem);
  }
}

// Desktop
@media only screen and (min-width : 1540px){
  #skydiving-slider-info{
    left: calc(50% - 750px - 6rem);
  }
}

@media only screen 
and (min-width : 770px) 
and (min-height : 720px) 
and (max-height : 850px) 
and (orientation : landscape) {
  // #skydiving-slider-info .slide-indicators{
  //   top: calc(50% - 245px);
  // }
  // .mb-hp-btm{
  //   margin-bottom: 210px;
  // }
}

@media only screen 
and (min-width : 770px) 
and (min-height : 600px) 
and (max-height : 719px) 
and (orientation : landscape) {
  // #skydiving-slider-info .slide-indicators{
  //   top: calc(50% - 302px);
  // }
  // .mb-hp-btm{
  //   margin-bottom: 320px;
  // }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  #skydiving-header{
    min-height: 750px;
    .full-height{
      min-height: 750px;
    }
  }
  .mb-hp-btm{
    margin-bottom: 50px;
  }
  #skydiving-slider{
    #slideshow {
      .slide, span, .static-content {
        .slide-info{
          h2{
            font-size: 9rem;
            letter-spacing: 1px;
            line-height: 0.8;
            color: #fff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 767px){
  .home-full-height{
    min-height: 700px;
  }
  #skydiving-header{
    min-height: 700px;
    height: 700px;
    .full-height{
      min-height: 700px;
      height: 700px;
    }
  }
  #skydiving-slider #slideshow .static-content{
    .slide-info{
      h2{
        font-size: 19vw;
        &.mob-a-bit-smaller{
          font-size: 14vw;
        }
        .this-easter{
          position: absolute;
          bottom: auto;
          width: 110px;
          left: -22px;
          transform: rotate(-11deg);
          top: -120px;
        }
      }
      p{
        &.home-title-top{
          margin-top: -17vw;
          font-size: 6vw;
        }
      }
    }
  }
  #skydiving-slider-info{
    left: 0;
    .slide-indicators{
      left: 4vw;
      top:calc(50% - 117px);
      .slide-indicator{
        height: 4vw;
        width: 1vw;
      }
    }
  }
}
@media only screen and (max-width : 320px){
  #skydiving-header{
    min-height: 600px;
    height: 600px;
    .full-height{
      min-height: 600px;
      height: 600px;
    }
  }
}
</style>