<template>
  <div class="container pt-3 ">
    <div class="row pb-5 mob-py-0" v-if="posts.length > 0">
      <div class="col-12 mb-5 mt-5 mob-mt-0" v-for="post in posts">
        <div class="row">
          <div class="col-lg-4">
            <a :href="'/news/' +moment(post.created_at) +'/'+ post.slug" >
              <div class="backdrop overflow-hidden pb-3">
                <picture>
                  <source :srcset="post.featuredwebp" type="image/webp"/> 
                  <source :srcset="post.featured" :type="post.mimetype"/> 
                  <img :src="post.featured" :type="post.mimetype" :alt="post.title" class="backdrop-content lazy" />
                </picture>
                <div class="backdrop-back" data-aos="fade-down-right"></div>
              </div>

            </a>
          </div>
          <div class="col-lg-8 pl-3 pt-4 mob-pl-4">
            <p class="news-title-top text-light">{{niceDate(post.created_at)}}</p>
            <h3 class="mb-1 text-uppercase post-title">{{post.title}}</h3>
            <p class="mb-2">{{post.excerpt}} <a :href="'/news/' +moment(post.created_at) +'/'+ post.slug" >[...]</a></p>
            <p class="text-title read-more-news text-uppercase mb-0"><a :href="'/news/' +moment(post.created_at) +'/'+ post.slug" >Read Article <i class="fa fa-angle-double-right ml-2"></i></a></p>
          </div>
        </div>
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6">
        <h3 class="mb-0">Sorry no results found</h3>
        <p>Sorry, there are no news articles available at the moment. Please check again later!</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      posts: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  h3.post-title{
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
  }
  p.read-more-news{
    font-size: 1.4rem;
  }
  .news-title-top{
    font-weight: 300;
    line-height: 1;
    font-size: 1.5rem;
    font-family: Tungsten, sans-serif;
    text-transform: uppercase;
    color: #1D252D;
    margin-bottom: 5px;
  }
  @media only screen and (max-width: 767px){
    p.read-more-news{
      font-size: 7.5vw;
    }
  }
</style>