.no-webp{
	.home-indoor-skydiving{
		background-image: url('$img/bg/home-indoor-skydiving.jpg?v1.0');
	}
	.home-inflatable-titanic{
		background-image: url('$img/bg/home-inflatable-titanic.jpg');
	}
	.home-birthday-parties{
	    background-image: url('$img/parties/birthdays.jpg');
	}
	.inflatable-titanic{
		background-image: url('$img/locations/inflatable-titanic.jpg');
	}
	.home-inflatable-newtownbreda{
		background-image: url('$img/bg/home-inflatable-newtownbreda.jpg');
	}
	.home-ninja{
		background-image: url('$img/bg/home-ninja.jpg');
	}
	.titanic-ninja{
		background-image: url('$img/locations/ninja-titanic.jpg');
	}
	.home-adventure{
		background-image: url('$img/bg/home-adventure-2.jpg');
	}
	.cargo-top{
		background-image: url('$img/cargo/cargo-top.jpg?v3.0');
	}
	.cargo-top-2{
		background-image: url('$img/cargo/cargo-top-2.jpg');
	}
	.cargo-top-3{
		background-image: url('$img/cargo/cargo-top-3.jpg');
	}
	.cargo-top-4{
		background-image: url('$img/cargo/cargo-top-4.jpg');
	}
	.titanic-top{
		background-image: url('$img/locations/titanic.jpg');
	}
	.newtownbreda1{
		background-image: url('$img/locations/newtownbreda1.jpg');
	}
	.newtownbreda2{
		background-image: url('$img/locations/newtownbreda2.jpg');
	}
	.newtownbreda3{
		background-image: url('$img/locations/newtownbreda3.jpg');
	}
	.cargo-events-header{
		background-image: url('$img/cargo/home-cargo-1.jpg');
	}
	.cargo-video-header{
		background-image: url('/vid/cargo-video-poster.jpg');
	}
	.hideout-rb-header{
		background-image: url('$img/cargo/events/hideout/hideout-bg.jpg');
	}
	.snow-bg{
		background-image: url('$img/offers/christmas/snow.png');
	}
	.cargo-xmas-header{
		background-image: url('$img/cargo/xmas-header.jpg');
	}
	.christmas-voucher-bg{
		background-image: url('$img/bg/christmas/christmas-voucher-bg.jpg');
	}
	.workforus_bg{
		background-image: url('$img/workforus/vertigo.jpg');
	}
	.home-inf-new{
		background-image: url('$img/home/inf-new.jpg');
	}
	.birthdays-3for2-1{
	    background-image: url('$img/offers/birthdays/birthdays-home.jpg');
	}
	.birthdays-3for2-home{
	    background-image: url('$img/offers/birthdays/birthdays-cover.jpg');
	}
	.cant-choose{
		background-image: url('$img/home/cant-choose.jpg');
	}
	.jump-into-summer{
		background-image: url('$img/home/jump-into-summer.jpg');
	}
	.balloons-bg{
		background-image: url('$img/bg/birthdays/balloons-bg.png');
	}
}
.webp{
	.home-indoor-skydiving{
		background-image: url('$img/bg/home-indoor-skydiving.webp?v1.0');
	}
	.home-inflatable-titanic{
		background-image: url('$img/bg/home-inflatable-titanic.webp');
	}
	.home-birthday-parties{
    background-image: url('$img/parties/birthdays.webp');
  }
	.inflatable-titanic{
		background-image: url('$img/locations/inflatable-titanic.webp');
	}
	.home-inflatable-newtownbreda{
		background-image: url('$img/bg/home-inflatable-newtownbreda.webp');
	}
	.home-ninja{
		background-image: url('$img/bg/home-ninja.webp');
	}
	.titanic-ninja{
		background-image: url('$img/locations/ninja-titanic.webp');
	}
	.home-adventure{
		background-image: url('$img/bg/home-adventure-2.webp');
	}
	.cargo-top{
		background-image: url('$img/cargo/cargo-top.webp?v3.0');
	}
	.cargo-top-2{
		background-image: url('$img/cargo/cargo-top-2.webp');
	}
	.cargo-top-3{
		background-image: url('$img/cargo/cargo-top-3.webp');
	}
	.cargo-top-4{
		background-image: url('$img/cargo/cargo-top-4.webp');
	}
	.titanic-top{
		background-image: url('$img/locations/titanic.webp');
	}
	.newtownbreda1{
		background-image: url('$img/locations/newtownbreda1.webp');
	}
	.newtownbreda2{
		background-image: url('$img/locations/newtownbreda2.webp');
	}
	.newtownbreda3{
		background-image: url('$img/locations/newtownbreda3.webp');
	}
	.cargo-events-header{
		background-image: url('$img/cargo/home-cargo-1.webp');
	}
	.cargo-video-header{
		background-image: url('/vid/cargo-video-poster.webp');
	}
	.hideout-rb-header{
		background-image: url('$img/cargo/events/hideout/hideout-bg.webp');
	}
	.snow-bg{
		background-image: url('$img/offers/christmas/snow.webp');
	}
	.cargo-xmas-header{
		background-image: url('$img/cargo/xmas-header.webp');
	}
	.christmas-voucher-bg{
		background-image: url('$img/bg/christmas/christmas-voucher-bg.webp');
	}
	.workforus_bg{
		background-image: url('$img/workforus/vertigo.webp');
	}
	.home-inf-new{
		background-image: url('$img/home/inf-new.webp');
	}
	.birthdays-3for2-1{
	    background-image: url('$img/offers/birthdays/birthdays-home.webp');
	}
	.birthdays-3for2-home{
	    background-image: url('$img/offers/birthdays/birthdays-cover.webp');
	}
	.cant-choose{
		background-image: url('$img/home/cant-choose.webp');
	}
	.jump-into-summer{
		background-image: url('$img/home/jump-into-summer.webp');
	}
	.balloons-bg{
		background-image: url('$img/bg/birthdays/balloons-bg.webp');
	}
}

.bg{
	@include background();
}
.bg-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.bg-repeat{
	background-size: 500px;
	background-repeat: repeat;
	background-position: center;
}
.dark-bg{
	background-color: $navy;
}
.bg-green{
	background-color: $green !important;
}
.bg-blue{
	background-color: $primary !important;
}
.bg-fixed{
	background-attachment: fixed;
}
.bg-light{
	background-color: $lightbg !important;
}
.video-grad{
	width: 100%;
	height: 200px;
	top: 0;
	left: 0;
	position: absolute;
	background: rgb(17,18,19);
	background: linear-gradient(0deg, rgba(17,18,19,0) 0%, rgba(17,18,19,1) 100%);
}
.gif-grad {
    width: calc(100% - 1rem);
    height: 200px;
    bottom: 1rem;
    left: 0;
    position: absolute;
    background: #111213;
    background: linear-gradient(0deg, #111213 0%, rgba(17, 18, 19, 0) 100%);
}