.btn{
	display: block;
	border-radius: 0;
	font-family: $title;
	border:0 !important;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	width: 100%;
	height: 60px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 13px 20px;
	max-width: 262px;
	min-width: 262px;
	cursor: pointer;
	@include transition(300ms);
	&.w-100{
		max-width: 100000px;
	}
	&.btn-icon{
		text-align: left !important;
		i{
			position: absolute;
			right: 15px;
			top: 17px;
			font-size: 1.5rem;
			@include transition(300ms);
			&.custom-icon{
  			width: 1.3rem;
  			height: 1.3rem;
  			top: 22px;
  			background-size: contain;
  			background-repeat: no-repeat;
  			&.chevron-double-right{
  				background-image: url('$img/icons/chevron-double-right.svg');
  			}
  			&.chevron-double-down{
  				top:20px;
  				background-image: url('$img/icons/chevron-double-down.svg');
  			}
  			&.chevron-double-up{
  				top:20px;
  				background-image: url('$img/icons/chevron-double-up.svg');
  			}
  			&.chevron-double-up-white{
  				top:20px;
  				background-image: url('$img/icons/chevron-double-up-white.svg');
  			}
  			&.chevron-double-down-white{
  				top:20px;
  				background-image: url('$img/icons/chevron-double-down-white.svg');
  			}
  			&.chevron-double-right-white{
  				background-image: url('$img/icons/chevron-double-right-white.svg');
  			}
  		}
		}
		img{
			position: absolute;
			right: 15px;
			top: 17px;
			font-size: 1.5rem;
			@include transition(300ms);
			&.custom-icon{
  			width: 1.3rem;
  			height: 1.3rem;
  			top: 22px;
  		}
		}
		&:hover{
			transform: none !important;
			i{
				right: 10px;
				&.chevron-double-down,
				&.chevron-double-down-white{
					right: 15px;
					top: 25px;
				}
				.chevron-double-up,
				&.chevron-double-up-white{
					right: 15px;
					top: 15px;
				}
			}
		}
	}
	&:hover{
		transform: scale(1.02);
	}
}
.btn-primary{
	background-color: $primary;
	color: $black;
	&:hover{
		background-color: $primary;
		color: $black !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $black;
	}
}
.btn-white{
	background-color: $white;
	color: $black;
	&:hover{
		background-color: $white;
		color: $black !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $black;
	}
}
.btn-black{
	background-color: $black;
	color: $white;
	&:hover{
		background-color: $black;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-red{
	background-color: #d90000;
	color: $white;
	&:hover{
		background-color: #d90000;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.button-after{
	font-size: 1.4rem;
	font-family: $title;
	text-transform: uppercase;
	i.return-arrow{
		width: 1.4rem;
		height: 1.4rem;
		display: inline-block;
    background-position: 0 5px;
		background-image: url('$img/icons/return-arrow-yellow.svg');
		background-size: contain;
		background-repeat: no-repeat;
	}
	&.button-after-primary{
		color: $primary;
		a{
			color: $primary;
		}
		i.return-arrow{
			background-image: url('$img/icons/return-arrow-yellow.svg');
		}
	}
	&.button-after-white{
		color: $white;
		a{
			color: $white;
		}
		i.return-arrow{
			background-image: url('$img/icons/return-arrow-white.svg');
		}
	}
	&.button-after-dark{
		color: $black;
		a{
			color: $black;
		}
		i.return-arrow{
			background-image: url('$img/icons/return-arrow-black.svg');
		}
	}
}
#activities-banner{
	.custom-icon{
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 10px;
    right: calc(0px - 1.5rem);
		display: inline-block;
		background-size: contain;
		background-repeat: no-repeat;
		@include transition(300ms);
		&.chevron-double-right{
			background-image: url('$img/icons/chevron-double-right.svg');
		}
	}
	&:hover{
		.custom-icon{
			right: calc(0px - 1.8rem) !important;
		}
	}
}
@media only screen and (max-width : 1024px) and (hover: none){
	.btn{
		width: 100%;
		height: 60px;
		font-size: 1.6rem;
		font-weight: 600;
		padding: 13px 20px;
		max-width: 262px;
		min-width: 262px;
		&.btn-icon{
			text-align: left !important;
			i{
				position: absolute;
				right: 15px;
				top: 17px;
				font-size: 1.5rem;
				@include transition(300ms);
				&.custom-icon{
	  			width: 1.3rem;
	  			height: 1.3rem;
	  			top: 22px;
	  		}
	  	}
			&:hover,
			&:focus{
				i{
	    		position: absolute;
					right: 15px;
					top: 17px;
					font-size: 1.5rem;
					@include transition(300ms);
					&.custom-icon{
		  			width: 1.3rem;
		  			height: 1.3rem;
		  			top: 22px;
		  		}
	    	}
	    	img{
					position: absolute;
					right: 15px;
					top: 17px;
					font-size: 1.5rem;
					&.custom-icon{
		  			width: 1.3rem;
		  			height: 1.3rem;
		  			top: 22px;
		  		}
				}
			}
    }
	}
}


@media only screen and (max-width : 767px) and (hover: none){
	.btn{
    max-width: 220px;
    min-width: 220px;
    padding: 10px 15px;
    height: 50px;
    font-size: 22px;
    &.btn-icon{
    	i{
    		font-size: 18px;
    		top: 17px !important;
    		&.custom-icon{
    			width: 1rem;
    			height: 1rem;
    			top: 19px !important;
    			&.chevron-double-up,
    			&.chevron-double-down,
    			&.chevron-double-up-white,
    			&.chevron-double-down-white{
    				top: 17px !important;
    			}
    		}
    	}
    	img.custom-icon {
		    width: 1rem;
		    height: 1rem;
		    top: 18px !important;
			}
			&:hover,
			&:focus{
				i{
	    		font-size: 18px;
	    		top: 17px !important;
	    		&.custom-icon{
	    			width: 1rem;
	    			height: 1rem;
	    			top: 19px !important;
	    			&.chevron-double-up,
	    			&.chevron-double-down,
	    			&.chevron-double-up-white,
	    			&.chevron-double-down-white{
	    				top: 17px !important;
	    			}
	    		}
	    	}
	    	img.custom-icon {
			    width: 1rem;
			    height: 1rem;
			    top: 18px !important;
				}
			}
    }
	}
}
