#app{
	min-height: 100vh;
	&.admin{
		padding-top: 95px;
	}
}
.cut {
  background: #1D252D;
  position: absolute;
  bottom: -240px;
  left: -100px;
  width: calc(100% + 200px);
  height: 300px;
  transform-origin: center top;
  transform: rotate(4deg);
  z-index: 5;
}
.primary-line{
	border-top: 2px solid $primary;
}
.green-line{
	border-top: 2px solid $green;
}
.rounded{
	position: relative;
	border-radius: 30px !important;
	.close{
		position: absolute;
		top: 1.2rem;
		right: -1.5rem;
		cursor: pointer;
	}
}
.overflow-x-hidden{
	overflow-x: hidden;
	overflow-y: visible;
}
.search-page{
	min-height: 100vh;
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.z-3{
	z-index: 3;
}
.z-100{
	z-index: 3;
}
.list-style-none{
	list-style: none;
}
.rounded-box{
	border-radius: 5px;
}
.card{
	border-radius:0;
	border: 0;
	@include boxShadow();
}
.full-height{
	height: 100vh;
}
.ipad-height{
	height: 768px;
	max-height: 100vh;
}
.modal{
	background-color: rgba(0,0,0, 0.8);
	text-align: center;
	z-index: 1500;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.testimonial-quote{
	width: 100px;
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.trans{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $transgrey;
}
.trans-dark{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
.blog-body{
	font-size: 1.1rem;
	img{
		max-width: 100%;
	}
	p{
		margin-bottom: 0;
	}
	strong{

	}
	blockquote{
		background-color: transparent;
		color: $black;
    padding: 1rem;
    font-style: none;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 1.3;
    border-left: 2px solid #000;
	}
	h2{
		margin-bottom: 0;
	}
}
.mw-100{
	max-width: 100vw !important;
}
#map{
	position: absolute;
	top: 100px;
	right: 0;
	width: 45vw;
	height: calc(100vh - 100px);
}
.zoom-link{
	cursor: pointer;
	.zoom-img{
		width: 100%;
		height: 233px;
		max-height: 233px;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
	    top:-100%; left:0; right: 0; bottom:-100%;
	    margin: auto;
	    @include transition(300ms);
		}
		&.product-image{
			height: 100%;
			max-height: inherit;
			img{
				position: relative;
			}
		}
	}
	&:hover{
		.zoom-img{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.shadow{
	@include boxShadow();
}

.home-chevrons-right-double{
	position: absolute;
  right: -300px;
  top: 0;
  width: 870px;
  height: 870px;
	content: "";
	background-image: url('$img/graphics/chevrons-right-double.svg');
	background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;
}
.home-chevrons-left-1{
  position: absolute;
  left: -150px;
  bottom: -260px;
  width: 565px;
  height: 565px;
  z-index: 0;
}
.home-chevrons-right-1{
	position: absolute;
  right: -150px;
  bottom: -260px;
  width: 565px;
  height: 565px;
  z-index: 0;
}
.top-chevrons-right{
	position: absolute;
  right: -450px;
  bottom: 0px;
  width: 565px;
  height: 565px;
  z-index: 0;
}
.home-chevrons-left-2{
	position: absolute;
  left: -150px;
  top: -260px;
  width: 565px;
  height: 565px;
  z-index: 0;
}
.cargo-chevrons-right-1{
	position: absolute;
  right: -150px;
  bottom: 0;
  width: 565px;
  height: 565px;
  z-index: 0;
}
.backdrop{
	position: relative;
	text-align: left;
  .backdrop-content{
    position: relative;
    z-index: 1;
    width: calc(100% - 1rem) !important;
  }
  .backdrop-back{
    position: absolute;
    content: "";
    width: calc(100% - 1rem);
    height: 100%;
    top: 1rem;
    left: 1rem;
    z-index: 0;
    background-color: #F6CF3C;
  }
}
#bookonline{
	.bg-primary{
		min-height: 819px;
		&.h-auto{
			min-height: 0px;
		}
	}
}
.activity-preview{
  position: relative;
  width: 1200px;
  min-height: 800px;
  .preview-box{
    position: absolute;
    top: calc(50% - 288px);
    width: 670px;
    height: auto;
    right: -300px;
    z-index: 2;
    -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
    -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
    p.mimic-h1{
      width: 56%;
    }
  }
  .activity-image {
    position: relative;
    width: 1200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
    cursor: pointer;
    img{
      z-index: 1;
      position: relative;
      width: 1200px;
      display: block;
      -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
      -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
      box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
    }
  }
  &.odd{
    margin-left: auto;
    margin-right: 0;
    .preview-box{
      left: -300px;
      right: auto;
    }
    .activity-image {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
.activities-index{
  min-height: 150vh;
}
#home-second-slider .owl-theme,
#home-cargo .owl-theme{
	.owl-dots{
		position: absolute;
		top: 50%;
		left: 0;
		width: 140px;
	  margin: auto;
	  transform: rotate(90deg);
	  .owl-dot{
			span{
				width: 30px;
		    height: 8px;
		    background: #fff;
		    border-radius: 0;
			}
			&.active{
				span{
					background: #F6CF3C;
				}
			}
		}
	}
}	
.faq-btn{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 100%;
  background-color: $primary;
  color: $darkgrey;
  font-size: 1.5rem;
  padding: 0.8rem;
  z-index: 1000;
  width: 60px;
  height: 60px;
  text-align: center;
  overflow: hidden;
  @include boxShadow();
}

lite-youtube {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    max-width: 100vw;
}

/* gradient */
lite-youtube::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
    background-position: top;
    background-repeat: repeat-x;
    height: 60px;
    padding-bottom: 50px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

/* play button */
lite-youtube > .lty-playbtn {
    width: 68px;
    height: 48px;
    position: absolute;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: transparent;
    /* YT's actual play button svg */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');
    filter: grayscale(100%);
    transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
    border: none;
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
    filter: none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
    cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
    opacity: 0;
    pointer-events: none;
}

.lyt-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }


#rd-widget-root .btn{
  max-width: 140px;
  max-height: 30px;
  margin: 15px 0 !important;
}
#rd-widget-root{
  p{
    font-size: 1rem !important;
  }
  h4{
    font-size: 1rem !important;
  }
  .list-group{
    margin-bottom: 0 !important;
  }
  [data-bind="if: showWidgetHeader"]{
    font-size: 12px !important;
    text-align: center !important;
  }
  [data-bind="if: showBookingSummary"]{
    width: 100%;
  }
}
#rd-widget-root [data-bind="if: showWidgetHeader"] .col-xs-12.col-sm-3,
#rd-widget-root [data-bind="if: showBookingSummary"] .col-xs-12.col-sm-9{
  width: 100%;
  float: none;
  max-width: 100%;
  flex: 100%;
}

#rd-widget-root .form-control{
  height: 38px !important;
  font-size: 16px !important;
}

$slide-distance: calc((4vw + 4vh + 4%)/3);

$slide-distance-ms: 4%; // IE11 does not support calc() in transform:translate;

$slide-distance-negative: calc((-4vw + -4vh + -4%)/3);

$zoom-scale: 1.15;

// Option for slide distance without calc(). More compatible but not as
// consistant on screens that are not exactely square.
//
// $slide-distance: 5%;
// $slide-distance-negative: -5%;

// The 0.01deg rotation is a hack to make the animations smooth on Firefox

@-webkit-keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

@keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}
#event-resdiary-holder{
	.res-diary-holder{
		position: relative;
		width: 360px;
		height: auto;
    float: right;
		.res-diary-inner{
			position: relative;
			background-color: #000;
			width: 360px;
			z-index: 1;
      height: 700px;
      max-height: 700px;
      overflow: visible;
		}
		&:after{
			content: "";
			position: absolute;
			top: 1rem;
			left: 1rem;
			width: 100%;
			height: 100%;
			z-index: 0;
			background-color: #F6CF3C;
		}
	}
	.rd-widget-content{
		height: 700px;
	}
	#rd-widget-root .table-return-notice, #rd-mini-widget-root .table-return-notice {
	  color: #fff;
	}
}
.video-header{
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	video {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: 0;
	  -ms-transform: translateX(-50%) translateY(-50%);
	  -moz-transform: translateX(-50%) translateY(-50%);
	  -webkit-transform: translateX(-50%) translateY(-50%);
	  transform: translateX(-50%) translateY(-50%);
	}
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
#cargo-oneoff-event-top{
	min-height: 850px;
	#cargo-top-overlay{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 10;
	}
	.trans{
		z-index: 2;
	}
	.full-height{
    min-height: 850px;
  }
	.cargo-top-logo{
		width: 100%;
	}
	.res-diary-holder{
		position: relative;
		width: 360px;
		height: auto;
    float: right;
		.res-diary-inner{
			position: relative;
			background-color: #000;
			width: 360px;
			z-index: 1;
      height: 700px;
      max-height: 700px;
      overflow: scroll;
      #rd-widget-root{
				min-height: 442px;
		    background: #000;
			}
		}
		&:after{
			content: "";
			position: absolute;
			top: 1rem;
			left: 1rem;
			width: 100%;
			height: 100%;
			z-index: 0;
			background-color: #F6CF3C;
		}
	}
}
.christmas-offer-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	cursor: pointer;
	.title{
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: calc(100% - 1rem);
    text-align: center;
    font-size: 56px;
    z-index: 3;
    &.title-up-a-bit{
    	bottom: 2rem
    }
	}
	.subtext{
		position: absolute;
    bottom: 2rem;
    left: 0;
    width: calc(100% - 1rem);
    text-align: center;
    font-size: 16px;
    z-index: 3;
	}
	.price{
		position: absolute;
		top: 0.5rem;
		right: 1.5rem;
		width: 70px;
		height: 70px;
		border-radius: 100%;
		background-color: $primary;
    color: #000;
   	font-weight: 300;
    font-family: $title;
    text-transform: uppercase;
    padding: 9px 10px;
    text-align: center;
    font-size: 30px;
    line-height: 28px;
    z-index: 3;
		@include boxShadow();
	}
	button{
		position: absolute;
    bottom: -28px;
    z-index: 3;
    left: calc(50% - 130px);
	}
	img{
		z-index: 1;
		position: relative;
	}
	&:after{
		content: "";
		z-index: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		background: rgb(0,0,0);
		background: -moz-linear-gradient(0deg, rgba(0,0,0,0.9) 3%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.9) 3%, rgba(0,0,0,0) 100%);
		background: linear-gradient(0deg, rgba(0,0,0,0.9) 3%, rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
	}
}
body{
	#glistrr_widget_placeholder{
		color: #fff;
		background: $darkgrey;
		h1,h2,h3,h4,h5,h6{
			color: #fff;
		}
		a{
			color: $primary;
			&:hover{
				color: $white;
			}
		}
		.nav > li > a:hover,
		.nav > li > a:focus{
			background-color: $primary;
    	color: $black;
		}
		.glistrr_event{
			background: $darkgrey;
			border: 0 !important;
			border-radius: 0;
			@include boxShadow();
		}
		.checkout-payment-row .pay-now-row,
		.guestlist-row .pay-now-row{
			background: #fff;
		}
		.options_bar{
			display: none;
		}
		.timer_row .alert{
			width: 100%;
		}
		.ticket-box-row{
			background: $darkgrey;
			border-left: 4px solid $primary;
		}
		.event_information{
			.header_information{
				.header_image{
					width: 100%;
					flex: 100%;
					max-width: 100%;
				}
				.header_content{
					width: 100%;
					flex: 100%;
					max-width: 100%;
					text-align: center;
					padding-top: 1rem;
					padding-bottom: 1rem;
				}
			}
		}
		.ticket-button-row{
			.btn{
				min-width: 0 !important;
				background-color: $primary;
				color: $black;
				border-radius: 0;
			}
		}
		.checkout-row{
			h1{
				margin: 15px 4px 10px 15px;
				border-bottom: 1px solid $white;
				padding-bottom: 0.75rem;
			}
		}
		.checkout-cont{
			background: $darkgrey;
			.col-sm-8{
				flex:100%;
				width:100%;
				max-width: 100%;
			}
			.input-group-btn{
				button{
					background-color: $primary;
					color: $black;
					width: 75px;
					min-width: 75px;
				}
			}
		}
		#card-element{
			border-radius: 0;
	    color: #000;
	    background: #fff;
		}
		.promo-box .btn{
			background-color: $primary;
			color: $black;
			width: 75px;
			min-width: 75px;
		}
		.form-control{
			border-radius: 0;
			border: 0;
			&.voucher-code{
				border: 1px solid $white;
			}
		}
		.table{
			color: $white;
		}
		*:before, *:after{
			background-color: transparent !important;
		}
	}
}
.candy-canes{
	position: absolute;bottom: -1rem;right: -1rem;width: 120px;transform: rotate(15deg);
}
.activity-offer-card{
	position: relative;
	.offer-ribbon{
    position: absolute;
    top: -27px;
    left: -36px;
    width: 200px;
    z-index: 3;
	}
	.activity-offer-card-title{
		font-weight: 700;
		font-size: 2rem;
		padding-bottom: 1rem;
		padding-right: 1rem;
		i{
			position: absolute;
			right: 15px;
			bottom: 17px;
			font-size: 1.5rem;
			-webkit-transition: all 300ms ease;
	    -moz-transition: all 300ms ease ;
	    -o-transition: all 300ms ease;
	    transition: all 300ms ease;
			&.custom-icon{
  			width: 1.3rem;
  			height: 1.3rem;
  			bottom: 22px;
  			background-size: contain;
  			background-repeat: no-repeat;
  			&.chevron-double-down{
  				background-image: url('$img/icons/chevron-double-down.svg');
  			}
  		}
		}
	}
	&:before{
		content: "";
		position: absolute;
		top: 1rem;
		left: 1rem;
		width: 100%;
		height: 100%;
		background-color: $primary;
	}
}
#home-activities{
	.home-activity {
  	position: relative;
	  width: 356px;
	  height: 500px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  overflow: hidden;
	  cursor: pointer;
	  padding-top: 2rem;
	  padding-left: 2rem;
	  img{
	  	z-index: 1;
	  	position: relative;
	  	width: calc(100% - 1rem);
	  	margin-top: -3rem;
	  	display: block;
	  	margin-left: -1rem;
	  	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
	  }
	  .activity-info{
	  	position: relative;
	  	padding-top: 1rem;
	  	background-color: #F6CF3C;
	  	.get3for2{
		    position: absolute;
		    top: 1.5rem;
		    right: 2.5rem;
		    width: 90px;
		    height: 90px;
		    z-index: 2;
	  		box-shadow: none !important;
	  		-webkit-box-shadow: none !important;
	  		-moz-box-shadow: none !important;
	  	}
	  	p{
	  		margin-left: 1.5rem;
	  		&.activity-title{
	  			font-weight: 700;
	  			font-size: 2rem;
	  			padding-bottom: 1rem;
	  			padding-right: 1rem;
	  			i{
	  				position: absolute;
						right: 15px;
						bottom: 17px;
						font-size: 1.5rem;
						-webkit-transition: all 300ms ease;
				    -moz-transition: all 300ms ease ;
				    -o-transition: all 300ms ease;
				    transition: all 300ms ease;
	  				&.custom-icon{
			  			width: 1.3rem;
			  			height: 1.3rem;
			  			bottom: 22px;
			  			background-size: contain;
			  			background-repeat: no-repeat;
			  			&.chevron-double-right{
			  				background-image: url('$img/icons/chevron-double-right.svg');
			  			}
			  		}
	  			}
	  		}
	  		&:hover{
	  			&.activity-title{
		  			i{
							right: 10px;
		  			}
		  		}
				}
	  	}
	  }
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible !important;
	}
	.owl-stage{
		margin: auto;
	}
	.owl-theme{
		.owl-nav{
			margin-top: 1rem;
			margin-bottom: -30px;
			.owl-prev{
				margin-right: 240px;
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 25px;
				height: 33px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 0;
					background-image: url('$img/icons/chevron-left.svg');
					background-size: contain;
					width: 25px;
					height: 33px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 25px;
				height: 33px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					background-image: url('$img/icons/chevron-right.svg');
					background-size: contain;
					width: 25px;
					height: 33px;
					background-repeat: no-repeat;
				}
			}
		}
		.owl-dots{
			width: 200px;
		  margin: auto;
		  .owl-dot{
				span{
					width: 30px;
			    height: 8px;
			    background: #fff;
			    border-radius: 0;
				}
				&.active{
					span{
						background: #F6CF3C;
					}
				}
			}
		}
	}	
}
.TA_certificateOfExcellence{
	text-align: center;
	.widCOE2020{
		display: inline-block;
	}
}
.bubble-box{
  background-color: $red;
  color: $white;
  padding: 1rem;
  border-radius: 100%;
  width: 130px;
  height: 130px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  p{
	font-size: 0.9rem;
	font-weight: 700;
	margin-bottom: 0;
	text-transform: uppercase;
  }
}