footer{
    color: #ffffff;
    .bg-darker{
      background-color: #1D252D;
    }
    .footer-bg{
      position: absolute !important;
      bottom: 0;
      left: calc(50% - 1620px);
      width: 4590px;
      height: 100%;
      z-index: 0;
      background-image: url("$img/graphics/footer-bg.svg");
      background-size: 100%;
      background-position: center bottom;
      background-repeat: no-repeat;
    }
    a{
      cursor: pointer;
      color: #ffffff;
      &:hover{
        color: #F6CF3C;
      }
    }
    p{
      font-size: 1.0rem;
    }
    img{
      max-width: 100%;
    }
    .footer-social{
      font-size: 25px;
    }
    .menu_logo{
      width:150px;
    }
  }
  .footer-inner{
    border-top: 2px solid #fff;
  }
  .footer-top{
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    .footer-overlap{
      margin-top: -540px;
      &.team-overlap{
        margin-top: -420px;
      }
    }
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
      footer{
      p{
        &.text-smallest{
          font-size: 16px;
        }
      }
      .mob-line-height{
        font-size: 16px;
        line-height: 2.5;
      }
      .footer-bg{
        background-image: url("$img/graphics/footer-bg-mob.svg");
        background-size: cover;
        left: 0;
        width: 100%;
        height: calc(100% - 210px);
      }
    }
  }
  @media only screen and (max-width : 767px){
    footer{
      p{
        &.text-smallest{
          font-size: 3vw;
        }
      }
      .mob-line-height{
        font-size: 3.5vw;
        line-height: 2.5;
      }
      .footer-bg{
        background-image: url("$img/graphics/footer-bg-mob.svg");
        background-size: cover;
        left: 0;
        width: 100%;
        height: calc(100% - 210px);
      }
    }
  }