// Fonts --------------------

@font-face {
  font-family: Tungsten;
  font-weight: 500;
  font-display: swap;
  src: url("$fonts/Tungsten/Tungsten-Semibold.woff") format("woff"), url("$fonts/Tungsten/Tungsten-Semibold.woff2") format("woff2"), url("$fonts/Tungsten/Tungsten-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: Tungsten;
  font-weight: 700;
  font-display: swap;
  src: url("$fonts/Tungsten/Tungsten-Bold.woff") format("woff"), url("$fonts/Tungsten/Tungsten-Bold.woff2") format("woff2"), url("$fonts/Tungsten/Tungsten-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Tungsten;
  font-weight: 900;
  font-display: swap;
  src: url("$fonts/Tungsten/Tungsten-Black.woff") format("woff"), url("$fonts/Tungsten/Tungsten-Black.woff2") format("woff2"), url("$fonts/Tungsten/Tungsten-Black.ttf") format("truetype");
}

@font-face {
  font-family: Gotham;
  font-weight: 300;
  font-display: swap;
  src: url("$fonts/Gotham/GothamRnd-Book.woff") format("woff"), url("$fonts/Gotham/GothamRnd-Book.woff2") format("woff2"), url("$fonts/Gotham/GothamRnd-Book.ttf") format("truetype");
}

@font-face {
  font-family: Gotham;
  font-weight: 700;
  font-display: swap;
  src: url("$fonts/Gotham/Gotham-Bold.woff") format("woff"), url("$fonts/Gotham/Gotham-Bold.woff2") format("woff2"), url("$fonts/Gotham/Gotham-Bold.ttf") format("truetype");
}

$title: Tungsten, sans-serif;
$body: Gotham, sans-serif;
$fancy: Gotham, sans-serif;

// Body
$body-bg: #1D252D;

// Typography
$font-family-sans-serif: Gotham, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0269DD;
$lightblue: #97C9EB;
$indigo: #6574cd;
$purple: #9254DB;
$pink: #F4406D;
$red: #d90000;
$orange: #FF7141;
$yellow: #FFCB00;
$green: #5CCC4A;
$darkgreen: #42872c;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$formgrey: #757575;

// Colours -----------------
$primary: #F6CF3C; 
$primarylight: #F8D85E;
$primarydark: #FAC912;
$second: #97C9EB;
$white: #fff;
$black: #000;
$navy: #0037D2;
$lightnavy: #465966;
$darknavy: #434343;
$darkgrey: #1D252D;
$midgrey: #D8DDEB;
$lightbg: #FAFAFA;
$lightgrey: #FAFAFA;
$grey: #1D252D;
$bluegrey: #A8B1B7;
$highlight: #FF6A6A;
$mastercard: #FF4D2D;
$visa: #283891;

$transgreylight: rgba(29,37,45,0.4);
$transgrey: rgba(29,37,45,0.4);
$transgreydark: rgba(0,0,0,0.85);
$transwhite: rgba(255,255,255,0.6);
$transblue: rgba(0,0,0,0.32);
$transbluelight: rgba(26,126,244,0.2);
$transbluedark: rgba(38,60,75,0.9);
$transred: rgba(224,38,28,0.8);
$transdark: rgba(19,22,41,0.3);