@-webkit-keyframes in-data-v-41f4befe {
from {
    -webkit-transform: scale(1);
    transform: scale(1);
}
to {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
}
@keyframes in-data-v-41f4befe {
from {
    -webkit-transform: scale(1);
    transform: scale(1);
}
to {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
}
#home-header[data-v-41f4befe] {
  min-height: 850px;
}
#home-header .full-height[data-v-41f4befe] {
  min-height: 850px;
}
#home-slider[data-v-41f4befe] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
#home-slider #slides[data-v-41f4befe] {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -9999px;
}
#home-slider #slideshow[data-v-41f4befe] {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#home-slider #slideshow .slide[data-v-41f4befe], #home-slider #slideshow span[data-v-41f4befe], #home-slider #slideshow .static-content[data-v-41f4befe] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#home-slider #slideshow .slide .slide-info[data-v-41f4befe], #home-slider #slideshow span .slide-info[data-v-41f4befe], #home-slider #slideshow .static-content .slide-info[data-v-41f4befe] {
  position: absolute;
  background-color: rgba(29, 37, 45, 0.5);
  width: 100%;
  height: 100%;
}
#home-slider #slideshow .slide .slide-info h2[data-v-41f4befe], #home-slider #slideshow span .slide-info h2[data-v-41f4befe], #home-slider #slideshow .static-content .slide-info h2[data-v-41f4befe] {
  font-size: 11rem;
  letter-spacing: 1px;
  line-height: 0.8;
  color: #fff;
}
#home-slider #slideshow .slide .slide-info p.home-title-top[data-v-41f4befe], #home-slider #slideshow span .slide-info p.home-title-top[data-v-41f4befe], #home-slider #slideshow .static-content .slide-info p.home-title-top[data-v-41f4befe] {
  font-family: Tungsten, sans-serif;
  color: #F6CF3C;
  font-size: 2.5rem;
  margin-bottom: 0;
}
#home-slider #slideshow .slide span[data-v-41f4befe] {
  background-size: cover;
  background-position: center;
}
#home-slider #slideshow .slide span.animate.right[data-v-41f4befe], #home-slider #slideshow .slide span.animate.left[data-v-41f4befe] {
  left: calc((-4vw + -4vh + -4%)/3);
  right: calc((-4vw + -4vh + -4%)/3);
}
#home-slider #slideshow .slide span.animate.up[data-v-41f4befe], #home-slider #slideshow .slide span.animate.down[data-v-41f4befe] {
  top: calc((-4vw + -4vh + -4%)/3);
  bottom: calc((-4vw + -4vh + -4%)/3);
}
#home-slider #slideshow span.animate[data-v-41f4befe] {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
#home-slider #slideshow span.animate.right[data-v-41f4befe] {
  -webkit-animation-name: right;
  animation-name: right;
}
#home-slider #slideshow span.animate.left[data-v-41f4befe] {
  -webkit-animation-name: left;
  animation-name: left;
}
#home-slider #slideshow span.animate.up[data-v-41f4befe] {
  -webkit-animation-name: up;
  animation-name: up;
}
#home-slider #slideshow span.animate.down[data-v-41f4befe] {
  -webkit-animation-name: down;
  animation-name: down;
}
#home-slider #slideshow span.animate.in[data-v-41f4befe] {
  -webkit-animation-name: in-data-v-41f4befe;
  animation-name: in-data-v-41f4befe;
}
#home-slider #slideshow span.animate.out[data-v-41f4befe] {
  -webkit-animation-name: out;
  animation-name: out;
}
#home-slider #slideshow span.animate.paused[data-v-41f4befe] {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
#home-slider-info[data-v-41f4befe] {
  position: absolute;
  top: 0;
  left: calc(50% - 750px - 6rem);
  width: 8px;
  height: 100%;
  z-index: 2;
}
#home-slider-info .slide-indicators[data-v-41f4befe] {
  position: absolute;
  top: calc(50% - 150px);
  left: 5rem;
  width: 100%;
  margin: auto;
}
#home-slider-info .slide-indicators .slide-indicator[data-v-41f4befe] {
  height: 30px;
  width: 8px;
  background-color: #fff;
  margin-bottom: 7px;
  display: block;
}
#home-slider-info .slide-indicators .slide-indicator.active[data-v-41f4befe] {
  background-color: #F6CF3C;
}
@media only screen and (min-width: 1240px) {
#home-slider-info[data-v-41f4befe] {
    left: calc(50% - 600px - 6rem);
}
}
@media only screen and (min-width: 1340px) {
#home-slider-info[data-v-41f4befe] {
    left: calc(50% - 650px - 6rem);
}
}
@media only screen and (min-width: 1440px) {
#home-slider-info[data-v-41f4befe] {
    left: calc(50% - 700px - 6rem);
}
}
@media only screen and (min-width: 1500px) {
#home-slider-info[data-v-41f4befe] {
    left: calc(50% - 700px - 6rem);
}
}
@media only screen and (min-width: 1540px) {
#home-slider-info[data-v-41f4befe] {
    left: calc(50% - 750px - 6rem);
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
#home-header[data-v-41f4befe] {
    min-height: 750px;
}
#home-header .full-height[data-v-41f4befe] {
    min-height: 750px;
}
#home-slider #slideshow .slide .slide-info h2[data-v-41f4befe], #home-slider #slideshow span .slide-info h2[data-v-41f4befe], #home-slider #slideshow .static-content .slide-info h2[data-v-41f4befe] {
    font-size: 9rem;
    letter-spacing: 1px;
    line-height: 0.8;
    color: #fff;
}
}
@media only screen and (max-width: 767px) {
#home-header[data-v-41f4befe] {
    min-height: 700px;
    height: 700px;
}
#home-header .full-height[data-v-41f4befe] {
    min-height: 700px;
    height: 700px;
}
#home-slider #slideshow .static-content .slide-info h2[data-v-41f4befe] {
    font-size: 19vw;
}
#home-slider #slideshow .static-content .slide-info p.home-title-top[data-v-41f4befe] {
    margin-top: -17vw;
    font-size: 6vw;
}
#home-slider-info[data-v-41f4befe] {
    left: 0;
}
#home-slider-info .slide-indicators[data-v-41f4befe] {
    left: 4vw;
    top: calc(50% - 117px);
}
#home-slider-info .slide-indicators .slide-indicator[data-v-41f4befe] {
    height: 5vw;
    width: 1vw;
}
}
@media only screen and (max-width: 320px) {
#home-header[data-v-41f4befe] {
    min-height: 600px;
    height: 600px;
}
#home-header .full-height[data-v-41f4befe] {
    min-height: 600px;
    height: 600px;
}
}

#rd-widget-root .btn {
  max-width: 140px;
  max-height: 30px;
  margin: 15px 0 !important;
}
#rd-widget-root p {
  font-size: 1rem !important;
}
#rd-widget-root h4 {
  font-size: 1rem !important;
}
#rd-widget-root .list-group {
  margin-bottom: 0 !important;
}
#rd-widget-root [data-bind="if: showWidgetHeader"] {
  font-size: 12px !important;
  text-align: center !important;
}
#rd-widget-root [data-bind="if: showBookingSummary"] {
  width: 100%;
}
#rd-widget-root [data-bind="if: showWidgetHeader"] .col-xs-12.col-sm-3,
#rd-widget-root [data-bind="if: showBookingSummary"] .col-xs-12.col-sm-9 {
  width: 100%;
  float: none;
  max-width: 100%;
  flex: 100%;
}
#rd-widget-root .form-control {
  height: 38px;
  font-size: 16px;
}
@-webkit-keyframes in {
from {
    -webkit-transform: scale(1);
    transform: scale(1);
}
to {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
}
@keyframes in {
from {
    -webkit-transform: scale(1);
    transform: scale(1);
}
to {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
}
#cargo-top-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
#cargo-top-slider #slides {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -9999px;
}
#cargo-top-slider #slideshow {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#cargo-top-slider #slideshow .slide, #cargo-top-slider #slideshow span, #cargo-top-slider #slideshow .static-content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#cargo-top-slider #slideshow .slide span {
  background-size: cover;
  background-position: center;
}
#cargo-top-slider #slideshow .slide span.animate.right, #cargo-top-slider #slideshow .slide span.animate.left {
  left: calc((-4vw + -4vh + -4%)/3);
  right: calc((-4vw + -4vh + -4%)/3);
}
#cargo-top-slider #slideshow .slide span.animate.up, #cargo-top-slider #slideshow .slide span.animate.down {
  top: calc((-4vw + -4vh + -4%)/3);
  bottom: calc((-4vw + -4vh + -4%)/3);
}
#cargo-top-slider #slideshow span.animate {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
#cargo-top-slider #slideshow span.animate.right {
  -webkit-animation-name: right;
  animation-name: right;
}
#cargo-top-slider #slideshow span.animate.left {
  -webkit-animation-name: left;
  animation-name: left;
}
#cargo-top-slider #slideshow span.animate.up {
  -webkit-animation-name: up;
  animation-name: up;
}
#cargo-top-slider #slideshow span.animate.down {
  -webkit-animation-name: down;
  animation-name: down;
}
#cargo-top-slider #slideshow span.animate.in {
  -webkit-animation-name: in;
  animation-name: in;
}
#cargo-top-slider #slideshow span.animate.out {
  -webkit-animation-name: out;
  animation-name: out;
}
#cargo-top-slider #slideshow span.animate.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
#cargo-top {
  min-height: 850px;
}
#cargo-top #cargo-top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
#cargo-top .trans {
  z-index: 2;
}
#cargo-top .full-height {
  min-height: 850px;
}
#cargo-top .cargo-top-logo {
  width: 100%;
}
#cargo-top .res-diary-holder {
  position: relative;
  width: 360px;
  height: auto;
  float: right;
}
#cargo-top .res-diary-holder .res-diary-inner {
  position: relative;
  background-color: #000;
  width: 360px;
  z-index: 1;
  height: 700px;
  max-height: 700px;
  overflow: scroll;
}
#cargo-top .res-diary-holder:after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #F6CF3C;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
#cargo-top {
    min-height: 100vh;
    height: auto !important;
    background: none !important;
}
#cargo-top .h-100 {
    height: auto !important;
}
#cargo-top #cargo-top-menu-btn {
    margin-top: -30px;
}
#cargo-top .full-height {
    min-height: 100vh;
}
#cargo-top .cargo-top-logo {
    width: 300px;
    display: block;
    text-align: center;
    margin: 3rem auto;
}
#cargo-top .res-diary-holder {
    height: auto;
    margin: 2rem auto 0;
    display: block !important;
}
#cargo-top .res-diary-holder .res-diary-inner {
    width: 100%;
}
#cargo-top .cut {
    display: none;
}
#cargo-top #cargo-top-overlay {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
}
#cargo-top-slider {
    display: none;
}
}
@media only screen and (max-width: 991px) {
#cargo-top {
    min-height: 100vh;
    height: auto !important;
    background: none !important;
}
#cargo-top .h-100 {
    height: auto !important;
}
#cargo-top #cargo-top-menu-btn {
    margin-top: -30px;
}
#cargo-top .full-height {
    min-height: 100vh;
}
#cargo-top .cargo-top-logo {
    width: 100%;
    max-width: 300px;
}
#cargo-top .res-diary-holder {
    width: 100%;
    height: auto;
    float: none;
}
#cargo-top .res-diary-holder .res-diary-inner {
    width: 100%;
    height: auto;
    max-height: 1000000px;
    min-height: 651px;
}
#cargo-top .cut {
    display: none;
}
#cargo-top #cargo-top-overlay {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
}
#cargo-top-slider {
    display: none;
}
}
@media only screen and (max-width: 767px) {
#rd-widget-root .btn {
    max-width: 37vw;
}
#cargo-top {
    min-height: 100vh;
    height: auto !important;
    background: none !important;
}
#cargo-top .h-100 {
    height: auto !important;
}
#cargo-top #cargo-top-menu-btn {
    margin-top: -30px;
}
#cargo-top .full-height {
    min-height: 100vh;
}
#cargo-top .cargo-top-logo {
    width: 100%;
}
#cargo-top .res-diary-holder {
    width: 100%;
    height: auto;
    float: none;
}
#cargo-top .res-diary-holder .res-diary-inner {
    width: 100%;
    height: auto;
    max-height: 1000000px;
    min-height: 651px;
}
#cargo-top .cut {
    display: none;
}
#cargo-top #cargo-top-overlay {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
}
#cargo-top-slider {
    display: none;
}
}

.no-webp #activity-top {
  background-image: var(--bg-img-double);
}
.webp #activity-top {
  background-image: var(--bg-img-double-webp);
}
#activity-top {
  min-height: 850px;
}
#activity-top .full-height {
  min-height: 850px;
}
#activity-top .activity-title-top {
  text-transform: uppercase;
  font-family: Tungsten, sans-serif;
  color: #F6CF3C;
  font-size: 2.5rem;
  margin-bottom: 0;
}
@media only screen and (max-width: 992px) {
.no-webp #activity-top {
    background-image: var(--bg-img-featured);
}
.webp #activity-top {
    background-image: var(--bg-img-featured-webp);
}
#activity-top {
    min-height: auto;
    height: auto !important;
    background: none !important;
    margin-bottom: 4rem;
}
#activity-top h1.page-title {
    font-size: 20vw;
}
#activity-top #activity-top-menu-btn {
    margin-top: -30px;
}
#activity-top .activity-title-top {
    font-size: 5vw;
}
#activity-top .full-height {
    min-height: 100vh;
}
#activity-top .cut {
    display: none;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
#activity-top {
    padding-top: 6rem;
}
#activity-top #activity-top-menu-btn {
    margin-top: 0;
}
}

#titanic-header {
  min-height: 850px;
}
#titanic-header .full-height {
  min-height: 850px;
}
#titanic-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
#titanic-slider .slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  opacity: 1;
  transform: scale(1.2);
}
#titanic-slider .slideshow-image:nth-child(1) {
  animation-name: kenburns-1;
  z-index: 4;
}
#titanic-slider .slideshow-image:nth-child(2) {
  animation-name: kenburns-2;
  z-index: 3;
}
#titanic-slider .slideshow-image:nth-child(3) {
  animation-name: kenburns-3;
  z-index: 2;
}
#titanic-slider .slideshow-image:nth-child(4) {
  animation-name: kenburns-4;
  z-index: 1;
}
#titanic-slider .slideshow-image:nth-child(5) {
  animation-name: kenburns-5;
  z-index: 0;
}
#titanic-slider-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}
#titanic-slider-info .slide-indicators {
  position: absolute;
  top: calc(50% - 150px);
  left: -1.5rem;
  width: 100%;
  margin: auto;
}
#titanic-slider-info .slide-indicators .slide-indicator {
  height: 30px;
  width: 8px;
  background-color: #fff;
  margin-bottom: 7px;
  display: block;
}
#titanic-slider-info .slide-indicators .slide-indicator.active {
  background-color: #F6CF3C;
}
#titanic-slider-info .header-info {
  position: absolute;
  background-color: rgba(29, 37, 45, 0.5);
  width: 100%;
  height: 100%;
}
#titanic-slider-info .header-info h2 {
  font-size: 11rem;
  letter-spacing: 1px;
  line-height: 0.9;
}
#titanic-slider-info .header-info p.home-title-top {
  font-family: Tungsten, sans-serif;
  color: #F6CF3C;
  font-size: 2.5rem;
  margin-bottom: 0;
}
@keyframes kenburns-1 {
0% {
    opacity: 1;
    transform: scale(1.2);
}
0.83333333% {
    opacity: 1;
}
19.16666667% {
    opacity: 1;
}
20.83333333% {
    opacity: 0;
    transform: scale(1);
}
100% {
    opacity: 0;
    transform: scale(1.2);
}
99.16666667% {
    opacity: 0;
    transform: scale(1.208);
}
100% {
    opacity: 1;
}
}
@keyframes kenburns-2 {
19.16666667% {
    opacity: 1;
    transform: scale(1.2);
}
20.83333333% {
    opacity: 1;
}
39.16666667% {
    opacity: 1;
}
40.83333333% {
    opacity: 0;
    transform: scale(1);
}
100% {
    opacity: 0;
    transform: scale(1.2);
}
}
@keyframes kenburns-3 {
39.16666667% {
    opacity: 1;
    transform: scale(1.2);
}
40.83333333% {
    opacity: 1;
}
59.16666667% {
    opacity: 1;
}
60.83333333% {
    opacity: 0;
    transform: scale(1);
}
100% {
    opacity: 0;
    transform: scale(1.2);
}
}
@keyframes kenburns-4 {
59.16666667% {
    opacity: 1;
    transform: scale(1.2);
}
60.83333333% {
    opacity: 1;
}
79.16666667% {
    opacity: 1;
}
80.83333333% {
    opacity: 0;
    transform: scale(1);
}
100% {
    opacity: 0;
    transform: scale(1.2);
}
}
@keyframes kenburns-5 {
79.16666667% {
    opacity: 1;
    transform: scale(1.2);
}
80.83333333% {
    opacity: 1;
}
99.16666667% {
    opacity: 1;
}
100% {
    opacity: 0;
    transform: scale(1);
}
}
@media only screen and (max-width: 767px) {
#titanic-header {
    min-height: 700px;
    height: 700px;
}
#titanic-header .full-height {
    min-height: 700px;
    height: 700px;
}
#titanic-slider .slideshow-image img {
    right: -70vw;
}
#titanic-slider-info .header-info h2 {
    font-size: 19vw;
}
#titanic-slider-info .header-info p.home-title-top {
    margin-top: -17vw;
    font-size: 6vw;
}
#titanic-slider-info .slide-indicators {
    left: 4vw;
    top: calc(50% - 28vw);
}
#titanic-slider-info .slide-indicators .slide-indicator {
    height: 5vw;
    width: 1vw;
}
}

#newtownbreda-header {
  min-height: 850px;
}
#newtownbreda-header .full-height {
  min-height: 850px;
}
#newtownbreda-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
#newtownbreda-slider .slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  opacity: 1;
  transform: scale(1.2);
}
#newtownbreda-slider .slideshow-image:nth-child(1) {
  animation-name: kenburns-1;
  z-index: 4;
}
#newtownbreda-slider .slideshow-image:nth-child(2) {
  animation-name: kenburns-2;
  z-index: 3;
}
#newtownbreda-slider .slideshow-image:nth-child(3) {
  animation-name: kenburns-3;
  z-index: 2;
}
#newtownbreda-slider .slideshow-image:nth-child(4) {
  animation-name: kenburns-4;
  z-index: 1;
}
#newtownbreda-slider .slideshow-image:nth-child(5) {
  animation-name: kenburns-5;
  z-index: 0;
}
#newtownbreda-slider-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}
#newtownbreda-slider-info .slide-indicators {
  position: absolute;
  top: calc(50% - 150px);
  left: -1.5rem;
  width: 100%;
  margin: auto;
}
#newtownbreda-slider-info .slide-indicators .slide-indicator {
  height: 30px;
  width: 8px;
  background-color: #fff;
  margin-bottom: 7px;
  display: block;
}
#newtownbreda-slider-info .slide-indicators .slide-indicator.active {
  background-color: #F6CF3C;
}
#newtownbreda-slider-info .header-info {
  position: absolute;
  background-color: rgba(29, 37, 45, 0.5);
  width: 100%;
  height: 100%;
}
#newtownbreda-slider-info .header-info h2 {
  font-size: 11rem;
  letter-spacing: 1px;
  line-height: 0.9;
}
#newtownbreda-slider-info .header-info p.home-title-top {
  font-family: Tungsten, sans-serif;
  color: #F6CF3C;
  font-size: 2.5rem;
  margin-bottom: 0;
}
@keyframes kenburns-1 {
0% {
    opacity: 1;
    transform: scale(1.2);
}
0.83333333% {
    opacity: 1;
}
19.16666667% {
    opacity: 1;
}
20.83333333% {
    opacity: 0;
    transform: scale(1);
}
100% {
    opacity: 0;
    transform: scale(1.2);
}
99.16666667% {
    opacity: 0;
    transform: scale(1.208);
}
100% {
    opacity: 1;
}
}
@keyframes kenburns-2 {
19.16666667% {
    opacity: 1;
    transform: scale(1.2);
}
20.83333333% {
    opacity: 1;
}
39.16666667% {
    opacity: 1;
}
40.83333333% {
    opacity: 0;
    transform: scale(1);
}
100% {
    opacity: 0;
    transform: scale(1.2);
}
}
@keyframes kenburns-3 {
39.16666667% {
    opacity: 1;
    transform: scale(1.2);
}
40.83333333% {
    opacity: 1;
}
59.16666667% {
    opacity: 1;
}
60.83333333% {
    opacity: 0;
    transform: scale(1);
}
100% {
    opacity: 0;
    transform: scale(1.2);
}
}
@keyframes kenburns-4 {
59.16666667% {
    opacity: 1;
    transform: scale(1.2);
}
60.83333333% {
    opacity: 1;
}
79.16666667% {
    opacity: 1;
}
80.83333333% {
    opacity: 0;
    transform: scale(1);
}
100% {
    opacity: 0;
    transform: scale(1.2);
}
}
@keyframes kenburns-5 {
79.16666667% {
    opacity: 1;
    transform: scale(1.2);
}
80.83333333% {
    opacity: 1;
}
99.16666667% {
    opacity: 1;
}
100% {
    opacity: 0;
    transform: scale(1);
}
}
@media only screen and (max-width: 767px) {
#newtownbreda-header {
    min-height: 700px;
    height: 700px;
}
#newtownbreda-header .full-height {
    min-height: 700px;
    height: 700px;
}
#newtownbreda-slider .slideshow-image img {
    right: -70vw;
}
#newtownbreda-slider-info .header-info h2 {
    font-size: 19vw;
}
#newtownbreda-slider-info .header-info p.home-title-top {
    margin-top: -17vw;
    font-size: 6vw;
}
#newtownbreda-slider-info .slide-indicators {
    left: 4vw;
    top: calc(50% - 28vw);
}
#newtownbreda-slider-info .slide-indicators .slide-indicator {
    height: 5vw;
    width: 1vw;
}
}

.mailing-list-signup p.mimic-h3 {
  line-height: 1;
  font-size: 3rem;
  font-weight: 700;
}
.mailing-list-signup input {
  height: 60px !important;
  border: 1px solid #000;
}
.mailing-list-signup button {
  max-width: 100% !important;
  min-width: 100% !important;
}
@media only screen and (max-width: 767px) {
.mailing-list-signup p.mimic-h3 {
    font-size: 10vw;
}
.mailing-list-signup input {
    height: 50px !important;
}
}

.map-container {
  height: 1100px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: -500px;
}
#contactmap {
  position: absolute;
  top: 0;
  left: calc(50% - 1000px);
  width: 2000px;
  height: 100%;
  margin-bottom: -500px;
  background-image: url("/img/maps/contact.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.webp #contactmap {
  background-image: url("/img/maps/contact.webp");
}
@media only screen and (max-width: 767px) {
.map-container {
    height: 800px;
    margin-top: 80px;
    margin-bottom: -340px;
}
}

.opening-hours .today p {
  font-size: 1.1rem;
  font-weight: 900 !important;
  color: #F6CF3C;
}
.opening-hours p {
  margin-bottom: 0 !important;
}
.opening-hours p .toh {
  display: none;
}
@media only screen and (max-width: 767px) {
.opening-hours p.mimic-h3 {
    margin-bottom: 0.5rem !important;
    font-size: 7.2vw;
}
.opening-hours .today p {
    font-size: 4vw;
    color: #fff !important;
}
.opening-hours .today p .toh {
    display: inline;
}
.opening-hours .today .day-name,
  .opening-hours .today .day-time {
    display: none;
}
.opening-hours .today.mob-show {
    display: flex;
}
.opening-hours .today.mob-show p {
    color: #F6CF3C !important;
}
.opening-hours .today.mob-show .toh {
    display: none;
}
.opening-hours .today.mob-show .day-name {
    display: block;
}
.opening-hours .today.mob-show .day-time {
    display: block;
}
.opening-hours .today.mob-show .day-both {
    display: none;
}
.opening-hours .not-today {
    display: none;
    margin-top: 0 !important;
}
.opening-hours .not-today.mob-show {
    display: flex;
}
.opening-hours .not-today.mob-show .toh {
    display: none;
}
.opening-hours .not-today.mob-show .day-name {
    display: block;
}
.opening-hours .not-today.mob-show .day-time {
    display: block;
}
.opening-hours .not-today.mob-show .day-both {
    display: none;
}
}

#home-activities .home-activity {
  position: relative;
  width: 356px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
  padding-top: 2rem;
  padding-left: 2rem;
}
#home-activities .home-activity img {
  z-index: 1;
  position: relative;
  width: calc(100% - 1rem);
  margin-top: -3rem;
  display: block;
  margin-left: -1rem;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#home-activities .home-activity .activity-info {
  position: relative;
  padding-top: 1rem;
  background-color: #F6CF3C;
}
#home-activities .home-activity .activity-info p {
  margin-left: 1.5rem;
}
#home-activities .home-activity .activity-info p.activity-title {
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
#home-activities .home-activity .activity-info p.activity-title i {
  position: absolute;
  right: 15px;
  bottom: 17px;
  font-size: 1.5rem;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
#home-activities .home-activity .activity-info p.activity-title i.custom-icon {
  width: 1.3rem;
  height: 1.3rem;
  bottom: 22px;
  background-size: contain;
  background-repeat: no-repeat;
}
#home-activities .home-activity .activity-info p.activity-title i.custom-icon.chevron-double-right {
  background-image: url("/img/icons/chevron-double-right.svg");
}
#home-activities .home-activity .activity-info p:hover.activity-title i {
  right: 10px;
}
#home-activities .owl-carousel .owl-stage-outer {
  overflow: visible !important;
}
#home-activities .owl-stage {
  margin: auto;
}
#home-activities .owl-theme .owl-nav {
  margin-top: 1rem;
  margin-bottom: -30px;
}
#home-activities .owl-theme .owl-nav .owl-prev {
  margin-right: 240px;
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#home-activities .owl-theme .owl-nav .owl-prev:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-image: url("/img/icons/chevron-left.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#home-activities .owl-theme .owl-nav .owl-next {
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#home-activities .owl-theme .owl-nav .owl-next:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: url("/img/icons/chevron-right.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#home-activities .owl-theme .owl-dots {
  width: 200px;
  margin: auto;
}
#home-activities .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 8px;
  background: #fff;
  border-radius: 0;
}
#home-activities .owl-theme .owl-dots .owl-dot.active span {
  background: #F6CF3C;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
#home-activities .owl-theme .owl-dots {
    width: 220px;
}
#home-activities .owl-theme .owl-nav .owl-prev {
    margin-right: 270px;
}
}
@media only screen and (max-width: 767px) {
#home-activities .home-activity {
    padding-left: 1rem;
    padding-right: 1rem;
}
#home-activities .owl-theme .owl-nav {
    margin: 1rem -33px -30px auto;
}
#home-activities .owl-theme .owl-dots {
    margin: auto;
    width: calc(100vw - 1rem);
}
#home-activities .owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 6px;
    margin: 3px;
}
}

.home-menu-card[data-v-e6995472] {
  margin-top: -140px;
}
.home-menu-card p.text-grey[data-v-e6995472] {
  color: #262D34;
}
.home-menu-card p.mimic-h2[data-v-e6995472] {
  font-size: 3rem;
}
.home-menu-card .zoom-item[data-v-e6995472] {
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.home-menu-card .zoom-link:hover .zoom-item[data-v-e6995472] {
  transform: scale(1.1);
}
.home-menu-card .mob-cargo-btn[data-v-e6995472] {
  width: 16vw;
}
.cargo-hanger[data-v-e6995472] {
  background-color: #F6CF3C;
  width: 110px;
  height: 110px;
  position: absolute;
  right: -110px;
  top: 11px;
  padding: 20px;
  z-index: 1;
}
.cargo-hanger img[data-v-e6995472] {
  height: 72px;
}
@media only screen and (max-width: 767px) {
.home-menu-card[data-v-e6995472] {
    position: relative;
    margin-top: -140px;
}
.home-menu-card p.mimic-h2[data-v-e6995472] {
    font-size: 11vw;
}
}

#home-cargo[data-v-52d91dc3] {
  position: relative;
  width: 100%;
  max-width: 1600px;
}
#home-cargo .smaller-sizes-container[data-v-52d91dc3] {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}
#home-cargo .slideshow-box[data-v-52d91dc3] {
  position: absolute;
  top: calc(50% - 288px);
  width: 670px;
  height: 556px;
  right: 0;
  z-index: 2;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#home-cargo .cargo-slideshow-logo[data-v-52d91dc3] {
  width: 250px;
  position: absolute;
  top: 4rem;
  left: 4rem;
  z-index: 2;
}
#home-cargo .cargo-slide[data-v-52d91dc3] {
  position: relative;
  width: 1200px;
  height: 811px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}
#home-cargo .cargo-slide img[data-v-52d91dc3] {
  z-index: 1;
  position: relative;
  width: 1200px;
  display: block;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#home-cargo .owl-carousel .owl-stage-outer[data-v-52d91dc3] {
  overflow: hidden !important;
}
@media only screen and (max-device-width: 1200px) {
#home-cargo[data-v-52d91dc3] {
    position: relative;
    width: 100vw;
}
#home-cargo .smaller-sizes-container[data-v-52d91dc3] {
    width: 90vw;
    overflow: hidden;
}
#home-cargo .slideshow-box[data-v-52d91dc3] {
    top: calc(50% - 260px);
    width: 500px;
    height: auto;
    right: 1rem;
}
#home-cargo .slideshow-box p.larger[data-v-52d91dc3] {
    font-size: 1rem;
}
#home-cargo .slideshow-box p.mimic-h1[data-v-52d91dc3] {
    font-size: 3rem;
}
#home-cargo .cargo-slideshow-logo[data-v-52d91dc3] {
    width: 140px;
    top: 2rem;
    left: 2rem;
}
#home-cargo .cargo-slide[data-v-52d91dc3] {
    width: 90vw;
    height: auto;
}
#home-cargo .cargo-slide img[data-v-52d91dc3] {
    z-index: 1;
    width: 90vw;
}
#home-cargo .owl-carousel .owl-stage-outer[data-v-52d91dc3] {
    overflow: hidden !important;
}
}
@media only screen and (max-width: 992px) {
#home-cargo[data-v-52d91dc3] {
    width: 100vw;
}
#home-cargo .smaller-sizes-container[data-v-52d91dc3] {
    width: 100vw;
    overflow: hidden;
}
#home-cargo .cargo-slide[data-v-52d91dc3] {
    width: 100vw;
    height: 80vw;
}
#home-cargo .cargo-slide img[data-v-52d91dc3] {
    width: 100vw;
    height: 80vw;
}
#home-cargo .cargo-slideshow-logo[data-v-52d91dc3] {
    width: 25vw;
    top: 1rem;
    left: 1rem;
}
#home-cargo .owl-theme .owl-dots[data-v-52d91dc3] {
    margin: auto;
    width: 80vw;
    left: -8rem;
}
#home-cargo .owl-theme .owl-dots .owl-dot span[data-v-52d91dc3] {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#home-cargo .owl-theme .owl-nav[data-v-52d91dc3] {
    margin: 1rem -33px -30px auto;
}
#home-cargo .slideshow-box[data-v-52d91dc3] {
    top: auto;
    width: calc(100vw - 2rem);
    height: auto;
    right: auto;
    margin-left: 1rem;
    position: relative;
    margin-top: -20vw;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
#home-cargo[data-v-52d91dc3] {
    width: 100vw;
}
#home-cargo .smaller-sizes-container[data-v-52d91dc3] {
    width: 100vw;
    overflow: hidden;
}
#home-cargo .cargo-slide[data-v-52d91dc3] {
    width: 100vw;
    height: 80vw;
}
#home-cargo .cargo-slide img[data-v-52d91dc3] {
    width: 100vw;
    height: 80vw;
}
#home-cargo .cargo-slideshow-logo[data-v-52d91dc3] {
    width: 25vw;
    top: 1rem;
    left: 1rem;
}
#home-cargo .owl-theme .owl-dots[data-v-52d91dc3] {
    margin: auto;
    width: 80vw;
    left: -8rem;
}
#home-cargo .owl-theme .owl-dots .owl-dot span[data-v-52d91dc3] {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#home-cargo .owl-theme .owl-nav[data-v-52d91dc3] {
    margin: 1rem -33px -30px auto;
}
#home-cargo .slideshow-box[data-v-52d91dc3] {
    top: auto;
    width: calc(100vw - 2rem);
    height: auto;
    right: auto;
    margin-left: 1rem;
    position: relative;
    margin-top: -20vw;
}
}
@media only screen and (max-width: 767px) {
#home-cargo[data-v-52d91dc3] {
    width: 100vw;
}
#home-cargo .cargo-slide[data-v-52d91dc3] {
    width: 100vw;
    height: 80vw;
}
#home-cargo .cargo-slide img[data-v-52d91dc3] {
    width: 100vw;
    height: 80vw;
}
#home-cargo .cargo-slideshow-logo[data-v-52d91dc3] {
    width: 25vw;
    top: 1rem;
    left: 1rem;
}
#home-cargo .owl-theme .owl-dots[data-v-52d91dc3] {
    margin: auto;
    width: 80vw;
    left: -8rem;
}
#home-cargo .owl-theme .owl-dots .owl-dot span[data-v-52d91dc3] {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#home-cargo .owl-theme .owl-nav[data-v-52d91dc3] {
    margin: 1rem -33px -30px auto;
}
#home-cargo .slideshow-box[data-v-52d91dc3] {
    top: auto;
    width: calc(100vw - 2rem);
    height: auto;
    right: auto;
    margin-left: 1rem;
    position: relative;
    margin-top: -20vw;
}
}

#home-second-slider[data-v-08f42b2e] {
  position: relative;
  width: 100%;
  max-width: 1600px;
}
#home-second-slider .smaller-sizes-container[data-v-08f42b2e] {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}
#home-second-slider .slideshow-box[data-v-08f42b2e] {
  position: absolute;
  top: calc(50% - 288px);
  width: 670px;
  height: 556px;
  right: 0;
  z-index: 2;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#home-second-slider .second-slide[data-v-08f42b2e] {
  position: relative;
  width: 1200px;
  height: 811px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}
#home-second-slider .second-slide img[data-v-08f42b2e] {
  z-index: 1;
  position: relative;
  width: 1200px;
  display: block;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#home-second-slider .owl-carousel .owl-stage-outer[data-v-08f42b2e] {
  overflow: hidden !important;
}
@media only screen and (max-device-width: 1200px) {
#home-second-slider[data-v-08f42b2e] {
    position: relative;
    width: 100vw;
}
#home-second-slider .smaller-sizes-container[data-v-08f42b2e] {
    width: 90vw;
    overflow: hidden;
}
#home-second-slider .slideshow-box[data-v-08f42b2e] {
    top: calc(50% - 260px);
    width: 500px;
    height: auto;
    right: 1rem;
}
#home-second-slider .slideshow-box p.larger[data-v-08f42b2e] {
    font-size: 1rem;
}
#home-second-slider .slideshow-box p.mimic-h1[data-v-08f42b2e] {
    font-size: 3rem;
}
#home-second-slider .second-slide[data-v-08f42b2e] {
    width: 90vw;
    height: auto;
}
#home-second-slider .second-slide img[data-v-08f42b2e] {
    z-index: 1;
    width: 90vw;
}
#home-second-slider .owl-carousel .owl-stage-outer[data-v-08f42b2e] {
    overflow: hidden !important;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
#home-second-slider[data-v-08f42b2e] {
    width: 100vw;
}
#home-second-slider .second-slide[data-v-08f42b2e] {
    width: 100vw;
    height: 80vw;
}
#home-second-slider .second-slide img[data-v-08f42b2e] {
    width: 100vw;
    height: 80vw;
}
#home-second-slider .second-slideshow-logo[data-v-08f42b2e] {
    width: 25vw;
    top: 1rem;
    left: 1rem;
}
#home-second-slider .owl-theme .owl-dots[data-v-08f42b2e] {
    margin: auto;
    width: 80vw;
    left: -8rem;
}
#home-second-slider .owl-theme .owl-dots .owl-dot span[data-v-08f42b2e] {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#home-second-slider .owl-theme .owl-nav[data-v-08f42b2e] {
    margin: 1rem -33px -30px auto;
}
#home-second-slider .slideshow-box[data-v-08f42b2e] {
    top: auto;
    width: calc(100vw - 2rem);
    height: auto;
    right: auto;
    margin-left: 1rem;
    position: relative;
    margin-top: -20vw;
}
}
@media only screen and (max-width: 992px) {
#home-second-slider[data-v-08f42b2e] {
    width: 100vw;
}
#home-second-slider .smaller-sizes-container[data-v-08f42b2e] {
    width: 100vw;
    overflow: hidden;
}
#home-second-slider .second-slide[data-v-08f42b2e] {
    width: 100vw;
    height: 80vw;
}
#home-second-slider .second-slide img[data-v-08f42b2e] {
    width: 100vw;
    height: 80vw;
}
#home-second-slider .owl-theme .owl-dots[data-v-08f42b2e] {
    margin: auto;
    width: 80vw;
    left: -8rem;
}
#home-second-slider .owl-theme .owl-dots .owl-dot span[data-v-08f42b2e] {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#home-second-slider .owl-theme .owl-nav[data-v-08f42b2e] {
    margin: 1rem -33px -30px auto;
}
#home-second-slider .slideshow-box[data-v-08f42b2e] {
    top: auto;
    width: calc(100vw - 2rem);
    height: auto;
    right: auto;
    margin-left: 1rem;
    position: relative;
    margin-top: -20vw;
}
}
@media only screen and (max-width: 767px) {
#home-second-slider[data-v-08f42b2e] {
    width: 100vw;
}
#home-second-slider .smaller-sizes-container[data-v-08f42b2e] {
    width: 100vw;
    overflow: hidden;
}
#home-second-slider .second-slide[data-v-08f42b2e] {
    width: 100vw;
    height: 80vw;
}
#home-second-slider .second-slide img[data-v-08f42b2e] {
    width: 100vw;
    height: 80vw;
}
#home-second-slider .owl-theme .owl-dots[data-v-08f42b2e] {
    margin: auto;
    width: 80vw;
    left: -8rem;
}
#home-second-slider .owl-theme .owl-dots .owl-dot span[data-v-08f42b2e] {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#home-second-slider .owl-theme .owl-nav[data-v-08f42b2e] {
    margin: 1rem -33px -30px auto;
}
#home-second-slider .slideshow-box[data-v-08f42b2e] {
    top: auto;
    width: calc(100vw - 2rem);
    height: auto;
    right: auto;
    margin-left: 1rem;
    position: relative;
    margin-top: -20vw;
}
}

#home-events .home-box[data-v-12a5ffe2] {
  position: relative;
  width: 356px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
  padding-top: 2rem;
  padding-left: 2rem;
}
#home-events .home-box img[data-v-12a5ffe2] {
  z-index: 1;
  position: relative;
  width: calc(100% - 1rem);
  margin-top: -3rem;
  display: block;
  margin-left: -1rem;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#home-events .home-box .box-info[data-v-12a5ffe2] {
  position: relative;
  padding-top: 1rem;
  background-color: #F6CF3C;
}
#home-events .home-box .box-info p[data-v-12a5ffe2] {
  margin-left: 1.5rem;
}
#home-events .home-box .box-info p.box-title[data-v-12a5ffe2] {
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
#home-events .home-box .box-info p.box-title i[data-v-12a5ffe2] {
  position: absolute;
  right: 15px;
  bottom: 17px;
  font-size: 1.5rem;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
#home-events .home-box .box-info p.box-title i.custom-icon[data-v-12a5ffe2] {
  width: 1.3rem;
  height: 1.3rem;
  bottom: 22px;
  background-size: contain;
  background-repeat: no-repeat;
}
#home-events .home-box .box-info p.box-title i.custom-icon.chevron-double-right[data-v-12a5ffe2] {
  background-image: url("/img/icons/chevron-double-right.svg");
}
@media only screen and (max-width: 1499px) {
#home-events .home-box[data-v-12a5ffe2] {
    width: 300px;
    height: 400px;
}
#home-events .home-box img[data-v-12a5ffe2] {
    width: calc(100% - 1rem);
    margin-top: -3rem;
    margin-left: -1rem;
}
#home-events .home-box .box-info p.box-title[data-v-12a5ffe2] {
    font-weight: 700;
    font-size: 1.5rem;
}
#home-events .home-box .box-info p.box-title i.custom-icon[data-v-12a5ffe2] {
    position: absolute;
    width: 1rem;
    height: 1rem;
    bottom: 20px;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
#home-events .row .col-lg-3:nth-child(odd) .home-box[data-v-12a5ffe2] {
    margin-right: 0;
    margin-left: auto;
}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
#home-events .home-box[data-v-12a5ffe2] {
    width: 260px;
    height: 360px;
}
#home-events .home-box img[data-v-12a5ffe2] {
    width: calc(100% - 1rem);
    margin-top: -3rem;
    margin-left: -1rem;
}
#home-events .home-box .box-info[data-v-12a5ffe2] {
    padding-top: 1rem;
    width: calc(100% - 1rem);
}
}
@media only screen and (max-width: 767px) {
#home-events .home-box[data-v-12a5ffe2] {
    width: calc(100vw - 2rem);
    height: 85vw;
    padding-left: 1rem;
}
#home-events .home-box .box-img[data-v-12a5ffe2] {
    height: 60vw;
    overflow: hidden;
    margin-top: -10vw;
    margin-left: -1rem;
}
#home-events .home-box .box-img img[data-v-12a5ffe2] {
    width: 100%;
    margin-top: 0;
}
}

footer {
  color: #ffffff;
}
footer .bg-darker {
  background-color: #1D252D;
}
footer .footer-bg {
  position: absolute !important;
  bottom: 0;
  left: calc(50% - 1400px);
  width: 4000px;
  height: 100%;
  z-index: 0;
  background-image: url("/img/graphics/footer-bg.svg");
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
footer a {
  cursor: pointer;
  color: #ffffff;
}
footer a:hover {
  color: #F6CF3C;
}
footer p {
  font-size: 1.0rem;
}
footer img {
  max-width: 100%;
}
footer .footer-social {
  font-size: 25px;
}
footer .menu_logo {
  width: 150px;
}
.footer-inner {
  border-top: 2px solid #fff;
}
.footer-top {
  background-size: 100%;
  background-position: top right;
  background-repeat: no-repeat;
}
.footer-top .footer-overlap {
  margin-top: -540px;
}
.footer-top .footer-overlap.team-overlap {
  margin-top: -420px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
footer p.text-smallest {
    font-size: 16px;
}
footer .mob-line-height {
    font-size: 16px;
    line-height: 2.5;
}
footer .footer-bg {
    background-image: url("/img/graphics/footer-bg-mob.svg");
    background-size: cover;
    left: 0;
    width: 100%;
    height: calc(100% - 210px);
}
}
@media only screen and (max-width: 767px) {
footer p.text-smallest {
    font-size: 3vw;
}
footer .mob-line-height {
    font-size: 3.5vw;
    line-height: 2.5;
}
footer .footer-bg {
    background-image: url("/img/graphics/footer-bg-mob.svg");
    background-size: cover;
    left: 0;
    width: 100%;
    height: calc(100% - 210px);
}
}

.menu-holder {
  position: relative;
  z-index: 100;
}
#menu-trigger {
  position: absolute;
  top: 110vh;
  left: 0;
  width: 1px;
  height: 1px;
}
#main-menu-top {
  z-index: 250;
}
#main-menu {
  position: absolute;
  top: 0;
  left: 0;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.menu .menu_logo {
  width: 168px;
}
.menu .menu_logo.menu_logo_normal {
  width: 168px;
}
.menu .bg-gradient a {
  color: #fff !important;
}
.menu .bg-gradient a:hover {
  color: #1D252D !important;
}
.menu .menu-links .menu-item {
  display: inline-block;
  margin-left: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-family: Gotham, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.menu .menu-links .menu-item a {
  color: #F6CF3C;
}
.menu .menu-links .menu-item a:hover {
  color: #F6CF3C;
}
.menu .menu-links .menu-item i {
  font-size: 1.2rem;
  margin-left: 10px;
}
.menu .menu-links .menu-item:hover, .menu .menu-links .menu-item.active {
  color: #F6CF3C !important;
}
.menu .menu-top-links .menu-links .menu-item {
  font-size: 0.8rem;
}
.menu .menu-top-links .menu-links.menu-dropdown-holder {
  position: relative;
}
.menu .menu-top-links .menu-links.menu-dropdown-holder .menu-dropdown {
  position: absolute;
  top: -500px;
  left: 0;
  width: 260px;
  height: 143px;
  background-color: #1D252D;
  text-align: left;
  padding: 1rem;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
.menu .menu-top-links .menu-links.menu-dropdown-holder .menu-dropdown a {
  color: #fff;
  cursor: pointer;
  font-family: Gotham, sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.menu .menu-top-links .menu-links.menu-dropdown-holder .menu-dropdown a:hover {
  color: #F6CF3C;
}
.menu .menu-top-links .menu-links.menu-dropdown-holder .menu-dropdown .close-waiver-menu {
  color: #F6CF3C;
  cursor: pointer;
  font-family: Gotham, sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.menu .menu-top-links .menu-links.menu-dropdown-holder .menu-dropdown.active {
  top: 30px;
}
.menu.opacity {
  opacity: 0;
}
#scroll-menu {
  background-color: #1D252D;
  position: fixed;
  top: -500px;
  left: 0;
  z-index: 200;
  width: 100%;
  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
#scroll-menu.on {
  top: 0;
}
@media only screen and (max-width: 1230px) {
.menu .menu-links .menu-item {
    margin-left: 1.5rem;
    font-size: 0.9rem;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
#scroll-menu .menu-links .menu-item:hover,
  .menu .menu-links .menu-item:hover {
    box-shadow: none;
}
#scroll-menu .menu_logo,
  .menu .menu_logo {
    width: 140px;
    margin-top: 15px !important;
}
#menu_btn {
    display: block;
}
}

.close-menu {
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  max-width: 20px;
}
.close-menu:hover {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
#menu_body_hide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F6CF3C;
  display: table;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
#menu_body_hide.on {
  opacity: 0.95;
  z-index: 220;
}
.mobile-menu-holder {
  position: fixed;
  top: 0;
  right: -150vw;
  z-index: 10000;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: -150vw;
  width: 320px;
  height: 100vh;
  background-color: #1D252D;
  color: #fff;
  padding-left: 1rem;
  z-index: 1000;
  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.mobile-menu .menu-dropdown-holder .menu-dropdown {
  position: absolute;
  top: 5rem;
  left: 1000px;
  width: calc(100% + 3rem);
  height: calc(100vh - 5rem);
  background-color: #1D252D;
  text-align: left;
  padding: 1rem;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
.mobile-menu .menu-dropdown-holder .menu-dropdown a {
  color: #fff;
  font-size: 4vw;
  cursor: pointer;
  font-family: Gotham, sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.mobile-menu .menu-dropdown-holder .menu-dropdown a:hover {
  color: #F6CF3C;
}
.mobile-menu .menu-dropdown-holder .menu-dropdown .close-waiver-menu {
  color: #F6CF3C;
  cursor: pointer;
  font-family: Gotham, sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.mobile-menu .menu-dropdown-holder .menu-dropdown.active {
  left: 0;
}
.mobile-menu .menu-links .menu-item {
  display: block;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0.75rem !important;
  display: inline-block;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.mobile-menu .menu-links .menu-item a {
  color: #fff;
}
.mobile-menu .menu-links .menu-item a:hover {
  color: #F6CF3C;
}
.mobile-menu .menu-links .menu-item i {
  font-size: 1.2rem;
  margin-left: 10px;
}
.mobile-menu.on {
  right: 0;
}
#menu_btn,
.menu_btn {
  position: fixed;
  top: 1rem;
  right: 0.5rem;
  z-index: 1100;
  cursor: pointer;
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 12px 7px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
#menu_btn .nav-icon,
.menu_btn .nav-icon {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 110;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
#menu_btn .nav-icon span,
.menu_btn .nav-icon span {
  display: block;
  position: absolute;
  border-radius: 1px;
  height: 4px;
  width: 100%;
  background: #fff;
  opacity: 1;
  right: 0;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
}
#menu_btn .nav-icon span:nth-child(1),
.menu_btn .nav-icon span:nth-child(1) {
  top: 0px;
}
#menu_btn .nav-icon span:nth-child(2),
.menu_btn .nav-icon span:nth-child(2) {
  top: 9px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
#menu_btn .nav-icon span:nth-child(3),
.menu_btn .nav-icon span:nth-child(3) {
  top: 18px;
  width: 60%;
}
#menu_btn .nav-icon.nav_open span,
.menu_btn .nav-icon.nav_open span {
  border-radius: 10px;
  background: #fff;
}
#menu_btn .nav-icon.nav_open span:nth-child(1),
.menu_btn .nav-icon.nav_open span:nth-child(1) {
  top: 9px !important;
  -webkit-transform: rotate(135deg) !important;
  -moz-transform: rotate(135deg) !important;
  -o-transform: rotate(135deg) !important;
  transform: rotate(135deg) !important;
}
#menu_btn .nav-icon.nav_open span:nth-child(2),
.menu_btn .nav-icon.nav_open span:nth-child(2) {
  opacity: 0 !important;
  left: 20vw !important;
}
#menu_btn .nav-icon.nav_open span:nth-child(3),
.menu_btn .nav-icon.nav_open span:nth-child(3) {
  width: 100%;
  top: 9px !important;
  -webkit-transform: rotate(-135deg) !important;
  -moz-transform: rotate(-135deg) !important;
  -o-transform: rotate(-135deg) !important;
  transform: rotate(-135deg) !important;
}
#menu_btn:hover .nav-icon span:nth-child(3),
.menu_btn:hover .nav-icon span:nth-child(3) {
  width: 100%;
}
#menu_btn.on,
.menu_btn.on {
  background-color: #e83e8c;
}
#menu_btn.dark .nav-icon span,
.menu_btn.dark .nav-icon span {
  background: #F6CF3C;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
.mobile-menu .menu-dropdown-holder .menu-dropdown a {
    font-size: 1.1rem;
}
}
@media only screen and (max-width: 767px) {
.mobile-menu .menu-links .menu-item {
    font-size: 4.5vw;
}
}

.top-details {
  position: absolute;
  height: 500px;
  right: 3rem;
  top: calc(50% - 250px);
  z-index: 5;
}
.top-details a {
  color: #fff;
}
.top-details a i {
  font-size: 20px;
}
.top-details a:hover {
  color: #F6CF3C;
}
.top-details a.top-details-email {
  display: inline-block;
  font-family: Gotham, sans-serif;
  text-transform: uppercase;
  transform: rotate(270deg);
  position: absolute;
  top: 217px;
  left: -111px;
  font-size: 1rem;
  font-weight: 700;
}
.top-details .skydiver {
  position: absolute;
  top: 473px;
  left: -25px;
  width: 70px;
}
.top-details .skydiver img {
  width: 70px;
}
.top-details .skydiver:before {
  height: 100px;
  width: 2px;
  background-color: #fff;
  content: "";
  position: absolute;
  top: -110px;
  left: 34px;
}

#cargo-tables .cargo-table {
  position: relative;
  width: 356px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
  padding-top: 2rem;
  padding-left: 2rem;
}
#cargo-tables .cargo-table img {
  z-index: 1;
  position: relative;
  width: calc(100% - 1rem);
  margin-top: -3rem;
  display: block;
  margin-left: -1rem;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#cargo-tables .cargo-table .activity-info {
  position: relative;
  padding-top: 1rem;
  background-color: #F6CF3C;
}
#cargo-tables .cargo-table .activity-info p {
  margin-left: 1.5rem;
}
#cargo-tables .cargo-table .activity-info p.activity-title {
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
#cargo-tables .cargo-table .activity-info p.activity-title i {
  position: absolute;
  right: 15px;
  bottom: 17px;
  font-size: 1.5rem;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
#cargo-tables .cargo-table .activity-info p.activity-title i.custom-icon {
  width: 1.3rem;
  height: 1.3rem;
  bottom: 22px;
  background-size: contain;
  background-repeat: no-repeat;
}
#cargo-tables .cargo-table .activity-info p.activity-title i.custom-icon.chevron-double-up {
  background-image: url("/img/icons/chevron-double-up.svg");
}
#cargo-tables .cargo-table .activity-info p:hover.activity-title i {
  right: 10px;
}
#cargo-tables .owl-carousel .owl-stage-outer {
  overflow: visible !important;
}
#cargo-tables .owl-theme .owl-nav {
  margin-top: 1rem;
  margin-bottom: -30px;
}
#cargo-tables .owl-theme .owl-nav .owl-prev {
  margin-right: 240px;
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#cargo-tables .owl-theme .owl-nav .owl-prev:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-image: url("/img/icons/chevron-left.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#cargo-tables .owl-theme .owl-nav .owl-next {
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#cargo-tables .owl-theme .owl-nav .owl-next:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: url("/img/icons/chevron-right.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#cargo-tables .owl-theme .owl-dots {
  width: 200px;
  margin: auto;
}
#cargo-tables .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 8px;
  background: #fff;
  border-radius: 0;
}
#cargo-tables .owl-theme .owl-dots .owl-dot.active span {
  background: #F6CF3C;
}
@media only screen and (max-width: 767px) {
#cargo-tables .cargo-table {
    padding-left: 1rem;
    padding-right: 1rem;
}
#cargo-tables .owl-theme .owl-nav {
    margin: 1rem -33px -30px auto;
}
#cargo-tables .owl-theme .owl-dots {
    margin: auto;
    width: calc(100vw - 1rem);
}
#cargo-tables .owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 6px;
    margin: 3px;
}
}

.map-container {
  height: 1100px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: -500px;
}
#cargomap {
  position: absolute;
  top: 0;
  left: calc(50% - 1000px);
  width: 2000px;
  height: 100%;
  margin-bottom: -500px;
  background-image: url("/img/maps/cargo.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.webp #cargomap {
  background-image: url("/img/maps/cargo.webp");
}
@media only screen and (max-width: 767px) {
.map-container {
    height: 800px;
    margin-top: 80px;
    margin-bottom: -400px;
}
}

#cargo-slider-1 {
  position: relative;
  width: 1200px;
  margin-right: 0;
  margin-left: auto;
}
#cargo-slider-1 .slideshow-box {
  position: absolute;
  top: calc(50% - 288px);
  width: 670px;
  height: 556px;
  left: -300px;
  right: auto;
  z-index: 2;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#cargo-slider-1 .cargo-slideshow-logo {
  width: 250px;
  position: absolute;
  top: 4rem;
  left: 4rem;
  z-index: 2;
}
#cargo-slider-1 .cargo-slide {
  position: relative;
  width: 1200;
  height: 811px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}
#cargo-slider-1 .cargo-slide img {
  z-index: 1;
  position: relative;
  width: 1200px;
  display: block;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#cargo-slider-1 .owl-carousel .owl-stage-outer {
  overflow: hidden !important;
}
#cargo-slider-1 .owl-theme .owl-dots {
  position: absolute;
  top: 50%;
  right: 0;
  width: 180px;
  margin: auto;
  transform: rotate(90deg);
}
#cargo-slider-1 .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 8px;
  background: #fff;
  border-radius: 0;
}
#cargo-slider-1 .owl-theme .owl-dots .owl-dot.active span {
  background: #F6CF3C;
}
@media only screen and (max-width: 767px) {
#cargo-slider-1 {
    width: 100vw;
}
#cargo-slider-1 .cargo-slide {
    width: 100vw;
    height: 80vw;
}
#cargo-slider-1 .cargo-slide img {
    width: 100vw;
    height: 80vw;
}
#cargo-slider-1 .cargo-slideshow-logo {
    width: 25vw;
    top: 1rem;
    left: 1rem;
}
#cargo-slider-1 .owl-theme .owl-dots {
    margin: auto;
    width: 80vw;
    left: -35vw;
    right: auto;
}
#cargo-slider-1 .owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#cargo-slider-1 .owl-theme .owl-nav {
    margin: 1rem -33px -30px auto;
}
#cargo-slider-1 .slideshow-box {
    top: auto;
    width: calc(100vw - 2rem);
    height: auto;
    left: auto;
    margin-left: 1rem;
    position: relative;
    margin-top: -20vw;
}
}

.search-form {
  margin-top: -50px;
}

h3.post-title {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}
p.read-more-news {
  font-size: 1.4rem;
}
.news-title-top {
  font-weight: 300;
  line-height: 1;
  font-size: 1.5rem;
  font-family: Tungsten, sans-serif;
  text-transform: uppercase;
  color: #1D252D;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
p.read-more-news {
    font-size: 7.5vw;
}
}

.search-form {
  margin-top: -50px;
}

h3.post-title {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}
p.read-more-news {
  font-size: 1.4rem;
}
.news-title-top {
  font-weight: 300;
  line-height: 1;
  font-size: 1.5rem;
  font-family: Tungsten, sans-serif;
  text-transform: uppercase;
  color: #1D252D;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
p.read-more-news {
    font-size: 7.5vw;
}
}

.question {
  font-family: Tungsten, sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 300;
}
.answer {
  font-size: 1.2rem;
}
.answer br {
  display: block;
  margin-bottom: 1rem;
}

#activity-slideshow {
  width: 100%;
  max-width: 1110px;
}
#activity-slideshow .activity-slide {
  position: relative;
  width: 1110px;
  max-width: 1110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}
#activity-slideshow .activity-slide img {
  max-width: 1110px;
  z-index: 1;
  position: relative;
  width: 100%;
  display: block;
  margin-left: -1rem;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#activity-slideshow .owl-theme .owl-nav {
  margin-top: 1rem;
  margin-bottom: -30px;
  position: absolute;
  bottom: -4rem;
  left: calc(50% - 191px);
}
#activity-slideshow .owl-theme .owl-nav .owl-prev {
  margin-right: 318px;
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#activity-slideshow .owl-theme .owl-nav .owl-prev:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-image: url("/img/icons/chevron-left.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#activity-slideshow .owl-theme .owl-nav .owl-next {
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#activity-slideshow .owl-theme .owl-nav .owl-next:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: url("/img/icons/chevron-right.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#activity-slideshow .owl-theme .owl-dots {
  width: 300px;
  position: absolute;
  bottom: -5.5rem;
  left: calc(50% - 150px);
}
#activity-slideshow .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 8px;
  background: #fff;
  border-radius: 0;
}
#activity-slideshow .owl-theme .owl-dots .owl-dot.active span {
  background: #F6CF3C;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
#activity-slideshow {
    width: calc(100vw - 2rem);
}
#activity-slideshow.ipadp-pr-4 {
    padding-right: 2rem;
}
#activity-slideshow.backdrop .backdrop-back {
    width: calc(100% - 3rem) !important;
}
#activity-slideshow .activity-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#activity-slideshow .activity-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
#activity-slideshow .owl-theme .owl-dots {
    margin: auto;
    width: 52vw;
    left: calc(50% - 24vw);
}
#activity-slideshow .owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#activity-slideshow .owl-theme .owl-nav {
    margin: auto;
    width: 100%;
    bottom: -6rem;
    left: 0.5rem;
}
#activity-slideshow .owl-theme .owl-nav .owl-prev {
    margin-right: 70vw;
}
}
@media only screen and (max-width: 767px) {
#activity-slideshow {
    width: calc(100vw - 2rem);
}
#activity-slideshow .activity-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#activity-slideshow .activity-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
#activity-slideshow .owl-theme .owl-dots {
    margin: auto;
    width: 52vw;
    left: calc(50% - 24vw);
}
#activity-slideshow .owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#activity-slideshow .owl-theme .owl-nav {
    margin: auto;
    width: 100%;
    bottom: -6rem;
    left: 0.5rem;
}
#activity-slideshow .owl-theme .owl-nav .owl-prev {
    margin-right: 70vw;
}
}

#party-slideshow {
  width: 100%;
  max-width: 1110px;
}
#party-slideshow .party-slide {
  position: relative;
  width: 1110px;
  max-width: 1110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}
#party-slideshow .party-slide img {
  max-width: 1110px;
  z-index: 1;
  position: relative;
  width: 100%;
  display: block;
  margin-left: -1rem;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#party-slideshow .owl-theme .owl-nav {
  margin-top: 1rem;
  margin-bottom: -30px;
  position: absolute;
  bottom: -4rem;
  left: calc(50% - 191px);
}
#party-slideshow .owl-theme .owl-nav .owl-prev {
  margin-right: 318px;
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#party-slideshow .owl-theme .owl-nav .owl-prev:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-image: url("/img/icons/chevron-left.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#party-slideshow .owl-theme .owl-nav .owl-next {
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#party-slideshow .owl-theme .owl-nav .owl-next:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: url("/img/icons/chevron-right.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#party-slideshow .owl-theme .owl-dots {
  width: 300px;
  position: absolute;
  bottom: -5.5rem;
  left: calc(50% - 150px);
}
#party-slideshow .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 8px;
  background: #fff;
  border-radius: 0;
}
#party-slideshow .owl-theme .owl-dots .owl-dot.active span {
  background: #F6CF3C;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
#party-slideshow {
    width: calc(100vw - 2rem);
}
#party-slideshow .party-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#party-slideshow .party-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
}
@media only screen and (max-width: 767px) {
#party-slideshow {
    width: calc(100vw - 2rem);
}
#party-slideshow .party-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#party-slideshow .party-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
#party-slideshow .owl-theme .owl-dots {
    margin: auto;
    width: 52vw;
    left: calc(50% - 24vw);
}
#party-slideshow .owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#party-slideshow .owl-theme .owl-nav {
    margin: auto;
    width: 100%;
    bottom: -6rem;
    left: 0.5rem;
}
#party-slideshow .owl-theme .owl-nav .owl-prev {
    margin-right: 70vw;
}
}

#party-slideshow {
  width: 100%;
  max-width: 1110px;
}
#party-slideshow .party-slide {
  position: relative;
  width: 1110px;
  max-width: 1110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}
#party-slideshow .party-slide img {
  max-width: 1110px;
  z-index: 1;
  position: relative;
  width: 100%;
  display: block;
  margin-left: -1rem;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#party-slideshow .owl-theme .owl-nav {
  margin-top: 1rem;
  margin-bottom: -30px;
  position: absolute;
  bottom: -4rem;
  left: calc(50% - 191px);
}
#party-slideshow .owl-theme .owl-nav .owl-prev {
  margin-right: 318px;
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#party-slideshow .owl-theme .owl-nav .owl-prev:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-image: url("/img/icons/chevron-left.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#party-slideshow .owl-theme .owl-nav .owl-next {
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#party-slideshow .owl-theme .owl-nav .owl-next:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: url("/img/icons/chevron-right.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#party-slideshow .owl-theme .owl-dots {
  width: 300px;
  position: absolute;
  bottom: -5.5rem;
  left: calc(50% - 150px);
}
#party-slideshow .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 8px;
  background: #fff;
  border-radius: 0;
}
#party-slideshow .owl-theme .owl-dots .owl-dot.active span {
  background: #F6CF3C;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
#party-slideshow {
    width: calc(100vw - 2rem);
}
#party-slideshow .party-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#party-slideshow .party-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
}
@media only screen and (max-width: 767px) {
#party-slideshow {
    width: calc(100vw - 2rem);
}
#party-slideshow .party-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#party-slideshow .party-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
#party-slideshow .owl-theme .owl-dots {
    margin: auto;
    width: 52vw;
    left: calc(50% - 24vw);
}
#party-slideshow .owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#party-slideshow .owl-theme .owl-nav {
    margin: auto;
    width: 100%;
    bottom: -6rem;
    left: 0.5rem;
}
#party-slideshow .owl-theme .owl-nav .owl-prev {
    margin-right: 70vw;
}
}

#party-slideshow {
  width: 100%;
  max-width: 1110px;
}
#party-slideshow .party-slide {
  position: relative;
  width: 1110px;
  max-width: 1110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}
#party-slideshow .party-slide img {
  max-width: 1110px;
  z-index: 1;
  position: relative;
  width: 100%;
  display: block;
  margin-left: -1rem;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#party-slideshow .owl-theme .owl-nav {
  margin-top: 1rem;
  margin-bottom: -30px;
  position: absolute;
  bottom: -4rem;
  left: calc(50% - 191px);
}
#party-slideshow .owl-theme .owl-nav .owl-prev {
  margin-right: 318px;
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#party-slideshow .owl-theme .owl-nav .owl-prev:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-image: url("/img/icons/chevron-left.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#party-slideshow .owl-theme .owl-nav .owl-next {
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#party-slideshow .owl-theme .owl-nav .owl-next:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: url("/img/icons/chevron-right.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#party-slideshow .owl-theme .owl-dots {
  width: 300px;
  position: absolute;
  bottom: -5.5rem;
  left: calc(50% - 150px);
}
#party-slideshow .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 8px;
  background: #fff;
  border-radius: 0;
}
#party-slideshow .owl-theme .owl-dots .owl-dot.active span {
  background: #F6CF3C;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
#party-slideshow {
    width: calc(100vw - 2rem);
}
#party-slideshow .party-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#party-slideshow .party-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
}
@media only screen and (max-width: 767px) {
#party-slideshow {
    width: calc(100vw - 2rem);
}
#party-slideshow .party-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#party-slideshow .party-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
#party-slideshow .owl-theme .owl-dots {
    margin: auto;
    width: 52vw;
    left: calc(50% - 24vw);
}
#party-slideshow .owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#party-slideshow .owl-theme .owl-nav {
    margin: auto;
    width: 100%;
    bottom: -6rem;
    left: 0.5rem;
}
#party-slideshow .owl-theme .owl-nav .owl-prev {
    margin-right: 70vw;
}
}

#party-slideshow {
  width: 100%;
  max-width: 1110px;
}
#party-slideshow .party-slide {
  position: relative;
  width: 1110px;
  max-width: 1110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}
#party-slideshow .party-slide img {
  max-width: 1110px;
  z-index: 1;
  position: relative;
  width: 100%;
  display: block;
  margin-left: -1rem;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#party-slideshow .owl-theme .owl-nav {
  margin-top: 1rem;
  margin-bottom: -30px;
  position: absolute;
  bottom: -4rem;
  left: calc(50% - 191px);
}
#party-slideshow .owl-theme .owl-nav .owl-prev {
  margin-right: 318px;
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#party-slideshow .owl-theme .owl-nav .owl-prev:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-image: url("/img/icons/chevron-left.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#party-slideshow .owl-theme .owl-nav .owl-next {
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#party-slideshow .owl-theme .owl-nav .owl-next:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: url("/img/icons/chevron-right.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#party-slideshow .owl-theme .owl-dots {
  width: 300px;
  position: absolute;
  bottom: -5.5rem;
  left: calc(50% - 150px);
}
#party-slideshow .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 8px;
  background: #fff;
  border-radius: 0;
}
#party-slideshow .owl-theme .owl-dots .owl-dot.active span {
  background: #F6CF3C;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
#party-slideshow {
    width: calc(100vw - 2rem);
}
#party-slideshow .party-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#party-slideshow .party-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
}
@media only screen and (max-width: 767px) {
#party-slideshow {
    width: calc(100vw - 2rem);
}
#party-slideshow .party-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#party-slideshow .party-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
#party-slideshow .owl-theme .owl-dots {
    margin: auto;
    width: 52vw;
    left: calc(50% - 24vw);
}
#party-slideshow .owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#party-slideshow .owl-theme .owl-nav {
    margin: auto;
    width: 100%;
    bottom: -6rem;
    left: 0.5rem;
}
#party-slideshow .owl-theme .owl-nav .owl-prev {
    margin-right: 70vw;
}
}

#voucher-slideshow {
  width: 100%;
  max-width: 1110px;
}
#voucher-slideshow .voucher-slide {
  position: relative;
  width: 1110px;
  max-width: 1110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}
#voucher-slideshow .voucher-slide img {
  max-width: 1110px;
  z-index: 1;
  position: relative;
  width: 100%;
  display: block;
  margin-left: -1rem;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#voucher-slideshow .owl-theme .owl-nav {
  margin-top: 1rem;
  margin-bottom: -30px;
  position: absolute;
  bottom: -4rem;
  left: calc(50% - 191px);
}
#voucher-slideshow .owl-theme .owl-nav .owl-prev {
  margin-right: 318px;
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#voucher-slideshow .owl-theme .owl-nav .owl-prev:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-image: url("/img/icons/chevron-left.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#voucher-slideshow .owl-theme .owl-nav .owl-next {
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#voucher-slideshow .owl-theme .owl-nav .owl-next:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: url("/img/icons/chevron-right.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#voucher-slideshow .owl-theme .owl-dots {
  width: 300px;
  position: absolute;
  bottom: -5.5rem;
  left: calc(50% - 150px);
}
#voucher-slideshow .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 8px;
  background: #fff;
  border-radius: 0;
}
#voucher-slideshow .owl-theme .owl-dots .owl-dot.active span {
  background: #F6CF3C;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
#voucher-slideshow {
    width: calc(100vw - 2rem);
}
#voucher-slideshow.ipadp-pr-4 {
    padding-right: 2rem;
}
#voucher-slideshow.backdrop .backdrop-back {
    width: calc(100% - 3rem) !important;
}
#voucher-slideshow .voucher-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#voucher-slideshow .voucher-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
#voucher-slideshow .owl-theme .owl-dots {
    margin: auto;
    width: 52vw;
    left: calc(50% - 24vw);
}
#voucher-slideshow .owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#voucher-slideshow .owl-theme .owl-nav {
    margin: auto;
    width: 100%;
    bottom: -6rem;
    left: 0.5rem;
}
#voucher-slideshow .owl-theme .owl-nav .owl-prev {
    margin-right: 70vw;
}
}
@media only screen and (max-width: 767px) {
#voucher-slideshow {
    width: calc(100vw - 2rem);
}
#voucher-slideshow .voucher-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#voucher-slideshow .voucher-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
#voucher-slideshow .owl-theme .owl-dots {
    margin: auto;
    width: 52vw;
    left: calc(50% - 24vw);
}
#voucher-slideshow .owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#voucher-slideshow .owl-theme .owl-nav {
    margin: auto;
    width: 100%;
    bottom: -6rem;
    left: 0.5rem;
}
#voucher-slideshow .owl-theme .owl-nav .owl-prev {
    margin-right: 70vw;
}
}

#map {
  height: 1100px;
  margin-bottom: -500px;
}
@media only screen and (max-width: 767px) {
#map {
    height: 800px;
    margin-bottom: -400px;
}
}

#map {
  height: 1100px;
  margin-bottom: -500px;
}
@media only screen and (max-width: 767px) {
#map {
    height: 800px;
    margin-bottom: -400px;
}
}

#party-slideshow {
  width: 100%;
  max-width: 1110px;
}
#party-slideshow .party-slide {
  position: relative;
  width: 1110px;
  max-width: 1110px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
}
#party-slideshow .party-slide img {
  max-width: 1110px;
  z-index: 1;
  position: relative;
  width: 100%;
  display: block;
  margin-left: -1rem;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
}
#party-slideshow .owl-theme .owl-nav {
  margin-top: 1rem;
  margin-bottom: -30px;
  position: absolute;
  bottom: -4rem;
  left: calc(50% - 191px);
}
#party-slideshow .owl-theme .owl-nav .owl-prev {
  margin-right: 318px;
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#party-slideshow .owl-theme .owl-nav .owl-prev:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-image: url("/img/icons/chevron-left.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#party-slideshow .owl-theme .owl-nav .owl-next {
  font-size: 0;
  position: relative;
  color: #1D252D;
  padding: 0;
  width: 25px;
  height: 33px;
  background-color: transparent;
}
#party-slideshow .owl-theme .owl-nav .owl-next:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: url("/img/icons/chevron-right.svg");
  background-size: contain;
  width: 25px;
  height: 33px;
  background-repeat: no-repeat;
}
#party-slideshow .owl-theme .owl-dots {
  width: 300px;
  position: absolute;
  bottom: -5.5rem;
  left: calc(50% - 150px);
}
#party-slideshow .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 8px;
  background: #fff;
  border-radius: 0;
}
#party-slideshow .owl-theme .owl-dots .owl-dot.active span {
  background: #F6CF3C;
}
@media only screen and (max-width: 767px) {
#party-slideshow {
    width: calc(100vw - 2rem);
}
#party-slideshow .party-slide {
    width: calc(100vw - 1.5rem);
    height: 54vw;
}
#party-slideshow .party-slide img {
    width: calc(100vw - 1.5rem) !important;
    height: auto;
}
#party-slideshow .owl-theme .owl-dots {
    margin: auto;
    width: 52vw;
    left: calc(50% - 24vw);
}
#party-slideshow .owl-theme .owl-dots .owl-dot span {
    width: 24px;
    height: 6px;
    margin: 3px;
}
#party-slideshow .owl-theme .owl-nav {
    margin: auto;
    width: 100%;
    bottom: -6rem;
    left: 0.5rem;
}
#party-slideshow .owl-theme .owl-nav .owl-prev {
    margin-right: 70vw;
}
}

.file-input-holder {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
}
.cv-upload {
  width: 100%;
  height: 50px;
  border: 1px solid #F6CF3C;
  position: relative;
  cursor: pointer;
}
.cv-upload .cv-upload-name {
  position: absolute;
  left: 0;
  font-size: 16px;
  padding: 0.7rem 1rem 0;
  height: 48px;
  text-align: left;
  cursor: pointer;
  width: calc(100% - 150px);
}
.cv-upload .cv-upload-btn {
  position: absolute;
  right: 0;
  background-color: #F6CF3C;
  color: #1D252D;
  font-size: 16px;
  padding: 0.7rem 1rem 0;
  height: 48px;
  cursor: pointer;
}
.cv-upload .cv-upload-btn p {
  font-size: 0.8rem;
  line-height: 0.8rem;
  cursor: pointer;
}

.news-select-container p.mimic-h3[data-v-48ffced6] {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.17;
}
.news-select[data-v-48ffced6] {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 47px;
  line-height: 47px;
}
.news-select .selected[data-v-48ffced6] {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #000;
  color: #000;
  padding: 0.35rem 1rem 0.15rem;
  cursor: pointer;
  user-select: none;
  font-family: Gotham, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.news-select .selected.open[data-v-48ffced6] {
  border: 1px solid #000;
  border-radius: 0;
}
.news-select .selected[data-v-48ffced6]:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 60px;
  height: 57px;
  background: #000;
}
.news-select .selected[data-v-48ffced6]:after {
  position: absolute;
  content: "";
  top: 19px;
  right: 15px;
  width: 22px;
  height: 18px;
  background-image: url("/img/icons/chevron-double-down-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.news-select .items[data-v-48ffced6] {
  color: #fff;
  border-radius: 0;
  overflow: hidden;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
}
.news-select .items div[data-v-48ffced6] {
  color: #000;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}
.news-select .items div[data-v-48ffced6]:hover {
  color: #000;
  background-color: #fff;
}
.selectHide[data-v-48ffced6] {
  display: none;
}
@media only screen and (max-width: 1199px) {
.news-select-container p.mimic-h3[data-v-48ffced6] {
    font-size: 2.5rem;
    margin-top: 7px;
}
}
@media only screen and (max-width: 767px) {
.news-select-container p.mimic-h3[data-v-48ffced6] {
    font-size: 8.5vw;
    margin-top: 0;
    letter-spacing: 0;
}
.news-select .selected[data-v-48ffced6] {
    font-size: 4vw;
}
}

.faqs-select-container p.mimic-h3[data-v-7591da92] {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.17;
}
.faqs-select[data-v-7591da92] {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 47px;
  line-height: 47px;
}
.faqs-select .selected[data-v-7591da92] {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #000;
  color: #000;
  padding: 0.35rem 1rem 0.15rem;
  cursor: pointer;
  user-select: none;
  font-family: Gotham, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.faqs-select .selected.open[data-v-7591da92] {
  border: 1px solid #000;
  border-radius: 0;
}
.faqs-select .selected[data-v-7591da92]:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 60px;
  height: 57px;
  background: #000;
}
.faqs-select .selected[data-v-7591da92]:after {
  position: absolute;
  content: "";
  top: 19px;
  right: 15px;
  width: 22px;
  height: 18px;
  background-image: url("/img/icons/chevron-double-down-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.faqs-select .items[data-v-7591da92] {
  color: #fff;
  border-radius: 0;
  overflow: hidden;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
}
.faqs-select .items div[data-v-7591da92] {
  color: #000;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}
.faqs-select .items div[data-v-7591da92]:hover {
  color: #000;
  background-color: #fff;
}
.selectHide[data-v-7591da92] {
  display: none;
}
@media only screen and (max-width: 1199px) {
.faqs-select-container p.mimic-h3[data-v-7591da92] {
    font-size: 2.5rem;
    margin-top: 7px;
}
}
@media only screen and (max-width: 767px) {
.faqs-select-container p.mimic-h3[data-v-7591da92] {
    font-size: 8.5vw;
    margin-top: 0;
    letter-spacing: 0;
}
.faqs-select .selected[data-v-7591da92] {
    font-size: 4vw;
}
}

.activities-select-container p.mimic-h3[data-v-0ef6ec54] {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.17;
}
.activities-select[data-v-0ef6ec54] {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 47px;
  line-height: 47px;
}
.activities-select .selected[data-v-0ef6ec54] {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #000;
  color: #000;
  padding: 0.35rem 1rem 0.15rem;
  cursor: pointer;
  user-select: none;
  font-family: Gotham, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.activities-select .selected.open[data-v-0ef6ec54] {
  border: 1px solid #000;
  border-radius: 0;
}
.activities-select .selected[data-v-0ef6ec54]:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 60px;
  height: 57px;
  background: #000;
}
.activities-select .selected[data-v-0ef6ec54]:after {
  position: absolute;
  content: "";
  top: 19px;
  right: 15px;
  width: 22px;
  height: 18px;
  background-image: url("/img/icons/chevron-double-down-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.activities-select .items[data-v-0ef6ec54] {
  color: #fff;
  border-radius: 0;
  overflow: hidden;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
}
.activities-select .items div[data-v-0ef6ec54] {
  color: #000;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}
.activities-select .items div[data-v-0ef6ec54]:hover {
  color: #000;
  background-color: #fff;
}
.selectHide[data-v-0ef6ec54] {
  display: none;
}
@media only screen and (max-width: 1199px) {
.activities-select-container p.mimic-h3[data-v-0ef6ec54] {
    font-size: 2.5rem;
    margin-top: 7px;
}
}
@media only screen and (max-width: 767px) {
.activities-select-container p.mimic-h3[data-v-0ef6ec54] {
    font-size: 8.5vw;
    margin-top: 0;
    letter-spacing: 0;
}
.activities-select .selected[data-v-0ef6ec54] {
    font-size: 4vw;
}
}

