<template>
	<div>
		<div id="bank-holiday-events">
		  <div class="container position-relative z-2">
		    <div class="row">
		    	<div class="col-12">
			    	<carousel :items="3" :margin="30" :center="false"  :autoHeight="true" :autoWidth="true" :nav="true" :dots="true">
				    	<div class="event">
				    		<div class="backdrop">
						      <div class="backdrop-content event-card card bg-dark shadow text-white">
						        <picture>
					            <source srcset="/img/cargo/bank/bb-03.webp" type="image/webp"/> 
					            <source srcset="/img/cargo/bank/bb-03.jpg" type="image/jpeg"/> 
					            <img src="/img/cargo/bank/bb-03.jpg" type="image/jpeg" alt="Saturday Bottomless Brunch Bank Holiday 2021" class="w-100 lazy" />
					          </picture>
					          <div class="event-price">
					          	<p class="mb-0 text-smallest title">FROM</p>
					          	<p class="mb-0">£35</p>
					          </div>
						        <div class="event-details py-4 px-3">
						          <p class="text-small text-primary text-uppercase mb-1"><b>Sat 28th Aug | 1pm & 3.30pm</b></p>
						          <p class="mimic-h3 w-100 mb-0">Bottomless Brunch</p>
						          <p class="w-100 mb-2 text-small">With DJ Nigel Boyce</p>
						          <a href="/cargo/book-now/event/14/bank-holiday">
						          	<button type="button" class="btn btn-primary btn-icon d-inline-block booknowbtn">Book Now <i class="custom-icon chevron-double-right"></i></button>
						          </a>
						          <p class="text-smallest mt-1 mb-0">*Minimum table booking of 2 people.</p>
						        </div>
						      </div>
						      <div class="backdrop-back"></div>
						    </div>
					    </div>
					    <div class="event">
				    		<div class="backdrop">
						      <div class="backdrop-content event-card card bg-dark shadow text-white">
						        <picture>
					            <source srcset="/img/cargo/bank/bb-04.webp" type="image/webp"/> 
					            <source srcset="/img/cargo/bank/bb-04.jpg" type="image/jpeg"/> 
					            <img src="/img/cargo/bank/bb-04.jpg" type="image/jpeg" alt="Saturday Bottomless Brunch Bank Holiday 2021" class="w-100 lazy" />
					          </picture>
					          <div class="event-price">
					          	<p class="mb-0 text-smallest title">FROM</p>
					          	<p class="mb-0">£20</p>
					          </div>
						        <div class="event-details py-4 px-3">
						          <p class="text-small text-primary text-uppercase mb-1"><b>Sat 28th Aug | 3pm - late</b></p>
						          <p class="mimic-h3 w-100 mb-0">Sunset Sessions</p>
						          <p class="w-100 mb-2 text-small">DJ NIgel Boyce, DJ Tez & More</p>
						          <a href="/cargo/book-now/event/16/sunset-sessions">
						          	<button type="button" class="btn btn-primary btn-icon d-inline-block booknowbtn">Book Now <i class="custom-icon chevron-double-right"></i></button>
						          </a>
						          <p class="text-smallest mt-1 mb-0">*Minimum table booking of 2 people.</p>
						        </div>
						      </div>
						      <div class="backdrop-back"></div>
						    </div>
					    </div>
					    <div class="event">
				    		<div class="backdrop">
						      <div class="backdrop-content event-card card bg-dark shadow text-white">
						        <picture>
					            <source srcset="/img/cargo/bank/bb-02.webp" type="image/webp"/> 
					            <source srcset="/img/cargo/bank/bb-02.jpg" type="image/jpeg"/> 
					            <img src="/img/cargo/bank/bb-02.jpg" type="image/jpeg" alt="Saturday Bottomless Brunch Bank Holiday 2021" class="w-100 lazy" />
					          </picture>
					          <div class="event-price">
					          	<p class="mb-0 text-smallest title">FROM</p>
					          	<p class="mb-0">£35</p>
					          </div>
						        <div class="event-details py-4 px-3">
						          <p class="text-small text-primary text-uppercase mb-1"><b>Sun 29th Aug | 1pm</b></p>
						          <p class="mimic-h3 w-100 mb-0">Bottomless Brunch</p>
						          <p class="w-100 mb-2 text-small">With DJ Jon Boi</p>
						          <a href="/cargo/book-now/event/15/bank-holiday">
						          	<button type="button" class="btn btn-primary btn-icon d-inline-block booknowbtn">Book Now <i class="custom-icon chevron-double-right"></i></button>
						          </a>
						          <p class="text-smallest mt-1 mb-0">*Minimum table booking of 2 people.</p>
						        </div>
						      </div>
						      <div class="backdrop-back"></div>
						    </div>
					    </div>
					    <div class="event">
				    		<div class="backdrop">
						      <div class="backdrop-content event-card card bg-dark shadow text-white">
						        <picture>
					            <source srcset="/img/cargo/bank/bb-01.webp" type="image/webp"/> 
					            <source srcset="/img/cargo/bank/bb-01.jpg" type="image/jpeg"/> 
					            <img src="/img/cargo/bank/bb-01.jpg" type="image/jpeg" alt="Saturday Bottomless Brunch Bank Holiday 2021" class="w-100 lazy" />
					          </picture>
					          <div class="event-price">
					          	<p class="mb-0 text-smallest title">FROM</p>
					          	<p class="mb-0">£20</p>
					          </div>
						        <div class="event-details py-4 px-3">
						          <p class="text-small text-primary text-uppercase mb-1"><b>Sun 29th Aug | 3pm - late</b></p>
						          <p class="mimic-h3 w-100 mb-0">Sunset Sessions</p>
						          <p class="w-100 mb-2 text-small">DJ Jon Boi, YEOO DJ & More</p>
						          <a href="/cargo/book-now/event/17/sunset-sessions">
						          	<button type="button" class="btn btn-primary btn-icon d-inline-block booknowbtn">Book Now <i class="custom-icon chevron-double-right"></i></button>
						          </a>
						          <p class="text-smallest mt-1 mb-0">*Minimum table booking of 2 people.</p>
						        </div>
						      </div>
						      <div class="backdrop-back"></div>
						    </div>
					    </div>
					  </carousel>
					</div>
		    </div>
		  </div> 
		</div>
	</div>
</template>
<script>
	import carousel from 'vue-owl-carousel';
export default {
	components: { carousel },
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      events: [],
      loadmore: true,
    }
  },

}
</script>
<style lang="scss">
#bank-holiday-events{
	.event {
  	position: relative;
	  width: 356px;
	  height: 586px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  overflow: hidden;
	  cursor: pointer;
	  padding-top: 2rem;
	  padding-left: 2rem;
	  img{
	  	z-index: 1;
	  	position: relative;
	  	display: block;
	  }
	  .event-price{
	  	position: absolute;
	  	top: 0.75rem;
	  	right: 0.75rem;
	  	width: 70px;
	  	height: 70px;
	  	background-color: #fff;
	  	color: #1D252D;
	  	text-align: center;
	    z-index: 4;
	    padding-top: 11px;
	    border-radius: 100%;
	  	p{
	  		font-family: Tungsten, sans-serif;
	  		text-transform: uppercase;
	  		font-size: 35px;
	  		line-height: 0.9;
	  		&.text-smallest{
	  			font-size: 20px;
	  		}
	  	}
	  }
	  .event-details{
	  	position: relative;
	  	padding-top: 1rem;
	  	background-color: #1D252D;
	  }
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible !important;
	}
	.owl-stage{
		margin: auto;
	}
	.owl-theme{
		.owl-nav{
			margin-top: 1rem;
			margin-bottom: -30px;
			.owl-prev{
				margin-right: 240px;
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 25px;
				height: 33px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 0;
					background-image: url('/img/icons/chevron-left.svg');
					background-size: contain;
					width: 25px;
					height: 33px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 25px;
				height: 33px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					background-image: url('/img/icons/chevron-right.svg');
					background-size: contain;
					width: 25px;
					height: 33px;
					background-repeat: no-repeat;
				}
			}
		}
		.owl-dots{
			width: 200px;
		  margin: auto;
		  .owl-dot{
				span{
					width: 14px;
			    height: 8px;
			    background: #fff;
			    border-radius: 0;
				}
				&.active{
					span{
						background: #F6CF3C;
					}
				}
			}
		}
	}	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#bank-holiday-events .owl-theme .owl-dots{
		width: 220px;
	}
	#bank-holiday-events .owl-theme .owl-nav .owl-prev{
		margin-right: 270px;
	}
}
@media only screen and (max-width : 767px){
	#bank-holiday-events{
		.event{
			padding-left: 1rem;
    	padding-right: 1rem;
		}
		.owl-theme{
			.owl-nav{
				margin: 1rem auto -30px auto;
			}
			.owl-dots{
		    margin: auto;
		    width: auto;
				.owl-dot span{
					width: 14px;
					height: 6px;
					margin: 3px;
				}
			}
		}
	}
}
@media only screen and (max-width : 320px){
	#bank-holiday-events{
		.event{
			width: 300px;
		}
	}
}
</style>