<template>
	<div>
		<div class="container-fluid position-relative z-2" v-if="events.length == 0">
		  <img src="/img/graphics/chevrons-right.svg" class="home-chevrons-right-1" alt="We are Vertigo chevrons right" data-aos="fade-down-left"/>
		  <div class="row mob-pt-0">
		    <div class="container pt-5 mob-pt-0">
		      <div class="row pt-5 mob-pt-0">
		        <div class="col-lg-8 text-center text-lg-left">
		          <h1 class="mb-4">Live Music &<br/><span class="text-primary">great</span> food & drink</h1>
		          <p>Cargo By Vertigo is Belfast’s largest outdoor licensed restaurant, located in the iconic Titanic Quarter! The perfect venue to enjoy a safe, socially distant night out with delicious food, tasty cocktails and stunning views. Experience our range of quirky seating areas including Ski Gondolas, Craneview Caverns and VIP Private Container Booths, set in view of Belfast’s landmark Harland and Wolff Cranes. </p>
		          <p class="mb-4">Relax in Cargo's Summer Garden or underneath our massive marquees while enjoying great music and buzzing atmosphere unlike anywhere else in Northern Ireland.</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div id="inline-events" v-else>
		  <div class="container position-relative z-2">
		    <div class="row mt-5">
		    	<div class="col-12">
			    	<carousel :items="events.length - 1" :margin="30" :center="false"  :autoHeight="true" :autoWidth="true" :nav="true" :dots="true">
				    	<div class="event" v-for="event in events">
				    		<div class="backdrop">
						      <div class="backdrop-content event-card card bg-dark shadow text-white">
						        <picture>
					            <source :srcset="event.featuredwebp" type="image/webp"/> 
					            <source :srcset="event.featured" :type="event.mimetype"/> 
					            <img :src="event.featured" :type="event.mimetype" :alt="event.title" class="w-100 h-auto lazy" width="316" height="316" />
					          </picture>
						        <div class="event-details py-4 px-3">
						          <p class="text-small text-primary text-uppercase mb-1" v-if="event.date"><b>{{event.date}}</b></p>
						          <p class="mimic-h3 w-100 mb-0">{{event.title}}</p>
						          <p class="w-100 mb-2 text-small" v-if="event.subtitle">{{event.subtitle}}</p>
						          <p class="activity-summary mb-1"><span :v-html="event.description"></span></p>
						          <p class="activity-summary mb-1">{{event.price}}</p>
						          <a :href="event.link" v-if="event.link != 'custom'">
						          	<button type="button" class="btn btn-primary btn-icon d-inline-block booknowbtn">Book Now <i class="custom-icon chevron-double-right"></i></button>
						          </a>
						          <a :href="'/cargo/book-now/event/' + event.id + '/' + event.slug" v-else>
						          	<button type="button" class="btn btn-primary btn-icon d-inline-block booknowbtn">Book Now <i class="custom-icon chevron-double-right"></i></button>
						          </a>
						          <p class="text-smallest mt-1 mb-0">*Minimum table booking of 2 people.</p>
						        </div>
						      </div>
						      <div class="backdrop-back"></div>
						    </div>
					    </div>
					  </carousel>
					</div>
		    </div>
		  </div> 
		</div>
	</div>
</template>
<script>
	import carousel from 'vue-owl-carousel';
export default {
	components: { carousel },
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      events: [],
      loadmore: true,
    }
  },
  mounted(){
    this.getevents();
  },
  methods: {
    getevents() {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        axios.get('/events/get').then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.events = response.data;
          console.log(this.response);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss">
#inline-events{
	margin-top: -170px;
	.event {
  	position: relative;
	  width: 356px;
	  height: 650px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  overflow: hidden;
	  cursor: pointer;
	  padding-top: 2rem;
	  padding-left: 2rem;
	  img{
	  	z-index: 1;
	  	position: relative;
	  	display: block;
	  }
	  .event-price{
	  	position: absolute;
	  	top: 0.75rem;
	  	right: 0.75rem;
	  	width: 70px;
	  	height: 70px;
	  	background-color: #fff;
	  	color: #1D252D;
	  	text-align: center;
	    z-index: 4;
	    padding-top: 11px;
	    border-radius: 100%;
	  	p{
	  		font-family: Tungsten, sans-serif;
	  		text-transform: uppercase;
	  		font-size: 35px;
	  		line-height: 0.9;
	  		&.text-smallest{
	  			font-size: 20px;
	  		}
	  	}
	  }
	  .event-details{
	  	position: relative;
	  	padding-top: 1rem;
	  	background-color: #1D252D;
	  }
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible !important;
	}
	.owl-stage{
		margin: auto;
	}
	.owl-theme{
		.owl-nav{
			margin-top: 1rem;
			margin-bottom: -30px;
			.owl-prev{
				margin-right: 240px;
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 25px;
				height: 33px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 0;
					background-image: url('/img/icons/chevron-left.svg');
					background-size: contain;
					width: 25px;
					height: 33px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 25px;
				height: 33px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					background-image: url('/img/icons/chevron-right.svg');
					background-size: contain;
					width: 25px;
					height: 33px;
					background-repeat: no-repeat;
				}
			}
		}
		.owl-dots{
			width: 200px;
		  margin: auto;
		  .owl-dot{
				span{
					width: 14px;
			    height: 8px;
			    background: #fff;
			    border-radius: 0;
				}
				&.active{
					span{
						background: #F6CF3C;
					}
				}
			}
		}
	}	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#inline-events .owl-theme .owl-dots{
		width: 220px;
	}
	#inline-events .owl-theme .owl-nav .owl-prev{
		margin-right: 270px;
	}
}
@media only screen and (max-width : 767px){
	#inline-events{
		.event{
			padding-left: 1rem;
    	padding-right: 1rem;
		}
		.owl-theme{
			.owl-nav{
				margin: 1rem auto -30px auto;
			}
			.owl-dots{
		    margin: auto;
		    width: auto;
				.owl-dot span{
					width: 14px;
					height: 6px;
					margin: 3px;
				}
			}
		}
	}
}
@media only screen and (max-width : 320px){
	#inline-events{
		.event{
			width: 300px;
		}
	}
}
</style>