<template>
	<div id="list-events" v-if="events.length > 0 && events != []">
	  <div class="container position-relative z-2 pt-5">
	  	<div class="row mt-5">
	  		<div class="col-12 text-center">
	  			<p class="text-primary mb-0"><b>Open air heated outdoor venue</b></p>
	  			<h2 class="title-large mob-text-h2">Upcoming Events</h2>
	  		</div>
	  	</div>
	    <div class="row">
	    	<div class="col-lg-6" v-for="event in events">
	    		<a :href="event.link" v-if="event.link != 'custom'">
			    	<div class="event">
			    		<div class="backdrop">
					      <div class="container backdrop-content event-card card shadow text-white">
					      	<div class="row">
					      		<div class="col-4 px-0">
								      <picture>
						            <source :srcset="event.featuredwebp" type="image/webp"/> 
						            <source :srcset="event.featured" :type="event.mimetype"/> 
						            <img :src="event.featured" :type="event.mimetype" :alt="event.title" class="w-100 lazy" />
						          </picture>
						        </div>
						        <div class="col-8">
							        <div class="event-details pt-4 mob-pt-2">
							          <p class="text-small text-primary text-uppercase mb-1 event-date" v-if="event.date"><b>{{event.date}}</b></p>
							          <p class="mimic-h3 w-100 mb-0">{{event.title}}</p>
							          <p class="w-100 mb-2 text-small mob-mb-0" v-if="event.subtitle">{{event.subtitle}}</p>
							          <p class="text-small text-primary text-uppercase mb-0"><b v-if="event.price">{{event.price}} - </b><b>Book Now</b> <i class="fa fa-angle-double-right"></i></p>
							        </div>
							      </div>
							    </div>
					      </div>
					      <div class="backdrop-back"></div>
					    </div>
				    </div>
				  </a>
				  <a :href="'/cargo/book-now/event/' + event.id + '/' + event.slug" v-else>
				  	<div class="event">
			    		<div class="backdrop">
					      <div class="container backdrop-content event-card card shadow text-white">
					      	<div class="row">
					      		<div class="col-4 px-0">
								      <picture>
						            <source :srcset="event.featuredwebp" type="image/webp"/> 
						            <source :srcset="event.featured" :type="event.mimetype"/> 
						            <img :src="event.featured" :type="event.mimetype" :alt="event.title" class="w-100 lazy" />
						          </picture>
						        </div>
						        <div class="col-8">
							        <div class="event-details pt-4 mob-pt-2">
							          <p class="text-small text-primary text-uppercase mb-1 event-date" v-if="event.date"><b>{{event.date}}</b></p>
							          <p class="mimic-h3 w-100 mb-0">{{event.title}}</p>
							          <p class="w-100 mb-2 text-small mob-mb-0" v-if="event.subtitle">{{event.subtitle}}</p>
							          <p class="text-small text-primary text-uppercase mb-0 book-now-event"><b v-if="event.price">{{event.price}} - </b><b>Book Now</b> <i class="fa fa-angle-double-right"></i></p>
							        </div>
							      </div>
							    </div>
					      </div>
					      <div class="backdrop-back"></div>
					    </div>
				    </div>
				  </a>
				</div>
	    </div>
	    <div class="row">
	    	<div class="col-12 mt-5 text-center" v-if="loadmore">
	        <div class="btn btn-primary btn-icon" @click="moreEvents">Load More <i class="fa fa-angle-double-down"></i></div> 
	      </div>
	  	</div>
	  </div> 
	</div>
</template>
<script>
export default {
  data() {
    return {
      errors: {},
      success: false,
      loaded: true,
      events: [],
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getevents();
  },
  methods: {
    getevents(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};

        axios.get('/events/all/10?page=' + page).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.events = response.data.data;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          console.log(this.response);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
    moreEvents(){
    	this.page++;
      if (this.loaded) {
        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/events/all/10?page=' + this.page).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.events.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss" scoped>
#list-events{
	margin-top: -170px;
	.event {
  	position: relative;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  cursor: pointer;
	  min-height: 223px;
	  padding-top: 2rem;
	  p{
	  	&.mimic-h3{
	  		font-size: 2rem;
	  	}
	  }
	  img{
	  	z-index: 1;
	  	position: relative;
	  	display: block;
	  }
	  .event-card{
	  	background-color: #1D252D;
	  }
	  .event-details{
	  	position: relative;
	  	padding-top: 1rem;
	  }
	}
	.backdrop .backdrop-back{
		left: 1.5rem;
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}
@media only screen and (max-width : 767px){
	#list-events{
		.event{
			min-height: 0px;
    	.event-date{
				font-size: 3vw;
			}
			p.mimic-h3{
				font-size: 6vw;
			}
			p.book-now-event{
				font-size: 3vw !important;
			}
		}
		.backdrop .backdrop-back{
			left: 1rem;
			top: 0.75rem;
		}
	}
}
@media only screen and (max-width : 320px){
	#list-events{
		.event{
 			
		}
		
	}
}
</style>