/* Generated using nova-theme-generator.com */

:root {
    --transparent: transparent;
    --black: #1D252D;
    --white: white;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #e74444;
    --success: #21b978;
    --warning: #ffeb3b;
    --info: #03a9f4;
    --primary: #F6CF3C;
    --primary-dark: #C79700;
    --primary-70: rgba(246, 207, 60, 0.7);
    --primary-50: rgba(246, 207, 60, 0.5);
    --primary-30: rgba(246, 207, 60, 0.3);
    --primary-10: rgba(246, 207, 60, 0.1);
    --logo: ;
    --sidebar-icon: #b3c1d1;
    --20: rgb(238, 241, 244);
    --30: rgb(207, 215, 224);
    --40: rgb(176, 190, 204);
    --50: rgb(145, 164, 184);
    --60: rgb(114, 139, 164);
    --70: rgb(89, 113, 138);
    --80: rgb(69, 88, 107);
    --90: rgb(49, 62, 76);
    --90-half: rgba(40, 54, 61, 0.5);
}

.bg-grad-sidebar {
  background-color: #1D252D;
  background-image: none !important;
}
.btn-primary{
    color: #000 !important;
    text-shadow: none;
}
.btn-default{
    box-shadow: none !important;
    text-shadow: none !important;
}
.btn{
    border-radius: 0 !important;
    -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease ;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
}

.bg-40{
  background-color: #1D252D;
}
.bg-40.min-w-site{
    background-color: #f1f1f1;
}
.bg-40.min-w-site .bg-40{
    background-color: #f1f1f1;
}
.bg-logo{
    padding-top: 1rem;
}
.bg-logo img{
    max-width: 150px;
}
.form-global-search{
    background-color: #fff !important;
    border: 1px solid #000;
    border-radius: 0;
}
a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
  font-size: 0px !important;
    padding: 0px !important;
    height: 0px !important;
    position: fixed;
    top: -5000vh;
}
.fr-element.fr-view{
    min-height: 300px !important;
}
#fr-logo{
    display: none !important;
}