<template>
	<div class="container-fluid position-relative z-2 mob-px-4">
    <div class="row">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 half_col position-relative z-2">
            <faq-select @input="changeCategory" :options="categories" :default="'General'"></faq-select>
            <p class="mb-0 mt-2 text-small"><span class="text-primary">*</span> Click on a question to reveal the answer</p>
          </div>
        </div>
      </div>
    </div>
    <div id="generalAccoridon" class="row accordion">
			<div class="col-12 mb-0" v-for="(faq, index) in faqs">
        <div class="py-3">
          <p :id="'generalfaqsheading'+faq.id" class="collapsed faq-button mb-0 cursor-pointer question" data-toggle="collapse" :data-target="'#generalfaqs'+faq.id" aria-expanded="false" :aria-controls="'generalfaqs'+faq.id" @click="scrollToQuestion('generalfaqsheading'+faq.id)"><b>{{faq.question}}</b></p>
        </div>
        <div :id="'generalfaqs'+faq.id" class="collapse mb-5 answer" :aria-labelledby="'generalfaqsheading'+faq.id" data-parent="#generalAccoridon" v-html="faq.answer"></div>
        <hr class="line primary-line my-0"/>
			</div>
		</div>
  </div>  
</template>

<script>
	const FaqSelect = () => import(/* webpackChunkName: "FaqSelect" */ './FaqSelect.vue');
  export default {
  	props:{
  		categories: Array
  	},
  	components:{
  		FaqSelect
  	},
    watch:{
    category: function(val){
      this.changeCategory(val);
    },
  },
  data() {
    return {
      category: 1,
      errors: {},
      success: false,
      loaded: true,
      faqs: [],
      limit: 8,
      page: 1,
    }
  },
  mounted(){
  	console.log(this.categories);
    this.getFaqs();
  },
  methods: {
    scrollToQuestion(val){
      setTimeout(function(){
        $('html, body').animate({
          scrollTop: $("#" + val).offset().top - 100
        }, 500);
      }, 300);
      
    },
    changeCategory(val){
      this.category = val;
      this.getFaqs();
    },
    getFaqs(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/faqs/get/' + this.category).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.faqs = response.data;
          console.log(this.response);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
  },
}
</script>
<style lang="scss">
	$primary: #F6CF3C; 
	$darkgrey: #1D252D;
	$white: #fff;
	$title: Tungsten, sans-serif;
	$body: Gotham, sans-serif;
	.question{
		font-family: $title;
		font-size: 2.2rem;
		text-transform: uppercase;
		font-weight: 300;
	}
	.answer{
		font-size: 1.2rem;
		br{
			display: block;
			margin-bottom: 1rem;
		}
	}
</style>