<template>
  <div id="birthday-top-slider">
    <header id="birthdays-header" class="position-relative full-height home-top bg bg-down-up z-1">
      <!-- <carousel ref="birthday-top-slider" :mouse-drag="false" :wrapAround="true" :autoplay="7000" :autoplayTimeout="7000"> -->
      <carousel ref="birthday-top-slider" :mouse-drag="false" :wrapAround="true">
        <slide class="party-slide">
          <div class="slide">
            <span class="slide-bg animate in newtownbreda-3for2"></span>
            <div class="static-content">
              <div class="slide-info">
                <div class="container container-wide full-height">
                  <div class="d-table w-100 h-100">
                    <div class="d-table-cell w-100 h-100 align-middle mob-pl-4">
                      <div class="navigation-controls">
                        <button @click="this.$refs['birthday-top-slider'].prev()" class="me-1"><font-awesome-icon :icon="['fas', 'angle-left']"/></button>
                        <button @click="this.$refs['birthday-top-slider'].next()"><font-awesome-icon :icon="['fas', 'angle-right']"/></button>
                      </div>
                      <h2 class="text-uppercase">GET 3 FOR 2 ON <br class="d-lg-none" />YOUR<br class="d-none d-lg-block" /> PARTY!</h2>
                      <p class="text-small mb-1"><b>Book your party for any future date and every 3rd person goes free!</b></p>
                      <p class="text-small mob-mb-0">*Excluding toddler parties</p>
                      <button type="button" class="btn btn-primary btn-icon mb-hp-btm mob-mt-2" onclick="RollerCheckout.show()">Book Now <i class="custom-icon chevron-double-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide class="party-slide">
          <div class="slide">
            <span class="slide-bg animate in birthdays-3for2-2"></span>
            <div class="static-content">
              <div class="slide-info">
                <div class="container container-wide full-height">
                  <div class="d-table w-100 h-100">
                    <div class="d-table-cell w-100 h-100 align-middle mob-pl-4">
                      <div class="navigation-controls">
                        <button @click="this.$refs['birthday-top-slider'].prev()" class="me-1"><font-awesome-icon :icon="['fas', 'angle-left']"/></button>
                        <button @click="this.$refs['birthday-top-slider'].next()"><font-awesome-icon :icon="['fas', 'angle-right']"/></button>
                      </div>
                      <h2 class="text-uppercase">BIRTHDAY <br class="d-lg-none" />PARTIES</h2>
                      <p><b>Birthday child gets a FREE return pass!</b></p>
                      <button type="button" class="btn btn-primary btn-icon mb-hp-btm mob-mt-2" onclick="RollerCheckout.show()">Book Now <i class="custom-icon chevron-double-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide class="party-slide">
          <div class="slide">
            <span class="slide-bg animate in birthdays-3for2-3"></span>
            <div class="static-content">
              <div class="slide-info">
                <div class="container container-wide full-height">
                  <div class="d-table w-100 h-100">
                    <div class="d-table-cell w-100 h-100 align-middle mob-pl-4">
                      <div class="navigation-controls">
                        <button @click="this.$refs['birthday-top-slider'].prev()" class="me-1"><font-awesome-icon :icon="['fas', 'angle-left']"/></button>
                        <button @click="this.$refs['birthday-top-slider'].next()"><font-awesome-icon :icon="['fas', 'angle-right']"/></button>
                      </div>
                      <h2 class="text-uppercase">BIRTHDAY <br class="d-lg-none" />PARTIES</h2>
                      <p><b>Birthday child gets a FREE return pass!</b></p>
                      <button type="button" class="btn btn-primary btn-icon mb-hp-btm mob-mt-2" onclick="RollerCheckout.show()">Book Now <i class="custom-icon chevron-double-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide class="party-slide">
          <div class="slide">
            <span class="slide-bg animate in birthdays-sept-24"></span>
            <div class="static-content">
              <div class="slide-info">
                <div class="container container-wide full-height">
                  <div class="d-table w-100 h-100">
                    <div class="d-table-cell w-100 h-100 align-middle mob-pl-4">
                      <div class="navigation-controls">
                        <button @click="this.$refs['birthday-top-slider'].prev()" class="me-1"><font-awesome-icon :icon="['fas', 'angle-left']"/></button>
                        <button @click="this.$refs['birthday-top-slider'].next()"><font-awesome-icon :icon="['fas', 'angle-right']"/></button>
                      </div>
                      <h2 class="text-uppercase">BIRTHDAY <br class="d-lg-none" />PARTIES</h2>
                      <p><b>Birthday child gets a FREE return pass!</b></p>
                      <button type="button" class="btn btn-primary btn-icon mb-hp-btm mob-mt-2" onclick="RollerCheckout.show()">Book Now <i class="custom-icon chevron-double-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <template #addons>
          <pagination />
        </template>
      </carousel>
      <div class="cut"></div>
      <top-details></top-details>
    </header>
  </div>
</template>
<script>
  import { ref } from 'vue';
  import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
  const armourycarousel = ref(null);
  export default {
    components: { 
      Carousel,
      Slide,
      Pagination,
      Navigation,
    },
    data() {
      return {
        slideNumber: 0,
        interval: 7000,
        slides: 5,
        index: 1
      }
    },
    methods: {
      navigateTo(index) {
        this.$refs['birthday-top-slider'].slideTo(index);
      }
    }
  }
</script>
<style lang="scss">
@keyframes ken-burns-effect {
  0% {
    transform: scale(1);
    transform-origin: center;
  }
  100% {
    transform: scale(1.2);
    transform-origin: center;
  }
}
.temp-bg{
  background-image: url('/img/temp/temp.png');
}
$slide-distance: calc((4vw + 4vh + 4%)/3);

$slide-distance-ms: 4%; // IE11 does not support calc() in transform:translate;

$slide-distance-negative: calc((-4vw + -4vh + -4%)/3);

$zoom-scale: 1.15;

// Option for slide distance without calc(). More compatible but not as
// consistant on screens that are not exactely square.
//
// $slide-distance: 5%;
// $slide-distance-negative: -5%;

// The 0.01deg rotation is a hack to make the animations smooth on Firefox


@-webkit-keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

@keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

#birthdays-header{
  min-height: 750px;
  height: calc(100vh - 34px);
  .full-height{
    min-height: 750px;
    height: calc(100vh - 34px);
  }
}
.no-webp{
  .birthdays-3for2-2{
    background-image: url('/img/offers/birthdays/slide.jpg');
  }
  .birthdays-3for2-3{
    background-image: url('/img/offers/birthdays/cupcakes.jpg');
  }
  .birthdays-3for2-4{
    background-image: url('/img/offers/birthdays/smile.jpg');
  }
  .birthdays-3for2-5{
    background-image: url('/img/bg/home-inflatable-titanic.jpg');
  }
  .newtownbreda-3for2{
    background-image: url('/img/home-slides/newtownbreda-3for2.jpg');
  }
  .birthdays-sept-24{
    background-image: url('/img/parties/birthdays/birthdays9.jpg');
  }
}
.webp{
  .birthdays-3for2-2{
    background-image: url('/img/offers/birthdays/slide.webp');
  }
  .birthdays-3for2-3{
    background-image: url('/img/offers/birthdays/cupcakes.webp');
  }
  .birthdays-3for2-4{
    background-image: url('/img/offers/birthdays/smile.webp');
  }
  .birthdays-3for2-5{
    background-image: url('/img/bg/home-inflatable-titanic.webp');
  }
  .newtownbreda-3for2{
    background-image: url('/img/home-slides/newtownbreda-3for2.webp');
  }
  .birthdays-sept-24{
    background-image: url('/img/parties/birthdays/birthdays9.webp');
  }
}
.home-full-height{
  min-height: 750px;
}
#birthday-top-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  ol li:before,
  ol li:after{
    display: none !important;
  }
  .carousel__slide--active{
    z-index: 2;
  }
  .navigation-controls {
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
    z-index: 10; /* Ensure it's above other content */
  }
  .navigation-controls button {
    border: none;
    background: #F6CF3C; /* Semi-transparent black background */
    color: #000;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 0px 0 0;
    cursor: pointer;
    font-size: 22px;
  }
  .slide{
    text-align: left;
    height: 100vh;
    width: 100vw;
    .slide-bg{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      animation: ken-burns-effect 7s ease-in-out infinite alternate;
    }
    .static-content {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      .slide-info{
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(29,37,45,0.5);
        width: 100%;
        height: 100%;
        .get3for2{
          position: absolute;
          bottom: calc(50% + 110px);
          width: 110px;
          left: 685px;
          transform: rotate(-19deg);
        }
        h2{
          position: relative;
          display: inherit;
          font-size: 8rem;
          letter-spacing: 1px;
          line-height: 0.8;
          color: #fff;
          &.smaller{
            font-size: 7rem;
          }
        }
        p{
          &.home-title-top{
            font-family: Tungsten, sans-serif;
            color: #F6CF3C;
            font-size: 2.5rem;
            margin-bottom: 0;
            margin-top: -30px;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
          }
        }
      }
    }
  }
  .carousel__pagination{
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 680px - 6rem);
    width: 8px;
    height: 100%;
    z-index: 2;
    margin: 0;
    display: block;
    list-style: none;
    .carousel__pagination-item{
      padding-left: 0;
      list-style: none;
      display: block;
      margin-bottom: 8px;
      &:before,
      &:after{
        display: none !important;
      }
      .carousel__pagination-button{
        height: 24px;
        background-color: #fff;
        width: 5px;
        padding: 0 ;
        display: block;
        &:after{
          display: none !important;
        }
        &.carousel__pagination-button--active{
          background-color: #F6CF3C;
        }
      }
      
    }
  }
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  #birthdays-header{
    min-height: 750px;
    .full-height{
      min-height: 750px;
    }
  }
  .mb-hp-btm{
    margin-bottom: 50px;
  }
  #birthday-top-slider .slide .static-content{
    .slide-info{
      h2{
        font-size: 9rem;
        letter-spacing: 1px;
        line-height: 0.8;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width : 767px){
  .home-full-height{
    min-height: 700px;
  }
  #birthdays-header{
    min-height: 700px;
    height: 700px;
    .full-height{
      min-height: 700px;
      height: 700px;
    }
  }
  
  #birthday-top-slider .slide .static-content{
    .slide-info{
      h2{
        font-size: 14vw;
        line-height: 0.9;
        &.mob-a-bit-smaller{
          font-size: 13vw;
        }
        &.smaller{
          font-size: 13vw;
        }
        .this-easter{
          position: absolute;
          bottom: auto;
          width: 110px;
          left: -22px;
          transform: rotate(-11deg);
          top: -120px;
        }
      }
      p{
        &.home-title-top{
          margin-top: -17vw;
          font-size: 6vw;
        }
      }
    }
  }
  #birthday-top-slider{
    .carousel__pagination{
      top: calc(50% - 85px);
      left: 10px;
      .carousel__pagination-item{
        .carousel__pagination-button{
          height: 20px;
          width: 4px;
          padding: 0 ;
        }
      }
    }
  }
}
@media only screen and (max-width : 320px){
  #birthdays-header{
    min-height: 600px;
    height: 600px;
    .full-height{
      min-height: 600px;
      height: 600px;
    }
  }
}
</style>