<template>
	<div id="home-activities" class="container-fluid pb-5">
		<div class="row">
			<div class="col-12">
				<carousel class="d-none d-lg-block" :items="items" :margin="30" :center="false"  :autoHeight="true" :autoWidth="true" :nav="true" :dots="true">
					<div class="home-activity" v-if="location != 'titanic-quarter'">
						<a href="/activities/newtownbreda/inflatable-park">
							<div class="activity-info">
								
								<picture>
					        <source data-srcset="/img/gifs/inflatable-park-newtownbreda.webp" type="image/webp"/> 
					        <source data-srcset="/img/gifs/inflatable-park-newtownbreda.gif" type="image/gif"/>
					        <img data-src="/img/gifs/inflatable-park-newtownbreda.gif" alt="Inflatable Park Newtownbreda - We are Vertigo - Belfast Northern Ireland" class="lazy h-auto" width="308" height="385"/>
					      </picture>
						    <p class="text-dark title mt-3 mb-0">@ Newtownbreda</p>
						    <p class="activity-title title text-dark">Inflatable Park <i class="custom-icon chevron-double-right"></i></p>
					    </div>
				    </a>
					</div>
					<div class="home-activity" v-if="location != 'titanic-quarter'">
						<a href="/activities/newtownbreda/adventure-climbing">
							<div class="activity-info">
								
								<picture>
					        <source data-srcset="/img/gifs/adventure.webp" type="image/webp"/> 
					        <source data-srcset="/img/gifs/adventure.gif" type="image/gif"/>
					        <img data-src="/img/gifs/adventure.gif" alt="Adventure Climbing - We are Vertigo - Belfast Northern Ireland" class="lazy h-auto" width="308" height="385"/>
					      </picture>   
					      <p class="text-dark title mt-3 mb-0">@ Newtownbreda</p>
					      <p class="activity-title title text-dark">Adventure Climbing <i class="custom-icon chevron-double-right"></i></p>					    
					    </div>
				    </a>
					</div>
					<div class="home-activity" v-if="location != 'titanic-quarter'">
						<a href="/activities/newtownbreda/inflatable-park">
							<div class="activity-info">
								
								<picture>
					        <source data-srcset="/img/gifs/toddlers.webp" type="image/webp"/> 
					        <source data-srcset="/img/gifs/toddlers.gif" type="image/gif"/>
					        <img data-src="/img/gifs/toddlers.gif" alt="Toddler Mornings - We are Vertigo - Belfast Northern Ireland" class="lazy h-auto" width="308" height="385"/>
					      </picture>   
					      <p class="text-dark title mt-3 mb-0">@ Newtownbreda</p>
					      <p class="activity-title title text-dark">Toddler Mornings <i class="custom-icon chevron-double-right"></i></p>					    
					    </div>
				    </a>
					</div>
				</carousel>
				<carousel class="d-lg-none" :items="items" :margin="30" :center="false"  :autoHeight="true" :autoWidth="true" :nav="true" :dots="true":autoplay="true" :autoplayTimeout="5000" :autoplaySpeed="500" :loop="true">
					<slide class="activity-slide">
						<div class="home-activity" v-if="location != 'titanic-quarter'">
							<a href="/activities/newtownbreda/inflatable-park">
								<div class="activity-info">
									
									<picture>
						        <source data-srcset="/img/gifs/inflatable-park-newtownbreda.webp" type="image/webp"/> 
						        <source data-srcset="/img/gifs/inflatable-park-newtownbreda.gif" type="image/gif"/>
						        <img data-src="/img/gifs/inflatable-park-newtownbreda.gif" alt="Inflatable Park Newtownbreda - We are Vertigo - Belfast Northern Ireland" class="lazy h-auto" width="308" height="385"/>
						      </picture>
							    <p class="text-dark title mt-3 mb-0">@ Newtownbreda</p>
							    <p class="activity-title title text-dark">Inflatable Park <i class="custom-icon chevron-double-right"></i></p>
						    </div>
					    </a>
						</div>
					</slide>
					<slide class="activity-slide">
						<div class="home-activity" v-if="location != 'titanic-quarter'">
							<a href="/activities/newtownbreda/adventure-climbing">
								<div class="activity-info">
									
									<picture>
						        <source data-srcset="/img/gifs/adventure.webp" type="image/webp"/> 
						        <source data-srcset="/img/gifs/adventure.gif" type="image/gif"/>
						        <img data-src="/img/gifs/adventure.gif" alt="Adventure Climbing - We are Vertigo - Belfast Northern Ireland" class="lazy h-auto" width="308" height="385"/>
						      </picture>   
						      <p class="text-dark title mt-3 mb-0">@ Newtownbreda</p>
						      <p class="activity-title title text-dark">Adventure Climbing <i class="custom-icon chevron-double-right"></i></p>					    
						    </div>
					    </a>
						</div>
					</slide>
					<slide class="activity-slide">
						<div class="home-activity" v-if="location != 'titanic-quarter'">
							<a href="/activities/newtownbreda/inflatable-park">
								<div class="activity-info">
									
									<picture>
						        <source data-srcset="/img/gifs/toddlers.webp" type="image/webp"/> 
						        <source data-srcset="/img/gifs/toddlers.gif" type="image/gif"/>
						        <img data-src="/img/gifs/toddlers.gif" alt="Toddler Mornings - We are Vertigo - Belfast Northern Ireland" class="lazy h-auto" width="308" height="385"/>
						      </picture>   
						      <p class="text-dark title mt-3 mb-0">@ Newtownbreda</p>
						      <p class="activity-title title text-dark">Toddler Mornings <i class="custom-icon chevron-double-right"></i></p>					    
						    </div>
					    </a>
						</div>
					</slide>
					<template #addons>
			      <navigation />
		        <pagination />
			    </template>
				</carousel>
			</div>
		</div>
	</div>
</template>
<script>
	import { ref } from 'vue';
	import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
	const christmascarousel = ref(null);
	export default {
	  props: { 
	  	location: String,
	  	items: Number 
	  },
	  components: { 
	  	Carousel,
      Slide,
      Pagination,
      Navigation,
	  },
	  data() {
			return {
				videos: [],
				errors: {},
				success: false,
				loaded: true,
			}
		}
	}
</script>
<style lang="scss">
#home-activities{
	.home-activity {
  	position: relative;
	  width: 356px;
	  height: 500px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  overflow: hidden;
	  cursor: pointer;
	  padding-top: 2rem;
	  padding-left: 2rem;
	  img{
	  	z-index: 1;
	  	position: relative;
	  	width: calc(100% - 1rem);
	  	margin-top: -3rem;
	  	display: block;
	  	margin-left: -1rem;
	  	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
	  }
	  .activity-info{
	  	position: relative;
	  	padding-top: 1rem;
	  	background-color: #F6CF3C;
	  	.get3for2{
		    position: absolute;
		    top: 1.5rem;
		    right: 2.5rem;
		    width: 90px;
		    height: 90px;
		    z-index: 2;
	  		box-shadow: none !important;
	  		-webkit-box-shadow: none !important;
	  		-moz-box-shadow: none !important;
	  	}
	  	p{
	  		margin-left: 1.5rem;
	  		&.activity-title{
	  			font-weight: 700;
	  			font-size: 2rem;
	  			padding-bottom: 1rem;
	  			padding-right: 1rem;
	  			i{
	  				position: absolute;
						right: 15px;
						bottom: 17px;
						font-size: 1.5rem;
						-webkit-transition: all 300ms ease;
				    -moz-transition: all 300ms ease ;
				    -o-transition: all 300ms ease;
				    transition: all 300ms ease;
	  				&.custom-icon{
			  			width: 1.3rem;
			  			height: 1.3rem;
			  			bottom: 22px;
			  			background-size: contain;
			  			background-repeat: no-repeat;
			  			&.chevron-double-right{
			  				background-image: url('/img/icons/chevron-double-right.svg');
			  			}
			  		}
	  			}
	  		}
	  		&:hover{
	  			&.activity-title{
		  			i{
							right: 10px;
		  			}
		  		}
				}
	  	}
	  }
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible !important;
	}
	.owl-stage{
		margin: auto;
	}
	.owl-theme{
		.owl-nav{
			margin-top: 1rem;
			margin-bottom: -30px;
			.owl-prev{
				margin-right: 240px;
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 25px;
				height: 33px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 0;
					background-image: url('/img/icons/chevron-left.svg');
					background-size: contain;
					width: 25px;
					height: 33px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 25px;
				height: 33px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					background-image: url('/img/icons/chevron-right.svg');
					background-size: contain;
					width: 25px;
					height: 33px;
					background-repeat: no-repeat;
				}
			}
		}
		.owl-dots{
			width: 200px;
		  margin: auto;
		  .owl-dot{
				span{
					width: 30px;
			    height: 8px;
			    background: #fff;
			    border-radius: 0;
				}
				&.active{
					span{
						background: #F6CF3C;
					}
				}
			}
		}
	}	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#home-activities .owl-theme .owl-dots{
		width: 220px;
	}
	#home-activities .owl-theme .owl-nav .owl-prev{
		margin-right: 270px;
	}
}
@media only screen and (max-width : 767px){
	#home-activities{
		.home-activity{
			padding-left: 1rem;
    	padding-right: 1rem;
		}
		.owl-theme{
			.owl-nav{
				margin: 1rem -33px -30px auto;
			}
			.owl-dots{
		    margin: auto;
		    width: calc(100vw - 1rem);
				.owl-dot span{
					width: 24px;
					height: 6px;
					margin: 3px;
				}
			}
		}
	}
}
</style>