<template>
  <div id="loader">
    <div class="vert-mid">
    	<img id="loader-success" src="/img/icons/success.svg" class="d-none mx-auto" width="80" alt="Success icon"/>
        <div id="loader-roller" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div id="loader-message"></div>
        <div class="container-fluid">
          <div class="row">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                  <p id="loader-second-text" class="mt-3 d-none cursor-pointer"></p>
                </div>
                <div class="col-lg-4">
                  <div id="close-loader-btn" class="btn btn-primary mx-auto d-none mt-3">Close</div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>
<script>
  export default {
    mounted(){
      document.getElementById('close-loader-btn').addEventListener('click', function() {
        // Accessing the loader element and removing the 'on' class
        var loader = document.getElementById('loader');
        loader.classList.remove('on');

        // Clearing the loader message
        var loaderMessage = document.getElementById('loader-message');
        loaderMessage.innerHTML = '';

        // Managing the visibility of the close button
        var closeLoaderBtn = document.getElementById('close-loader-btn');
        closeLoaderBtn.classList.remove('d-block');
        closeLoaderBtn.classList.add('d-none');

        // Managing the visibility of the loader roller
        var loaderRoller = document.getElementById('loader-roller');
        loaderRoller.classList.remove('d-none');
        loaderRoller.classList.add('d-block');

        // Managing the visibility of the loader success message
        var loaderSuccess = document.getElementById('loader-success');
        loaderSuccess.classList.remove('d-block');
        loaderSuccess.classList.add('d-none');
      });

    }
  }
</script>