<template>
	<div class="mailing-list-signup card bg-primary shadow border-0 px-4 mob-px-0 py-5 mob-py-4 text-dark">
		<div class="container position-relative z-2" :class="bg">
			<div class="row">
				<div class="col-12 text-center text-lg-start">
					<p class="mimic-h3 mb-1">JOIN OUR MAILING LIST</p>
				</div>
				<div class="col-lg-12">
					<form id="mailinglist-signup" @submit.prevent="submit" class="row text-start">
						<div class="form-group col-md-8 pe-0 mob-px-3 mob-mb-1">
							<input id="ml-email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email"/>
							<div v-if="errors && errors.email" class="text-dark">{{ errors.email[0] }}</div>
						</div>
						<div class="col-md-4 ps-0 mob-px-3">
							<button id="submit" type="submit" class="btn btn-black w-100 no-max btn-icon">Join the list <i class="custom-icon chevron-double-right-white"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: {
			bg: String,
		},
		data() {
			return {
				fields: {
					email: ""
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods: {
			messageSent(){
        this.fields = {};
      },
      submit() {
      	if (this.loaded) {
      		$('#recaptcha-error').html('');
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Joining";

      		axios.post('/mailinglist', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Mailing list joined successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	        })
      		.catch(error => {
	         // Error handling
	         console.log(error.response);
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>
<style lang="scss">
	.mailing-list-signup{
		p.mimic-h3{
			line-height: 1;
			font-size: 3rem;
			font-weight: 700;
		}
		input.form-control{
			height: 60px !important;
			border: 1px solid #000;
			background-color: #fff;
		}
		button{
			max-width: 100% !important;
			min-width: 100% !important;
		}
	}
	@media only screen and (max-width : 767px){
		.mailing-list-signup{
			p.mimic-h3{
				font-size: 10vw;
			}
			input{
				height: 50px !important;
			}
		}
	}
</style>