<template>
    <div class="modal fade show" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="offerModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content text-center" style="border: 0 !important;">
                <picture> 
                    <source srcset="/img/offers/christmas/2024/chirstmas-oo.webp" type="image/webp"/> 
                    <source srcset="/img/offers/christmas/2024/chirstmas-oo.png" type="image/png"/>
                    <img src="/img/offers/christmas/2024/chirstmas-oo.png" class="w-100 mb-3" alt="We Are Vertigo Christmas Opening Hours" />
                </picture>
                <p class="close-modal mb-0"><a class="close w-100 cursor-pointer" aria-label="Close" style="color:#ffffff !important;text-shadow: none !important;" @click="hide"><i class="fa fa-times-circle" aria-hidden="true"></i> <u>Close & continue to site</u></a></p>
            </div>
        </div>
    </div>
</template>

<script>
import VueCookies from 'vue-cookies';
import { Modal } from 'bootstrap';

export default {
    data() {
        return {
            theModal: null,
            modalEndDate: new Date("2025-01-05T17:00:00Z"),
            now: new Date(),
            endTime: "2025-01-05T17:00:00Z"
        }
    },
    mounted() {
        this.theModal = new Modal(document.getElementById('offerModal'), {})
        if (VueCookies.isKey('offerModal-christmas') == false && this.now < this.modalEndDate) {
            VueCookies.set('offerModal-christmas', 'thecookieisset', '12h');
            this.theModal.show();
        }
    },
    methods: {
        show() {
            this.theModal.show();
        },
        hide() {
            this.theModal.hide();
        }
    }
}
</script>

<style lang="scss">
    #offerModal {
        background-color: rgba(0,0,0, 0.85);
        .modal-content {
            height: auto;
            p {
                color: #fff;
                &.close-modal {
                    right: -40%;
                    width:100%;
                    bottom:calc(24% - 155px);
                }
            }
            h3 {
                font-family: Karla;
                font-size: 26px;
                line-height: 1.4rem;
                color: #fff !important;
            }
            
        }
        
        .sale-modal-btn {
            position: absolute;
            background-color: #1D3036 !important;
            color: #fff !important;
            bottom: 10%;
            border: 0 !important;
            max-width: 380px;
            right: calc(50% - 180px);
        }
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        #offerModal {
            .modal-content {
                p {
                    &.close-modal {
                        width: 100%;
                        bottom: 3%;
                    }
                }
                .timer-holder {
                    bottom: calc(16% + 40px);
                }
                
            }
        }
        .sale-modal-btn {
            bottom: 8%;
            max-width: 260px;
            left: calc(50% - 130px);
        }
    }
    
    @media only screen and (max-width: 991px) {
        #offerModal {
            .modal-content {
                p {
                    &.close-modal {
                        width: 100%;
                        bottom: 3%;
                    }
                }
            }
            h3 {
                font-size: 4vw;
                line-height: 4vw;
            }
        }
        .mob-pl-4 {
            padding-left: 1.5rem;
        }
        .sale-modal-btn {
            bottom: 8%;
            max-width: 260px;
            left: calc(50% - 130px);
        }
    }
    
    @media only screen and (max-width: 767px) {
        .sale-banner h3 {
            font-size: 7.5vw;
        }
        #offerModal {
            .modal-content {
                p {
                    &.close-modal {
                        width: calc(100% - 2rem) !important;
                        bottom: 2%;
                        left: 1rem !important;
                    }
                }
            }
            h3 {
                font-size: 6vw;
                line-height: 6vw;
            }
        }
        .sale-modal-btn {
            bottom: 7%;
        }
    }
</style>