<template>
<div class="container py-5">
  <div class="row text-center text-lg-left">
    <div class="col-12">
      <p class="mimic-h1">Select a location</p>
      <hr class="line-primary mb-5"/>
    </div>
    <!-- <div class="col-lg-6 mob-mb-5">
      <div class="backdrop">
        <div class="card backdrop-content bg-dark text-white px-4 py-5 mob-px-3">
          <p class="mimic-h1">Titanic Quarter</p>
          <ul class="mb-2">
            <li class="mb-2"><p class="mb-0">Inflatable Park</p></li>
            <li><p class="mb-0">Ninja Master Course</p></li>
            <li><p>Indoor Skydiving</p></li>
          </ul>
           <button class="btn btn-primary btn-icon" type="button" @click="changeLocation('titanic')">Learn More <i class="custom-icon chevron-double-down"></i></button>
        </div>
        <div class="backdrop-back"></div>
      </div>
    </div> -->
    <div class="col-lg-6">
      <div class="backdrop">
        <div class="card backdrop-content bg-dark text-white px-4 py-5 mob-px-3">
          <p class="mimic-h1">Newtownbreda</p>
          <ul class="mb-2">
            <li class="mb-2"><p class="mb-0">Inflatable Park</p></li>
            <li><p>Adventure Centre</p></li>
          </ul>
           <button class="btn btn-primary btn-icon" type="button" @click="changeLocation('newtownbreda')">Learn More <i class="custom-icon chevron-double-down"></i></button>
        </div>
        <div class="backdrop-back"></div>
      </div>
    </div>
  </div>
  <div id="scrolltome" class="row pt-5"></div>
  <!-- <div class="row py-5 mt-5 text-center text-lg-left" v-if="location == 'titanic'">
  	<div id="titanic-birthays" class="col-12">
  		<p class="mimic-h2"><span class="text-primary">TITANIC</span> <br class="d-lg-none" /> PARTY!</p>
  		<p>Our Titanic site is situated in the Titanic Quarter and is the perfect place for any celebration! Choose from either an Inflatable Park Party, Ninja Party or double up on the fun with a combo party (both activities) . Finish the day with a pizza party in one of our party rooms!</p> 

			<p class="text-large"><b>Here is how your party will go...</b></p>
			<ul>
				<li><p>Please arrive at the front desk 30 mins before your party is scheduled!</p></li>
				<li><p>Here you will meet your party host who will talk you through your special day!</p></li>
				<li><p>If you are an inflatabe park party you will recieve your grippy socks!</p></li>
				<li><p>Your group will be shown to your starting destination!</p></li>
				<li><p>Enjoy your big day with all your friends! You'll get a 1 hour session or if it is a combo it'll be 2 hours!</p></li>
				<li><p>Finish your day on a high! You'll then be shown to your party room for pizza, icecream & unlimited juice! (*Please note we have a strict no picnic policy)</p></li>
			</ul>
			<button class="btn btn-primary btn-icon" onclick="RollerCheckout.show()" type="button">BOOK NOW <i class="custom-icon chevron-double-right"></i></button>
		</div>
  </div> -->
  <div class="row py-5 mt-5 text-center text-lg-left" v-if="location == 'newtownbreda'">
  	<div id="newtownbreda-birthays" class="col-12">
  		<p class="mimic-h2"><span class="text-primary">NEWTOWNBREDA</span> <br class="d-lg-none" /> PARTY!</p>
  		<p>Our Newtownbreda site is home to the largest indoor inflatable park in the world, what better place to celebrate!? We also have a huge Adventure Centre with climbing wall, ropes courses and a huge soft play village! Choose from either an Inflatable Park Party, Adventure Party or double up on the fun with a combo party (both activities) . Finish the day with a pizza party in one of our party rooms!</p>
			<p class="text-large"><b>Here is how your party will go...</b></p>
			<ul>
				<li><p>Please arrive at the front desk 30 mins before your party is scheduled!</p></li>
				<li><p>Here you will meet your party host who will talk you through your special day!</p></li>
				<li><p>If you are an inflatabe park party you will recieve your grippy socks!</p></li>
				<li><p>Your group will be shown to your starting destination!</p></li>
				<li><p>Enjoy your big day with all your friends! You'll get a 1 hour session or if it is a combo it'll be 2 hours!</p></li>
				<li><p>Finish your day on a high! You'll then be shown to your party room for pizza, icecream & unlimited juice! (*Please note we have a strict no picnic policy)</p></li>
			</ul>
			<button class="btn btn-primary btn-icon" onclick="RollerCheckout.show()" type="button">BOOK NOW <i class="custom-icon chevron-double-right"></i></button>
		</div>
  </div>
</div>
</template>
<script>
	export default {
		data() {
			return {
				location: null,
				loaded: true,
			}
		},
		methods: {
      changeLocation(value){
	  		this.location = value;
	  		setTimeout(function(){
	  			var element = document.getElementById('scrolltome');
	  			element.scrollIntoView({ behavior: 'smooth'});
	  		},100);
	  	},
	  	goToBook(){
	  		var element = document.getElementById('bookonline');
	  		element.scrollIntoView({ behavior: 'smooth'});
	  	}
    },
  }
</script>