<template>
	<div class="top-details text-white text-center d-none d-lg-block">
		<a href="mailto:info@wearevertigo.com" class="top-details-email">info@wearevertigo.com</a>
		<span class="top-details-socials">
	    <a href="http://www.facebook.com/VertigoBelfast" aria-label="Facebook" rel="noreferrer"><span class="me-3"><font-awesome-icon :icon="['fab', 'square-facebook']"/></span></a><br/>
	    <a href="http://www.instagram.com/wearevertigobelfast/" aria-label="Instagram" rel="noreferrer"><span class="me-3"><font-awesome-icon :icon="['fab', 'instagram']"/></span></a><br/>
	    <a href="https://www.youtube.com/@Wearevertigo" target="_blank" aria-label="Subscribe to us on YouTube"><span class="me-3"><font-awesome-icon :icon="['fab', 'youtube']"/></span></a><br/>
	    <a href="http://twitter.com/weare_vertigo" aria-label="Twitter" rel="noreferrer"><span class="me-3"><font-awesome-icon :icon="['fab', 'x-twitter']"/></span></a><br/>
	    <a href="https://www.tiktok.com/@we_are_vertigo" target="_blank" aria-label="Follow us on TikTok"><span class="me-3"><font-awesome-icon :icon="['fab', 'tiktok']"/></span></a>
	  </span>
  </div>
</template>
<style lang="scss">
.top-details{
	position: absolute;
	height: 400px;
	width: 20px;
	right: 3rem;
	top: calc(50% - 250px);
	z-index: 5;
	a{
		color: #fff;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
		i{
			font-size: 20px;
		}
		&:hover{
			color: #F6CF3C;
		}
		&.top-details-email{
			display: inline-block;
			font-family: Gotham, sans-serif;
			text-transform: uppercase;
			transform: rotate(270deg);
			position: absolute;
	    top: 110px;
	    left: -111px;
	    font-size: 1rem;
	    font-weight: 700;
		}
	}
	.top-details-socials{
		position: absolute;
		top: 345px;
		left: -18px;
		width: 70px;
		font-size: 18px;
		&:before{
			height: 80px;
			width: 2px;
			background-color: #F6CF3C;
			content: "";
			position: absolute;
			top: -90px;
			left: 25px;
		}
	}
}
</style>