<template>
	<header id="cargo-bank-holiday-header" class="container-fluid position-relative full-height cargo-bank-holiday-header bg bg-down-up z-1 mob-pb-5">
		<div class="gradient-bg"></div>
	  <div class="d-lg-table w-100 h-100 position-relative z-2">
	    <div class="d-lg-table-cell w-100 h-100 align-middle">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-6 text-center mob-px-0 mob-mb-3">
	            <div class="d-lg-table w-100 h-100 mb-4 mob-mt-3 mob-card">
                <div class="d-lg-table-cell w-100 h-100 align-middle">
                  <img src="/img/cargo/bank/cargo-logo.svg" width="150" class="cargo-bank-holiday-header-logo mob-px-5" alt="Belfast's biggest bottomless brunch bank holiday weekend Cargo by Vertigo - Resteraunt Belfast" />
                  <div class="d-inline-block mt-3">
                  	<img src="/img/cargo/bank/logo.svg" width="400" class="mob-w-100 mob-px-3" alt="Belfast's biggest bottomless brunch bank holiday weekend Cargo by Vertigo - Resteraunt Belfast" />
                  	<p class="text-white text-larger mt-4 mb-1 txt-shadow"><b>Saturday 28th & <br class="d-md-none"/>Sunday 29th August</b></p>
										<p class="mob-px-5">Prices include an Ultimate Bank Holiday BBQ Platter & Cargo House Cocktail</p>
                    <button id="cargo-bank-holiday-header-menu-btn booknowbtn" @click="scrolltobooknow()" type="button" class="btn btn-yellow btn-icon">Book Now <i class="custom-icon chevron-double-down"></i></button>
                    <p class="text-small mt-2">*Minimum table booking of 2 people.</p>
                  </div>
                </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="cut"></div>
	</header>
</template>
<script>
	export default {
    mounted(){
    	$(document).ready(function (){
		    $(".booknowbtn").click(function (){
		      $('html, body').animate({
		        scrollTop: $("#bookonline").offset().top -100
		      }, 500);
		    });
		  });
    },
    methods:{
    	scrolltobooknow(){
    		$('html, body').animate({
	        scrollTop: $("#bookonline").offset().top -100
	      }, 500);
    	}
    }
	}
</script>
<style lang="scss">
.no-webp{
	#cargo-bank-holiday-header{
		&:before{
			background-image: url('/img/cargo/bank-holiday-bg.jpg');
		}
	}
}
.webp{
	#cargo-bank-holiday-header{
		&:before{
			background-image: url('/img/cargo/bank-holiday-bg.webp');
		}
	}
}
.btn-yellow{
	background-color: #ffcc66;
	color: #111213;
	&:hover{
		background-color: #ffcc66;
		color: #111213 !important;
		text-decoration: none !important;
	}
}
#cargo-bank-holiday-header{
	background-color: #111213;
	min-height: 850px;
	.gradient-bg{
		width: 47%;
		height: 200px;
		position: absolute;
		z-index: 0;
		right: 0;
		top:0;
		background: rgb(17,18,19);
		background: linear-gradient(0deg, rgba(17,18,19,0) 0%, rgba(17,18,19,1) 100%);
	}
	&:before{
		content: "";
		background-size: cover;
		width: 47%;
		height: 100%;
		position: absolute;
		z-index: 0;
		right: 0;
		top:0;
		border-left: 4px solid #ffcc66;
	}
	.trans{
		z-index: 1;
		background-color: #000;
		opacity: 0.75;
		width: calc(47% - 4px);
		right: 0;
	}
	.full-height{
    min-height: 850px;
  }
  .txt-shadow{
  	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  }
	.nigel-boyce{
		position: absolute;
		bottom: 0;
		right: 3rem;
		width: 60vw;
		z-index: 2;
	}
	.nigel-boyce-takeover{
		position: absolute;
		top: 0;
		right: 0;
		width: 50vw;
		height: 100%;
		z-index: 2;
		.boyce-bg{
			width: 500px;
			position: absolute;
			top: calc(50% - 285px);
			left: 3rem;
		}
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	#cargo-bank-holiday-header .nigel-boyce-takeover .nigel-boyce {
    margin-bottom: 16rem;
	}
	#cargo-bank-holiday-header {
    .nigel-boyce-takeover{
			width: 50vw !important;
			margin-top: 20px;
			.boyce-bg{
				width: 39vw !important;
			}
		}
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#cargo-bank-holiday-header{
		min-height: 100vh;
		height: auto !important;
		background: none !important;
    .h-100{
      height: auto !important
    }
		#cargo-bank-holiday-header-menu-btn{
			margin-top: 0;
		}
		.full-height{
	    min-height: 100vh;
	  }
		.cargo-bank-holiday-header-logo{
      width: 300px;
      display: block;
      text-align: center;
      margin: 3rem auto;
      margin-top: 7rem;
		}
		.cut{
			display: none;
		}
    #cargo-bank-holiday-header-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
    .nigel-boyce-takeover{
			width: 100% !important;
			margin-top: 20px;
			.boyce-bg{
				width: 100% !important;
				position: relative !important;
				top: auto !important;
				left: auto !important;
			}
		}
	}
}
@media only screen and (max-width : 991px){
  #cargo-bank-holiday-header{
    min-height: 100vh;
    height: auto !important;
    background: none !important;
    &:before{
			content: "";
			background-size: cover;
			width: 100vw;
			height: 100vw;
			position: absolute;
			z-index: 0;
			right: 0;
			top:0;
			border-left: 0;
		}
		.mob-card{
			background-color: #111213;
			margin-top: 50vw !important;
			padding: 2rem 1rem;
			-webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
			-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
			box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		}
		.gradient-bg{
			width: 100%;
		}
    .h-100{
      height: auto !important
    }
    #cargo-bank-holiday-header-menu-btn{
      margin-top: 0;
    }
    .full-height{
      min-height: 100vh;
    }
    .cargo-bank-holiday-header-logo{
      width: 100%;
      max-width: 300px;
    }
    .cut{
      display: none;
    }
    #cargo-bank-holiday-header-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
	  .nigel-boyce-takeover{
			width: 100% !important;
			margin-top: 20px;
			.boyce-bg{
				width: 100% !important;
				position: relative !important;
				top: auto !important;
				left: auto !important;
			}
		}
  }
}
@media only screen and (max-width : 767px){
  #cargo-bank-holiday-header{
    min-height: 100vh;
    padding-top: 6rem;
    height: auto !important;
    background: none !important;
    .h-100{
      height: auto !important
    }
    .txt-shadow{
	  	text-shadow: none;
	  }
    #cargo-bank-holiday-header-menu-btn{
      margin-top: 0;
    }
    .full-height{
      min-height: 100vh;
    }
    .cargo-bank-holiday-header-logo{
      width: 220px;
    }
    .bottomless-brunch{
    	width: 100%;
    }
    .cut{
      display: none;
    }
    #cargo-bank-holiday-header-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
	}
	.mob-w-100{
		width: 100% !important;
	}
	.nigel-boyce-takeover{
		width: 100% !important;
		margin-top: 20px;
		.boyce-bg{
			width: 100% !important;
			position: relative !important;
			top: auto !important;
			left: auto !important;
		}
	}
}
</style>