<template>
	<header id="cargo-takeover-header" class="container-fluid position-relative full-height cargo-takeover-header bg bg-down-up z-1 mob-pb-5">
		<div class="gradient-bg"></div>
	  <div class="d-lg-table w-100 h-100 position-relative z-2">
	    <div class="d-lg-table-cell w-100 h-100 align-middle">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-6 text-center mob-px-0 mob-mb-3">
	            <div class="d-lg-table w-100 h-100 mb-4 mob-mt-3 mob-card">
                <div class="d-lg-table-cell w-100 h-100 align-middle">
                  <picture>
                    <source media="(min-width: 768px)" srcset="/img/cargo/takeover/throwback/logo.webp" type="image/webp"/> 
                    <source media="(min-width: 768px)" srcset="/img/cargo/takeover/throwback/logo.png" type="image/png"/> 
                    <source media="(min-width: 1px)" srcset="/img/cargo/takeover/throwback/logo.webp" type="image/webp"/> 
                    <source media="(min-width: 1px)" srcset="/img/cargo/takeover/throwback/logo.png" type="image/png"/> 
                    <img src="/img/logos/cargo.png" type="image/png" width="150" class="cargo-takeover-header-logo mob-px-5" alt="Cargo by Vertigo - Resteraunt Belfast" data-aos="fade-right" data-aos-delay="300" />
                  </picture>
                  <div class="d-inline-block mt-3">
                  	<picture>
								      <source srcset="/img/cargo/takeover/throwback/bottomless-brunch.webp" type="image/webp"/> 
								      <source srcset="/img/cargo/takeover/throwback/bottomless-brunch.png" type="image/png"/>
								      <img src="/img/cargo/takeover/throwback/bottomless-brunch.png" alt="Belfast Bottomless Brunch @ Cargo by Vertigo - Belfast Northern Ireland" class="lazy w-100 px-5 bottomless-brunch" width="300" />
								    </picture>
                  	<p class="text-white text-larger mt-4 mb-2 txt-shadow"><b>Saturday 21st Aug | 1pm & 3.30pm</b></p>
<!--                   	<p class="text-larger mb-2 px-5 mob-px-0"><b>Introducing Belfast’s biggest Bottomless Brunch!</b></p>
 -->										<p class="text-large">Everything from 80's Bangers<br class="d-lg-none" /> to 00's Classics<br class="d-none d-lg-inline" />The Ultimate Nostalgia!</p>
										<p class="text-small">*Minimum table booking of 2 people.</p>
										<a href="/cargo/book-now/event/12/throwback">
                    	<button id="cargo-takeover-header-menu-btn" type="button" class="btn btn-pink btn-icon">Book Now <i class="custom-icon chevron-double-right-white"></i></button>
                    </a>
                    <p class="button-after button-after-white mt-1 pl-2 mb-0"><a href="/cargo-events" target="_blank"><i class="return-arrow"></i> Check out our events</a></p>
                  </div>
                </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="cut"></div>
	</header>
</template>
<script>
	export default {
    mounted(){
    	$(document).ready(function (){
		    $(".booknowbtn").click(function (){
		      $('html, body').animate({
		        scrollTop: $("#bookonline").offset().top -100
		      }, 500);
		    });
		  });
    }
	}
</script>
<style lang="scss">
.no-webp{
	#cargo-takeover-header{
		&:before{
			background-image: url('/img/cargo/takeover/throwback/bg.jpg');
		}
	}
}
.webp{
	#cargo-takeover-header{
		&:before{
			background-image: url('/img/cargo/takeover/throwback/bg.webp');
		}
	}
}
.btn-pink{
	background-color: #E6007E;
	color: #fff;
	&:hover{
		background-color: #E6007E;
		color: #fff !important;
		text-decoration: none !important;
	}
}
#cargo-takeover-header{
	background-color: #111213;
	min-height: 850px;
	.gradient-bg{
		width: 47%;
		height: 200px;
		position: absolute;
		z-index: 0;
		right: 0;
		top:0;
		background: rgb(17,18,19);
		background: linear-gradient(0deg, rgba(17,18,19,0) 0%, rgba(17,18,19,1) 100%);
	}
	&:before{
		content: "";
		background-size: cover;
		width: 47%;
		height: 100%;
		position: absolute;
		z-index: 0;
		right: 0;
		top:0;
		border-left: 4px solid #E6007E;
	}
	.trans{
		z-index: 1;
		background-color: #000;
		opacity: 0.75;
		width: calc(47% - 4px);
		right: 0;
	}
	.full-height{
    min-height: 850px;
  }
  .txt-shadow{
  	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  }
	.nigel-boyce{
		position: absolute;
		bottom: 0;
		right: 3rem;
		width: 60vw;
		z-index: 2;
	}
	.nigel-boyce-takeover{
		position: absolute;
		top: 0;
		right: 0;
		width: 50vw;
		height: 100%;
		z-index: 2;
		.boyce-bg{
			width: 500px;
			position: absolute;
			top: calc(50% - 285px);
			left: 3rem;
		}
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	#cargo-takeover-header .nigel-boyce-takeover .nigel-boyce {
    margin-bottom: 16rem;
	}
	#cargo-takeover-header {
    .nigel-boyce-takeover{
			width: 50vw !important;
			margin-top: 20px;
			.boyce-bg{
				width: 39vw !important;
			}
		}
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#cargo-takeover-header{
		min-height: 100vh;
		height: auto !important;
		background: none !important;
    .h-100{
      height: auto !important
    }
		#cargo-takeover-header-menu-btn{
			margin-top: 0;
		}
		.full-height{
	    min-height: 100vh;
	  }
		.cargo-takeover-header-logo{
      width: 300px;
      display: block;
      text-align: center;
      margin: 3rem auto;
      margin-top: 7rem;
		}
		.cut{
			display: none;
		}
    #cargo-takeover-header-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
    .nigel-boyce-takeover{
			width: 100% !important;
			margin-top: 20px;
			.boyce-bg{
				width: 100% !important;
				position: relative !important;
				top: auto !important;
				left: auto !important;
			}
		}
	}
}
@media only screen and (max-width : 991px){
  #cargo-takeover-header{
    min-height: 100vh;
    height: auto !important;
    background: none !important;
    &:before{
			content: "";
			background-size: cover;
			width: 100vw;
			height: 100vw;
			position: absolute;
			z-index: 0;
			right: 0;
			top:0;
			border-left: 0;
		}
		.mob-card{
			background-color: #111213;
			margin-top: 50vw !important;
			padding: 2rem 1rem;
			-webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
			-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
			box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		}
		.gradient-bg{
			width: 100%;
		}
    .h-100{
      height: auto !important
    }
    #cargo-takeover-header-menu-btn{
      margin-top: 0;
    }
    .full-height{
      min-height: 100vh;
    }
    .cargo-takeover-header-logo{
      width: 100%;
      max-width: 300px;
    }
    .cut{
      display: none;
    }
    #cargo-takeover-header-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
	  .nigel-boyce-takeover{
			width: 100% !important;
			margin-top: 20px;
			.boyce-bg{
				width: 100% !important;
				position: relative !important;
				top: auto !important;
				left: auto !important;
			}
		}
  }
}
@media only screen and (max-width : 767px){
  #cargo-takeover-header{
    min-height: 100vh;
    padding-top: 6rem;
    height: auto !important;
    background: none !important;
    .h-100{
      height: auto !important
    }
    .txt-shadow{
	  	text-shadow: none;
	  }
    #cargo-takeover-header-menu-btn{
      margin-top: 0;
    }
    .full-height{
      min-height: 100vh;
    }
    .cargo-takeover-header-logo{
      width: 220px;
    }
    .bottomless-brunch{
    	width: 100%;
    }
    .cut{
      display: none;
    }
    #cargo-takeover-header-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
	}
	.nigel-boyce-takeover{
		width: 100% !important;
		margin-top: 20px;
		.boyce-bg{
			width: 100% !important;
			position: relative !important;
			top: auto !important;
			left: auto !important;
		}
	}
}
</style>