<template>
  <div class="map-container">
    <div id="cargomap"></div>
  </div>
</template>
<script>
	

</script>
<style lang="scss">
.map-container{
  height: 1100px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: -500px;
}
#cargomap{
  position: absolute;
  top: 0;
  left: calc(50% - 1000px);
	width: 2000px;
  height: 100%;
	margin-bottom: -500px;
  background-image:   url('/img/maps/cargo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.webp{
  #cargomap{
    background-image: url('/img/maps/cargo.webp');
  }
}
@media only screen and (max-width : 767px){
	.map-container{
		height: 800px;
    margin-top: 80px;
		margin-bottom: -400px;
	}
}
</style>