<template>
	<div id="cargo-tables" class="container-fluid pb-5">
		<div class="row">
			<div class="col-12">
				<carousel :items="4" :margin="30" :center="false"  :autoHeight="true" :autoWidth="true" :nav="true" :dots="true">
					<div class="cargo-table">
						<div class="activity-info">
							<picture>
				        <source srcset="/img/cargo/table.webp" type="image/webp"/> 
				        <source srcset="/img/cargo/table.jpg" type="image/jpg"/>
				        <img src="/img/cargo/table.jpg" alt="Indoor Skydiving - We are Vertigo - Belfast Northern Ireland" class="lazy"/>
				      </picture>
				      <div class="booknowbtn">
					      <p class="text-dark title mt-3 mb-0">Book Now</p>
					      <p class="activity-title title text-dark">Book A Table <i class="custom-icon chevron-double-up"></i></p>
					    </div>
				    </div>
					</div>
					<div class="cargo-table">
						<div class="activity-info">
							<picture>
				        <source srcset="/img/cargo/craneview-cavern.webp" type="image/webp"/> 
				        <source srcset="/img/cargo/craneview-cavern.jpg" type="image/jpg"/>
				        <img src="/img/cargo/craneview-cavern.jpg" alt="Inflatable Park Titanic Park- We are Vertigo - Belfast Northern Ireland" class="lazy"/>
				      </picture>
				      <div class="booknowbtn">
					      <p class="text-dark title mt-3 mb-0">Book Now</p>
					      <p class="activity-title title text-dark">Craneview Cavern <i class="custom-icon chevron-double-up"></i></p>
					    </div>
				    </div>
					</div>
					<div class="cargo-table">
						<div class="activity-info">
							<picture>
				        <source srcset="/img/cargo/private-booth.webp" type="image/webp"/> 
				        <source srcset="/img/cargo/private-booth.jpg" type="image/jpg"/>
				        <img src="/img/cargo/private-booth.jpg" alt="Ninja Master Course - We are Vertigo - Belfast Northern Ireland" class="lazy"/>
				      </picture>
				      <div class="booknowbtn">
					      <p class="text-dark title mt-3 mb-0">Book Now</p>
					      <p class="activity-title title text-dark">Private Booth <i class="custom-icon chevron-double-up"></i></p>
					    </div>
				    </div>
					</div>
					<div class="cargo-table">
						<div class="activity-info">
							<picture>
				        <source srcset="/img/cargo/private-gondola.webp" type="image/webp"/> 
				        <source srcset="/img/cargo/private-gondola.jpg" type="image/jpg"/>
				        <img src="/img/cargo/private-gondola.jpg" alt="Adventure Climbing - We are Vertigo - Belfast Northern Ireland" class="lazy"/>
				      </picture>
				      <div class="booknowbtn">
					      <p class="text-dark title mt-3 mb-0">Book Now</p>
					      <p class="activity-title title text-dark">Private Gondola <i class="custom-icon chevron-double-up"></i></p>
					    </div>
				    </div>
					</div>
					<div class="cargo-table">
						<div class="activity-info">
							<picture>
				        <source srcset="/img/cargo/craneview-table.webp" type="image/webp"/> 
				        <source srcset="/img/cargo/craneview-table.jpg" type="image/jpg"/>
				        <img src="/img/cargo/craneview-table.jpg" alt="Inflatable Park Newtownbreda - We are Vertigo - Belfast Northern Ireland" class="lazy"/>
				      </picture>
				      <div class="booknowbtn">
					      <p class="text-dark title mt-3 mb-0">Book Now</p>
					      <p class="activity-title title text-dark">Craneview Table <i class="custom-icon chevron-double-up"></i></p>
					    </div>
				    </div>
					</div>
				</carousel>
			</div>
		</div>
	</div>
</template>
<script>
	import carousel from 'vue-owl-carousel';
	export default {
	  components: { carousel },
	  data() {
			return {
				videos: [],
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods:{
			
		}
	}
</script>
<style lang="scss">
#cargo-tables{
	.cargo-table {
  	position: relative;
	  width: 356px;
	  height: 500px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  overflow: hidden;
	  cursor: pointer;
	  padding-top: 2rem;
	  padding-left: 2rem;
	  img{
	  	z-index: 1;
	  	position: relative;
	  	width: calc(100% - 1rem);
	  	margin-top: -3rem;
	  	display: block;
	  	margin-left: -1rem;
	  	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
	  }
	  .activity-info{
	  	position: relative;
	  	padding-top: 1rem;
	  	background-color: #F6CF3C;
	  	p{
	  		margin-left: 1.5rem;
	  		&.activity-title{
	  			font-weight: 700;
	  			font-size: 2rem;
	  			padding-bottom: 1rem;
	  			padding-right: 1rem;
	  			i{
	  				position: absolute;
						right: 15px;
						bottom: 17px;
						font-size: 1.5rem;
						-webkit-transition: all 300ms ease;
				    -moz-transition: all 300ms ease ;
				    -o-transition: all 300ms ease;
				    transition: all 300ms ease;
	  				&.custom-icon{
			  			width: 1.3rem;
			  			height: 1.3rem;
			  			bottom: 22px;
			  			background-size: contain;
			  			background-repeat: no-repeat;
			  			&.chevron-double-up{
			  				background-image: url('/img/icons/chevron-double-up.svg');
			  			}
			  		}
	  			}
	  		}
	  		&:hover{
	  			&.activity-title{
		  			i{
							right: 10px;
		  			}
		  		}
				}
	  	}
	  }
	}
	.owl-carousel .owl-stage-outer{
		overflow: visible !important;
	}
	.owl-theme{
		.owl-nav{
			margin-top: 1rem;
			margin-bottom: -30px;
			.owl-prev{
				margin-right: 240px;
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 25px;
				height: 33px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 0;
					background-image: url('/img/icons/chevron-left.svg');
					background-size: contain;
					width: 25px;
					height: 33px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 0;
				position: relative;
				color:#1D252D;
				padding: 0;
				width: 25px;
				height: 33px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					background-image: url('/img/icons/chevron-right.svg');
					background-size: contain;
					width: 25px;
					height: 33px;
					background-repeat: no-repeat;
				}
			}
		}
		.owl-dots{
			width: 200px;
		  margin: auto;
		  .owl-dot{
				span{
					width: 30px;
			    height: 8px;
			    background: #fff;
			    border-radius: 0;
				}
				&.active{
					span{
						background: #F6CF3C;
					}
				}
			}
		}
	}	
}
@media only screen and (max-width : 767px){
	#cargo-tables{
		.cargo-table{
			padding-left: 1rem;
    	padding-right: 1rem;
		}
		.owl-theme{
			.owl-nav{
				margin: 1rem -33px -30px auto;
			}
			.owl-dots{
		    margin: auto;
		    width: calc(100vw - 1rem);
				.owl-dot span{
					width: 24px;
					height: 6px;
					margin: 3px;
				}
			}
		}
	}
}
</style>