<template>
	<div id="cargo-takeover-section1" class="container-fluid position-relative z-2">
	  <img src="/img/graphics/chevrons-right.svg" class="home-chevrons-right-1" alt="We are Vertigo chevrons right" data-aos="fade-down-left"/>
	  <div class="row mob-pt-0">
	    <div class="container py-5">
	      <div class="row pt-5 mob-pt-0">
	      	<div class="col-lg-5 mob-pb-5 mob-px-4 mob-mb-5">
	        	<div id="bookonline" class="res-diary-holder d-inline-block">
	        		<div class="res-diary-inner">
	              <div class="loader loader-inner d-table">
	                <div class="d-table-cell align-middle">
	                  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	                </div>
	              </div>
	              <div class="position-relative z-2">
	          			<div id="rd-widget-frame" style="max-width: 600px; margin: auto;"></div>
	              </div>
	        		</div>
	        	</div>
	        </div>
	        <div class="col-lg-7 text-center text-lg-left">
	          <h1 class="mb-4">Belfast's new hotspot for <span class="text-primary">quality</span> food & drink</h1>
	          <p>Cargo By Vertigo is Belfast’s largest outdoor licensed restaurant, located in the iconic Titanic Quarter! The perfect venue to enjoy a safe, socially distant night out with delicious food, tasty cocktails and stunning views. Experience our range of quirky seating areas including Ski Gondolas, Craneview Caverns and VIP Private Container Booths, set in view of Belfast’s landmark Harland and Wolff Cranes. </p>
	          <p class="mb-4">Relax in Cargo's Summer Garden or underneath our massive marquees while enjoying great music and buzzing atmosphere unlike anywhere else in Northern Ireland.</p>
	          <a href="/cargo-menu" target="_blank">
              <button id="cargo-top-menu-btn" type="button" class="btn btn-primary btn-icon">View Menu <img class="custom-icon" alt="menu icon" src="/img/icons/menu.svg" width="25" /></button>
            </a>
	        </div>
	      </div>
	    </div>
  	</div>
	</div>
</template>
<script>
	export default {
    mounted(){
    	$(document).ready(function (){
		    $(".booknowbtn").click(function (){
		      $('html, body').animate({
		        scrollTop: $("#bookonline").offset().top -100
		      }, 500);
		    });
		  });
    }
	}
</script>
<style lang="scss">
#rd-widget-root .btn{
  max-width: 140px;
  max-height: 30px;
  margin: 15px 0 !important;
}
#rd-widget-root{
  p{
    font-size: 1rem !important;
  }
  h4{
    font-size: 1rem !important;
  }
  .list-group{
    margin-bottom: 0 !important;
  }
  [data-bind="if: showWidgetHeader"]{
    font-size: 12px !important;
    text-align: center !important;
  }
  [data-bind="if: showBookingSummary"]{
    width: 100%;
  }
}
#rd-widget-root [data-bind="if: showWidgetHeader"] .col-xs-12.col-sm-3,
#rd-widget-root [data-bind="if: showBookingSummary"] .col-xs-12.col-sm-9{
  width: 100%;
  float: none;
  max-width: 100%;
  flex: 100%;
}

#rd-widget-root .form-control{
  height: 38px !important;
  font-size: 16px !important;
}

$slide-distance: calc((4vw + 4vh + 4%)/3);

$slide-distance-ms: 4%; // IE11 does not support calc() in transform:translate;

$slide-distance-negative: calc((-4vw + -4vh + -4%)/3);

$zoom-scale: 1.15;

// Option for slide distance without calc(). More compatible but not as
// consistant on screens that are not exactely square.
//
// $slide-distance: 5%;
// $slide-distance-negative: -5%;

// The 0.01deg rotation is a hack to make the animations smooth on Firefox

@-webkit-keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

@keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}


#cargo-takeover-section1{
	.res-diary-holder{
		position: relative;
		width: 360px;
		height: auto;
    float: none;
		.res-diary-inner{
			position: relative;
			background-color: #000;
			width: 360px;
			z-index: 1;
      height: 700px;
      max-height: 700px;
      overflow: scroll;
		}
		&:after{
			content: "";
			position: absolute;
			top: 1rem;
			left: 1rem;
			width: 100%;
			height: 100%;
			z-index: 0;
			background-color: #F6CF3C;
		}
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#cargo-takeover-section1{
		.res-diary-holder{
			height: auto;
      margin: 2rem auto 0;
      display: block !important;
			.res-diary-inner{
				width: 100%;
			}
		}
	}
}
@media only screen and (max-width : 991px){
  #cargo-takeover-section1{
    .res-diary-holder{
      width: 100%;
      height: auto;
      float: none;
      .res-diary-inner{
        width: 100%;
        height: auto;
        max-height: 1000000px;
        min-height: 651px;
      }
    }
  }
}
@media only screen and (max-width : 767px){
  #rd-widget-root .btn{
    max-width: 37vw;
  }
  #cargo-takeover-section1{
    .res-diary-holder{
      width: 100%;
      height: auto;
      float: none;
      .res-diary-inner{
        width: 100%;
        height: auto;
        max-height: 1000000px;
        min-height: 651px;
        overflow: visible;
      }
    }
  }
}
</style>