<template>
	<header id="cargo-top" class="container-fluid position-relative full-height cargo-top bg bg-down-up z-1 mob-pb-5">
		<div id="cargo-top-slider">
      <div id="slides">
        <div class="slide">
          <span class="animate in cargo-top"></span>
        </div>
        <div class="slide">
          <span class="animate in cargo-top-2"></span>
        </div>
        <div class="slide">
          <span class="animate in cargo-top-3"></span>
        </div>
        <div class="slide">
          <span class="animate in cargo-top-4"></span>
        </div>
     	</div>
    </div>
	  <div class="trans"></div>
	  <div id="cargo-top-overlay" class="d-lg-table w-100 h-100">
	    <div class="d-lg-table-cell w-100 h-100 align-middle">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-6 pt-5 mob-mt-5 text-center mob-px-0 mob-mb-3">
	            <div class="d-lg-table w-100 h-100 mb-4 mob-mt-3">
                <div class="d-lg-table-cell w-100 h-100 align-middle">
                  <picture>
                    <source media="(min-width: 768px)" srcset="/img/logos/cargo-large.webp" type="image/webp"/> 
                    <source media="(min-width: 768px)" srcset="/img/logos/cargo-large.png" type="image/png"/> 
                    <source media="(min-width: 1px)" srcset="/img/logos/cargo.webp" type="image/webp"/> 
                    <source media="(min-width: 1px)" srcset="/img/logos/cargo.png" type="image/png"/> 
                    <img src="/img/logos/cargo.png" type="image/png" class="cargo-top-logo mob-mb-4 mob-px-5" alt="Cargo by Vertigo - Resteraunt Belfast" data-aos="fade-right" data-aos-delay="300" />
                  </picture>
                  <div class="d-inline-block mt-4 mob-mt-3">
                    <div class="d-block d-lg-none">
                      <picture>
                        <source srcset="/img/cargo/cargo-top-mob-ls.webp" type="image/webp"/> 
                        <source srcset="/img/cargo/cargo-top-mob-ls.jpg" type="image/jpg"/>
                        <img src="/img/cargo/cargo-top-mob-ls.jpg" alt="Cargo By Vertigo Resertaunt - We are Vertigo - Belfast Northern Ireland" class="lazy d-lg-none img-fluid shadow"/>
                      </picture>
                    </div>
                    <a href="/cargo-menu" target="_blank">
                      <button id="cargo-top-menu-btn" type="button" class="btn btn-primary btn-icon">View Menu <img class="custom-icon" alt="menu icon" src="/img/icons/menu.svg" width="25" /></button>
                    </a>
                  </div>
                </div>
	            </div>
	          </div>
	          <div class="col-lg-6 mob-pb-5 mob-pl-0 mob-mb-5 mt-5 mob-mt-0">
	          	<div id="bookonline" class="res-diary-holder d-inline-block">
	          		<div class="res-diary-inner">
                  <div class="loader loader-inner d-table">
                    <div class="d-table-cell align-middle">
                      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    </div>
                  </div>
                  <div class="position-relative z-2">
  	          			<div id="rd-widget-frame" style="max-width: 600px; margin: auto;"></div>
                  </div>
	          		</div>
	          	</div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="cut"></div>
	</header>
</template>
<script>
	require('../../plugins/jquery.subtle-slideshow.js');
	export default {
    mounted(){
      // These are te default settings.
      $('#slides').slideshow({
        randomize: false,      // Randomize the play order of the slides.
        slideDuration: 7000,  // Duration of each induvidual slide.
        fadeDuration: 500,    // Duration of the fading transition. Should be shorter than slideDuration.
        animate: true,        // Turn css animations on or off.
        pauseOnTabBlur: false, // Pause the slideshow when the tab is out of focus. This prevents glitches with setTimeout().
        enableLog: false      // Enable log messages to the console. Useful for debugging.
      });
    }
	}
</script>
<style lang="scss">

#rd-widget-root .btn{
  max-width: 140px;
  max-height: 30px;
  margin: 15px 0 !important;
}
#rd-widget-root{
  p{
    font-size: 1rem !important;
  }
  h4{
    font-size: 1rem !important;
  }
  .list-group{
    margin-bottom: 0 !important;
  }
  [data-bind="if: showWidgetHeader"]{
    font-size: 12px !important;
    text-align: center !important;
  }
  [data-bind="if: showBookingSummary"]{
    width: 100%;
  }
}
#rd-widget-root [data-bind="if: showWidgetHeader"] .col-xs-12.col-sm-3,
#rd-widget-root [data-bind="if: showBookingSummary"] .col-xs-12.col-sm-9{
  width: 100%;
  float: none;
  max-width: 100%;
  flex: 100%;
}

#rd-widget-root .form-control{
  height: 38px !important;
  font-size: 16px !important;
}

$slide-distance: calc((4vw + 4vh + 4%)/3);

$slide-distance-ms: 4%; // IE11 does not support calc() in transform:translate;

$slide-distance-negative: calc((-4vw + -4vh + -4%)/3);

$zoom-scale: 1.15;

// Option for slide distance without calc(). More compatible but not as
// consistant on screens that are not exactely square.
//
// $slide-distance: 5%;
// $slide-distance-negative: -5%;

// The 0.01deg rotation is a hack to make the animations smooth on Firefox

@-webkit-keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

@keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

#cargo-top-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  #slides {
      position: absolute;
      width: 1px;
      height: 1px;
      left: -9999px;
    }

    #slideshow {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .slide, span, .static-content {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    
      }

      .slide {

        span {
          background-size: cover;
          background-position: center;
        }

        span.animate.right, span.animate.left {
          left: $slide-distance-negative;
          right: $slide-distance-negative;
        }

        span.animate.up, span.animate.down {
          top: $slide-distance-negative;
          bottom: $slide-distance-negative;
        }

      }

      // Time gets set by JS

      span.animate {
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
      }

      span.animate.right {
        -webkit-animation-name: right;
                animation-name: right;
      }

      span.animate.left {
        -webkit-animation-name: left;
                animation-name: left;
      }

      span.animate.up {
        -webkit-animation-name: up;
                animation-name: up;
      }

      span.animate.down {
        -webkit-animation-name: down;
                animation-name: down;
      }

      span.animate.in {
        -webkit-animation-name: in;
                animation-name: in;
      }

      span.animate.out {
        -webkit-animation-name: out;
                animation-name: out;
      }

      span.animate.paused {
        -webkit-animation-play-state: paused;
                animation-play-state: paused;
      }

    }
}
#cargo-top{
	min-height: 850px;
	#cargo-top-overlay{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 10;
	}
	.trans{
		z-index: 2;
	}
	.full-height{
    min-height: 850px;
  }
	.cargo-top-logo{
		width: 100%;
	}
	.res-diary-holder{
		position: relative;
		width: 360px;
		height: auto;
    float: right;
		.res-diary-inner{
			position: relative;
			background-color: #000;
			width: 360px;
			z-index: 1;
      height: 700px;
      max-height: 700px;
      overflow: scroll;
		}
		&:after{
			content: "";
			position: absolute;
			top: 1rem;
			left: 1rem;
			width: 100%;
			height: 100%;
			z-index: 0;
			background-color: #F6CF3C;
		}
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#cargo-top{
		min-height: 100vh;
		height: auto !important;
		background: none !important;
    .h-100{
      height: auto !important
    }
		#cargo-top-menu-btn{
			margin-top: -30px;
		}
		.full-height{
	    min-height: 100vh;
	  }
		.cargo-top-logo{
      width: 300px;
      display: block;
      text-align: center;
      margin: 3rem auto;
		}
		.res-diary-holder{
			height: auto;
      margin: 2rem auto 0;
      display: block !important;
			.res-diary-inner{
				width: 100%;
			}
		}
		.cut{
			display: none;
		}
    #cargo-top-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
	}

  #cargo-top-slider{
    display: none;
  }
}
@media only screen and (max-width : 991px){
  #cargo-top{
    min-height: 100vh;
    height: auto !important;
    background: none !important;
    .h-100{
      height: auto !important
    }
    #cargo-top-menu-btn{
      margin-top: -30px;
    }
    .full-height{
      min-height: 100vh;
    }
    .cargo-top-logo{
      width: 100%;
      max-width: 300px;
    }
    .res-diary-holder{
      width: 100%;
      height: auto;
      float: none;
      .res-diary-inner{
        width: 100%;
        height: auto;
        max-height: 1000000px;
        min-height: 651px;
      }
    }
    .cut{
      display: none;
    }
    #cargo-top-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
  }
  #cargo-top-slider{
    display: none;
  }
}
@media only screen and (max-width : 767px){
  #rd-widget-root .btn{
    max-width: 37vw;
  }
  #cargo-top{
    min-height: 100vh;
    height: auto !important;
    background-image: none !important;
    .h-100{
      height: auto !important
    }
    #cargo-top-menu-btn{
      margin-top: -30px;
    }
    .full-height{
      min-height: 100vh;
    }
    .cargo-top-logo{
      width: 100%;
    }
    .res-diary-holder{
      width: 100%;
      height: auto;
      float: none;
      .res-diary-inner{
        width: 100%;
        height: auto;
        max-height: 1000000px;
        min-height: 651px;
        overflow: visible;
      }
    }
    .cut{
      display: none;
    }
    #cargo-top-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
  }
  #cargo-top-slider{
    display: none;
  }
}
</style>