<template>
	<div id="cargo-slider-1">
		<carousel :items="1" :margin="0" :center="false" :loop="true"  :autoWidth="true" :nav="false" :dots="true" :autoplayTimeout="7000" :autoplayHoverPause="true" :autoplay="true" data-aos="fade-right">
			<div class="cargo-slide">
				<picture>
	        <source srcset="/img/cargo/home-cargo-1.webp" type="image/webp"/> 
	        <source srcset="/img/cargo/home-cargo-1.jpg" type="image/jpg"/>
	        <img src="/img/cargo/home-cargo-1.jpg" alt="Burgers at Cargo by Vertigo - Resteraunt Belfast Northern Ireland" class="lazy"/>
	      </picture>
			</div>
			<div class="cargo-slide">
				<picture>
	        <source srcset="/img/cargo/home-cargo-2.webp" type="image/webp"/> 
	        <source srcset="/img/cargo/home-cargo-2.jpg" type="image/jpg"/>
	        <img src="/img/cargo/home-cargo-2.jpg" alt="Pizza at Cargo by Vertigo - Resteraunt Belfast Northern Ireland" class="lazy"/>
	      </picture>
			</div>
			<div class="cargo-slide">
				<picture>
	        <source srcset="/img/cargo/home-cargo-4.webp" type="image/webp"/> 
	        <source srcset="/img/cargo/home-cargo-4.jpg" type="image/jpg"/>
	        <img src="/img/cargo/home-cargo-4.jpg" alt="Burgers and Beer at Cargo by Vertigo - Resteraunt Belfast Northern Ireland" class="lazy"/>
	      </picture>
	    </div>
			<div class="cargo-slide">
				<picture>
	        <source srcset="/img/cargo/home-cargo-3.webp" type="image/webp"/> 
	        <source srcset="/img/cargo/home-cargo-3.jpg" type="image/jpg"/>
	        <img src="/img/cargo/home-cargo-3.jpg" alt="Drinks at Cargo by Vertigo - Resteraunt Belfast Northern Ireland" class="lazy"/>
	      </picture>
	    </div>
		</carousel>
		<div class="slideshow-box card bg-primary p-5 mob-px-3 mob-pb-4 text-dark text-center text-lg-left" data-aos="fade-left">
			<p class="box-title-top text-grey">Great for</p>
			<p class="mimic-h1">Quality Food<br/>& Drinks</p>
			<p class="text-large mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of types.</p>
			<p class="mb-0">
				<button type="button" class="btn btn-black btn-icon d-inline-block booknowbtn">Book Now <i class="custom-icon chevron-double-up-white"></i></button>
			</p>
			<p class="button-after button-after-dark mt-1 pl-2 mb-5 mob-mb-0"><a href="/docs/cargo_by_vertigo_a4_food_menu_v19.pdf" target="_blank"><i class="return-arrow"></i> View Menu</a></p>
		</div>
	</div>
</template>
<script>
	import carousel from 'vue-owl-carousel';
	export default {
	  components: { carousel },
	  data() {
			return {
				videos: [],
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods:{
			
		}
	}
</script>
<style lang="scss">
#cargo-slider-1{
	position: relative;
	width: 1200px;
	margin-right: 0;
	margin-left: auto;
	.slideshow-box{
		position: absolute;
		top: calc(50% - 288px);
		width: 670px;
		height: 556px;
		left: -300px;
    right: auto;
		z-index: 2;
		-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
		-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
		box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
	}
	.cargo-slideshow-logo{
		width: 250px;
		position: absolute;
		top: 4rem;
		left: 4rem;
		z-index: 2;
	}
	.cargo-slide {
  	position: relative;
	  width: 1200;
	  height: 811px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  overflow: hidden;
	  cursor: pointer;

	  img{
	  	z-index: 1;
	  	position: relative;
	  	width: 1200px;
	  	display: block;
	  	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
	  }
	}
	.owl-carousel .owl-stage-outer{
		overflow: hidden !important;
	}
	.owl-theme{
		.owl-dots{
			position: absolute;
			top: 50%;
			right: 0;
			width: 180px;
		  margin: auto;
		  transform: rotate(90deg);
		  .owl-dot{
				span{
					width: 30px;
			    height: 8px;
			    background: #fff;
			    border-radius: 0;
				}
				&.active{
					span{
						background: #F6CF3C;
					}
				}
			}
		}
	}	
}
@media only screen and (max-width : 767px){
	#cargo-slider-1{
		width: 100vw;
		.cargo-slide{
			width: 100vw;
			height: 80vw;
			img{
				width: 100vw;
				height: 80vw
			}
		}
		.cargo-slideshow-logo {
	    width: 25vw;
	    top: 1rem;
	    left: 1rem;
		}
		.owl-theme .owl-dots{
	    margin: auto;
	    width: 80vw;
	    left: -35vw;
	    right: auto;
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
		.owl-theme .owl-nav{
			margin: 1rem -33px -30px auto;
		}
		.slideshow-box{
	    top: auto;
	    width: calc(100vw - 2rem);
	    height: auto;
	    left: auto;
	    margin-left: 1rem;
	    position: relative;
	    margin-top: -20vw;
		}
	}
}
</style>