<template>
	<div id="home-events" class="container-fluid pb-5 mob-pr-5 ipadp-pl-0">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<a href="/gift-vouchers">
					<div class="home-box">
						<div class="box-info">
							<div class="box-img">
								<picture>
				          <source media="(min-width: 768px)" data-srcset="/img/home/giftvouchers.webp?v=2024-03-25" type="image/webp"/> 
				          <source media="(min-width: 768px)" data-srcset="/img/home/giftvouchers.jpg?v=2024-03-25" type="image/jpg"/> 
				          <source media="(min-width: 1px)" data-srcset="/img/home/giftvouchers-mob.webp?v=2024-03-25" type="image/webp"/> 
				          <source media="(min-width: 1px)" data-srcset="/img/home/giftvouchers-mob.jpg?v=2024-03-25" type="image/jpg"/> 
				          <img data-src="/img/home/giftvouchers.jpg?v=2024-03-25" type="image/jpg" alt="Gift Vouchers - We are Vertigo - Belfast Northern Ireland" class="lazy h-auto" width="328" height="215" />
				        </picture>
					    </div>
				      <p class="box-title title text-dark mt-3">Gift Vouchers <i class="custom-icon chevron-double-right"></i></p>
				    </div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6">
				<a href="/birthdays">
					<div class="home-box">
						<div class="box-info">
							<div class="box-img">
								<picture>
				          <source media="(min-width: 768px)" data-srcset="/img/home/birthdayparties.webp" type="image/webp"/> 
				          <source media="(min-width: 768px)" data-srcset="/img/home/birthdayparties.jpg" type="image/jpg"/> 
				          <source media="(min-width: 1px)" data-srcset="/img/home/birthdayparties-mob.webp" type="image/webp"/> 
				          <source media="(min-width: 1px)" data-srcset="/img/home/birthdayparties-mob.jpg" type="image/jpg"/> 
				          <img data-src="/img/home/birthdayparties.jpg" type="image/jpg" alt="Birthday Parties - We are Vertigo - Belfast Northern Ireland" class="lazy h-auto" width="328" height="215" />
				        </picture>
					    </div>
				      <p class="box-title title text-dark mt-3">Birthday Parties <i class="custom-icon chevron-double-right"></i></p>
				    </div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6">
				<a href="/offers-and-discounts">
					<div class="home-box">
						<div class="box-info">
							<div class="box-img">
								<picture>
				          <source media="(min-width: 768px)" data-srcset="/img/home/memberships.webp" type="image/webp"/> 
				          <source media="(min-width: 768px)" data-srcset="/img/home/memberships.jpg" type="image/jpg"/> 
				          <source media="(min-width: 1px)" data-srcset="/img/home/memberships-mob.webp" type="image/webp"/> 
				          <source media="(min-width: 1px)" data-srcset="/img/home/memberships-mob.jpg" type="image/jpg"/> 
				          <img data-src="/img/home/memberships.jpg" type="image/jpg" alt="Memberships - We are Vertigo - Belfast Northern Ireland" class="lazy h-auto" width="328" height="215"/>
				        </picture>
					    </div>
				      <p class="box-title title text-dark mt-3">Offers & Discounts <i class="custom-icon chevron-double-right"></i></p>
				    </div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6">
				<a href="/parties-and-groups">
					<div class="home-box">
						<div class="box-info">
							<div class="box-img">
								<picture>
				          <source media="(min-width: 768px)" data-srcset="/img/home/groups.webp" type="image/webp"/> 
				          <source media="(min-width: 768px)" data-srcset="/img/home/groups.jpg" type="image/jpg"/> 
				          <source media="(min-width: 1px)" data-srcset="/img/home/groups-mob.webp" type="image/webp"/> 
				          <source media="(min-width: 1px)" data-srcset="/img/home/groups-mob.jpg" type="image/jpg"/> 
				          <img data-src="/img/home/groups.jpg" type="image/jpg" alt="Groups & Corporate Events - We are Vertigo - Belfast Northern Ireland" class="lazy h-auto" width="328" height="215" />
				        </picture>
					    </div>
				      <p class="box-title title text-dark mt-3">School & Youth Groups <i class="custom-icon chevron-double-right"></i></p>
				    </div>
					</div>
				</a>
			</div>
		</div>
	</div>
</template>
<script>
	import LazyLoad from 'vanilla-lazyload';
	export default {
		name: 'HomeBoxes',
	  mounted() {
	    this.initializeLazyLoad();
	  },
	  data() {
			return {
				videos: [],
				errors: {},
				success: false,
				loaded: true,
			}
		},
		methods: {
	    initializeLazyLoad() {
	      new LazyLoad({
	        elements_selector: ".lazy",
	        // Optionally set other options, such as threshold, etc.
	      });
	    }
	  }
	}
</script>
<style lang="scss" scoped>
#home-events{
	.home-box {
  	position: relative;
	  width: 356px;
	  height: 500px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  overflow: hidden;
	  cursor: pointer;
	  padding-top: 2rem;
	  padding-left: 2rem;
	  img{
	  	z-index: 1;
	  	position: relative;
	  	width: calc(100% - 1rem);
	  	margin-top: -3rem;
	  	display: block;
	  	margin-left: -1rem;
	  	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
	  }
	  .box-info{
	  	position: relative;
	  	padding-top: 1rem;
	  	background-color: #F6CF3C;
	  	p{
	  		margin-left: 1.5rem;
	  		&.box-title{
	  			font-weight: 700;
	  			font-size: 2rem;
	  			padding-bottom: 1rem;
	  			padding-right: 1rem;
	  			i{
	  				position: absolute;
						right: 15px;
						bottom: 17px;
						font-size: 1.5rem;
						-webkit-transition: all 300ms ease;
				    -moz-transition: all 300ms ease ;
				    -o-transition: all 300ms ease;
				    transition: all 300ms ease;
				    &.fa-gift{
				    	position: relative;
					    right: auto;
					    bottom: auto;
					    font-size: 1.9rem;
				    }
	  				&.custom-icon{
			  			width: 1.3rem;
			  			height: 1.3rem;
			  			bottom: 22px;
			  			background-size: contain;
			  			background-repeat: no-repeat;
			  			&.chevron-double-right{
			  				background-image: url('/img/icons/chevron-double-right.svg');
			  			}
			  			&.chevron-double-right-white{
			  				background-image: url('/img/icons/chevron-double-right-white.svg');
			  			}
			  		}
	  			}
	  		}
	  	}
	  }
	}
}
@media only screen and (max-width : 1499px){
	#home-events{
		.home-box {
		  width: 300px;
		  height: 400px;
		  img{
		  	width: calc(100% - 1rem);
		  	margin-top: -3rem;
		  	margin-left: -1rem;
		  }
		  .box-info{
	  		p{
	  			&.box-title{
		  			font-weight: 700;
		  			font-size: 1.5rem;
		  			i.custom-icon{
		  				position: absolute;
					    width: 1rem;
					    height: 1rem;
					    bottom: 20px;
						}
		  		}
		  	}
		  }
		}
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#home-events{
		.row{
			.col-lg-3{
				&:nth-child(odd){
					.home-box{
						margin-right: 0;
				    margin-left: auto;
					}
				}
			}
		}
	}
	
}
@media only screen and (min-width : 992px) and (max-width : 1200px){
	#home-events{
		.home-box {
		  width: 260px;
		  height: 360px;
		  img{
		  	width: calc(100% - 1rem);
		  	margin-top: -3rem;
		  	margin-left: -1rem;
		  }
		  .box-info{
		  	padding-top: 1rem;
		  	width: calc(100% - 1rem);
		  }
		}
	}
}
@media only screen and (max-width : 767px){
	#home-events{
		.home-box {
	    width: calc(100vw - 2rem);
	    height: 85vw;
	    padding-left: 1rem;
	    .box-img{
		    height: 60vw;
		    overflow: hidden;
		    margin-top: -10vw;
		    margin-left: -1rem;
	    	img{
	    		width: 100%;
	    		margin-top: 0;
	    	}
	    }
		}
	}
}
</style>