<template>
	<div id="home-second-slider" v-if="posts.length">
		<div class="smaller-sizes-container">
			<carousel :items="1" :margin="0" :center="false" :loop="true"  :autoWidth="true" :nav="false" :dots="true" :autoplayTimeout="7000" :autoplayHoverPause="true" :autoplay="true" data-aos="fade-right" @translate="callback">
				<div class="second-slide" v-for="(post, key) in posts" :key="key">
					<picture>
	          <source media="(min-width: 1500px)" :srcset="post.doublewebp" type="image/webp"/> 
	          <source media="(min-width: 1500px)" :srcset="post.double" :type="post.mimetype"/> 
	          <source media="(min-width: 768px)" :srcset="post.normalwebp" type="image/webp"/> 
	          <source media="(min-width: 768px)" :srcset="post.normal" :type="post.mimetype"/> 
	          <source media="(min-width: 1px)" :srcset="post.featuredwebp" type="image/webp"/> 
	          <source media="(min-width: 1px)" :srcset="post.featured" :type="post.mimetype"/> 
	          <img :src="post.double" :type="post.mimetype" :alt="post.title + ' - News - We Are Vertigo'" class="lazy h-auto" width="360" height="252"/>
	        </picture>
				</div>
			</carousel>
		</div>
		<div class="slideshow-box card bg-primary p-5 mob-px-3 mob-pb-4 text-dark text-center text-lg-left" data-aos="fade-left">
			<div class="d-table w-100 h-100">
				<div class="d-table-cell align-middle w-100 h-100">
					<p class="box-title-top text-grey">News - {{niceDate(posts[current].created_at)}}</p>
					<p class="mimic-h1 pr-5 mob-px-0">{{posts[current].title}}</p>
					<p class="text-large mb-4">{{posts[current].excerpt}}</p>
					<p class="mb-0"><a :href="'/news/'+ moment(posts[current].created_at) + '/' + posts[current].slug" class="d-inline">
						<button type="button" class="btn btn-black btn-icon mob-mt-2">Read Article <i class="custom-icon chevron-double-right-white"></i></button>
					</a></p>
					<p class="button-after button-after-dark mt-1 pl-2 mob-mb-0"><a href="/news"><i class="return-arrow"></i> All News</a></p>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import carousel from 'vue-owl-carousel';
	export default {
	  components: { carousel },
	  data() {
			return {
				posts: [],
				errors: {},
				success: false,
				loaded: true,
				current: 0,
			}
		},
		mounted(){
			this.getPosts();
			var lazyLoadInstance = new LazyLoad({
			  elements_selector: ".lazy"
			});
		},
		methods:{
			callback(event) {
				console.log(event);
				this.current = event.item.index - 2;
			},
			getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
			getPosts(){
				this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/news/get?limit=3&page=1&category=*').then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.posts = response.data.data;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          console.log(this.response);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
			}
		}
	}
</script>
<style lang="scss" scoped>
#home-second-slider{
	position: relative;
	width: 100%;
	max-width: 1600px;
	.smaller-sizes-container{
		width: 100%;
		max-width: 1200px;
		overflow: hidden;
	}
	.slideshow-box{
		position: absolute;
		top: calc(50% - 288px);
		width: 670px;
		height: 556px;
		right: 0;
		z-index: 2;
		-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
		-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
		box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
	}
	.second-slide {
  	position: relative;
	  width: 1200px;
	  height: 811px;
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 0;
	  text-align: left;
	  vertical-align: top;
	  overflow: hidden;
	  cursor: pointer;
	  img{
	  	z-index: 1;
	  	position: relative;
	  	width: 1200px;
	  	display: block;
	  	-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
			box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
	  }
	}
	.owl-carousel .owl-stage-outer{
		overflow: hidden !important;
	}
}
@media only screen and (max-device-width : 1200px){
	#home-second-slider{
		position: relative;
		width: 100vw;
		.smaller-sizes-container{
			width: 90vw;
			overflow: hidden;
		}
		.slideshow-box{
			top: calc(50% - 260px);
			width: 500px;
			height: auto;
			right: 1rem;
			p.larger{
				font-size: 1rem;
			}
			p.mimic-h1{
				font-size: 3rem;
			}
		}
		.second-slide {
		  width: 90vw;
		  height: auto;
		  img{
		  	z-index: 1;
		  	width: 90vw;
		  }
		}
		.owl-carousel .owl-stage-outer{
			overflow: hidden !important;
		}
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
#home-second-slider{
		width: 100vw;
		.second-slide{
			width: 100vw;
			height: 80vw;
			img{
				width: 100vw;
				height: 80vw
			}
		}
		.second-slideshow-logo {
	    width: 25vw;
	    top: 1rem;
	    left: 1rem;
		}
		.owl-theme .owl-dots{
	    margin: auto;
	    width: 80vw;
	    left: -8rem;
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
		.owl-theme .owl-nav{
			margin: 1rem -33px -30px auto;
		}
		.slideshow-box{
	    top: auto;
	    width: calc(100vw - 2rem);
	    height: auto;
	    right: auto;
	    margin-left: 1rem;
	    position: relative;
	    margin-top: -20vw;
		}
	}

}
@media only screen and (max-width : 992px){
	#home-second-slider{
		width: 100vw;
		.smaller-sizes-container{
			width: 100vw;
			overflow: hidden;
		}
		.second-slide{
			width: 100vw;
			height: 66.666vw;
			img{
				width: 100vw;
				height: 66.666vw;
			}
		}
		.owl-theme .owl-dots{
	    margin: auto;
	    width: 80vw;
	    left: -8rem;
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
		.owl-theme .owl-nav{
			margin: 1rem -33px -30px auto;
		}
		.slideshow-box{
	    top: auto;
	    width: calc(100vw - 2rem);
	    height: auto;
	    right: auto;
	    margin-left: 1rem;
	    position: relative;
	    margin-top: -20vw;
		}
	}

}
@media only screen and (max-width : 767px){
	#home-second-slider{
		width: 100vw;
		.smaller-sizes-container{
			width: 100vw;
			overflow: hidden;
		}
		.second-slide{
			width: 100vw;
			height: auto;
			img{
				width: 100vw;
				height: auto;
			}
		}
		.owl-theme .owl-dots{
	    margin: auto;
	    width: 80vw;
	    left: -8rem;
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
		.owl-theme .owl-nav{
			margin: 1rem -33px -30px auto;
		}
		.slideshow-box{
	    top: auto;
	    width: calc(100vw - 2rem);
	    height: auto;
	    right: auto;
	    margin-left: 1rem;
	    position: relative;
	    margin-top: -12vw;
		}
	}
}
</style>