<template>
	<div class="container-fluid home-menu-contaner d-none d-md-block">
		<div class="row">
			<div class="container container-wide z-2">
		    <div class="row justify-content-md-start justify-content-center">
		      <div class="col-lg-7 col-md-10 col-10">
		      	<div class="position-relative home-menu-card">
		          <div class="card bg-primary text-dark pt-4 mob-pt-3 pb-3 position-relative shadow z-2">
		            <div class="container">
		              <div class="row">
		                <div class="col-md-6 col-12 text-center">
		                	<div class="zoom-link" @click="goToActivities">
			                  <p class="mimic-h2 zoom-item mb-0 text-center">ACTIVITIES</p>
			                  <img src="/img/icons/chevron-double-down.svg" alt="We are Vertigo chevron down icon" class="chevron-down" width="14" height="17"/>
			                </div>
		                </div>
		                <div class="col-6 border-start text-center">
		                 	<a href="/parties-and-groups" class="zoom-link">
			                  <p class="mimic-h2 zoom-item mb-0 text-dark text-center">BOOK YOUR PARTY</p>
			                  <img src="/img/icons/chevron-double-down.svg" alt="We are Vertigo chevron down icon" class="chevron-down" width="14" height="17" />
			                </a>
		                </div>
		                <!-- <div class="col-6 border-left text-center d-none d-md-block">
		                 	<a href="/birthdays" class="zoom-link">
			                  <p class="mimic-h2 zoom-item mb-0 text-dark text-center">BIRTHDAYS</p>
			                  <img src="/img/icons/chevron-double-right.svg" alt="We are Vertigo chevron down icon" class="chevron-down" width="14" height="17" />
			                </a>
		                </div> -->
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
			  </div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props:{
			setcountry: String,
      inid: String,
		},
	  data() {
	    return {
	      country: this.setcountry,
	    }
	  },
	  mounted(){
	  	this.$emit('change', this.country)
	  },
	  methods: {
	  	goToActivities() {
	      document.getElementById('scrollToActivities').scrollIntoView({
				  behavior: 'smooth'
				});
	    }
	  },
	}
	
</script>
<style lang="scss">
	.home-menu-contaner{
		position: absolute;
		bottom: 20px;
		left: 0;
		z-index: 100;
	}
	.home-menu-card{
		max-width: 635px;
		p.text-grey{
			color: #262D34;
		}
		p.mimic-h2{
			font-size: 3rem;
		}
		.zoom-item{
			cursor: pointer;
			-webkit-transition: all 300ms ease;
	    -moz-transition: all 300ms ease ;
	    -o-transition: all 300ms ease;
	    transition: all 300ms ease;
		}
		.zoom-link{
			&:hover{
				.zoom-item{
					transform: scale(1.1);
				}
			}
		}
		.mob-cargo-btn{
			width: 16vw;
		}
		.border-start{
			border-color: #000 !important;
		}
	}
	.mob-home-menu-container{
		margin-top: -100px;
	}
	.cargo-hanger{
		background-color: #F6CF3C;
		width: 110px;
	  height: 110px;
	  position: absolute;
	  right: -110px;

	  top: 11px;
	  padding: 20px;
	  z-index: 1;
		img{
			height: 72px;
		}
	}
	@media only screen and (max-width : 992px) and (max-height: 700px){
		.home-menu-card {
		  margin-top: -70px;
		}
	}
	@media only screen and (max-width : 767px){
		.home-menu-card {
			position: relative;
		  margin-top: -76px;
		  p.mimic-h2{
		  	font-size: 11vw;
		  }
		}
	}

</style>