<template>
  <div id="home-slider">
    <header id="home-header" class="position-relative full-height home-top bg bg-down-up z-1">
      <carousel ref="home-slider" :mouse-drag="false" :wrapAround="true" :autoplay="7000" :autoplayTimeout="7000">
        <slide class="party-slide">
          <div class="slide">
            <span class="slide-bg animate in slide-1"></span>
            <div class="static-content">
              <div class="slide-info">
                <div class="container container-wide full-height">
                  <div class="d-table w-100 h-100">
                    <div class="d-table-cell w-100 h-100 align-middle mob-pl-3">
                      <div class="navigation-controls">
                        <button @click="this.$refs['home-slider'].prev()" class="me-1"><font-awesome-icon :icon="['fas', 'angle-left']" aria-label="Previous Slide"/></button>
                        <button @click="this.$refs['home-slider'].next()"><font-awesome-icon :icon="['fas', 'angle-right']" aria-label="Next Slide"/></button>
                      </div>
                      <h2 class="text-uppercase">BOUNCE IN THE <br class="d-none d-lg-block" />WORLD'S LARGEST</h2>
                      <h3 class="text-uppercase">Indoor inflatable park!</h3>
                      <p class="text-small mob-mb-0"><b>Book your bounce session now!</b></p>
                      <!-- <p class="text-small mob-mb-0">*Excluding toddler parties</p>-->
                      <a href="/activities/inflatable-park">
                        <button type="button" class="btn btn-primary btn-icon mb-hp-btm mob-mt-2">Book Now <i class="custom-icon chevron-double-right"></i></button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide class="party-slide">
          <div class="slide">
            <span class="slide-bg animate in slide-2"></span>
            <div class="static-content">
              <div class="slide-info">
                <div class="container container-wide full-height">
                  <div class="d-table w-100 h-100">
                    <div class="d-table-cell w-100 h-100 align-middle mob-pl-3">
                      <div class="navigation-controls">
                        <button @click="this.$refs['home-slider'].prev()" class="me-1"><font-awesome-icon :icon="['fas', 'angle-left']" aria-label="Previous Slide"/></button>
                        <button @click="this.$refs['home-slider'].next()"><font-awesome-icon :icon="['fas', 'angle-right']" aria-label="Next Slide"/></button>
                      </div>
                      <h2 class="text-uppercase">Soft play</h2>
                      <h3 class="text-uppercase">The ideal spot for ages 1-12</h3>
                      <p class="text-small mob-mb-0"><b>Book our adventure centre now!</b></p>
                      <a href="/activities/adventure-climbing">
                        <button type="button" class="btn btn-primary btn-icon mb-hp-btm mob-mt-2">Book Now <i class="custom-icon chevron-double-right"></i></button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide class="party-slide">
          <div class="slide">
            <span class="slide-bg animate in slide-3"></span>
            <div class="static-content">
              <div class="slide-info">
                <div class="container container-wide full-height">
                  <div class="d-table w-100 h-100">
                    <div class="d-table-cell w-100 h-100 align-middle mob-pl-3">
                      <div class="navigation-controls">
                        <button @click="this.$refs['home-slider'].prev()" class="me-1"><font-awesome-icon :icon="['fas', 'angle-left']" aria-label="Previous Slide"/></button>
                        <button @click="this.$refs['home-slider'].next()"><font-awesome-icon :icon="['fas', 'angle-right']" aria-label="Next Slide"/></button>
                      </div>
                      <h2 class="text-uppercase">EVERY 3RD PERSON<br/>GOES FREE</h2>
                      <h3 class="text-uppercase">With our birthday party packages!</h3>
                      <p class="text-small mob-mb-0"><b>Book an unforgettable birthday now! </b></p>
                      <a href="/birthdays">
                        <button type="button" class="btn btn-primary btn-icon mb-hp-btm mob-mt-2">Book Now <i class="custom-icon chevron-double-right"></i></button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <template #addons>
          <pagination />
        </template>
      </carousel>
      <div class="cut"></div>
      <top-details></top-details>
      <home-header-menu></home-header-menu>
    </header>
  </div>
</template>
<script>
  import { ref } from 'vue';
  import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
  const armourycarousel = ref(null);
  export default {
    components: { 
      Carousel,
      Slide,
      Pagination,
      Navigation,
    },
    data() {
      return {
        slideNumber: 0,
        interval: 7000,
        slides: 5,
        index: 1
      }
    },
    methods: {
      navigateTo(index) {
        this.$refs['home-slider'].slideTo(index);
      }
    }
  }
</script>
<style lang="scss">
@keyframes ken-burns-effect {
  0% {
    transform: scale(1);
    transform-origin: center;
  }
  100% {
    transform: scale(1.2);
    transform-origin: center;
  }
}
.temp-bg{
  background-image: url('/img/temp/temp.png');
}
$slide-distance: calc((4vw + 4vh + 4%)/3);

$slide-distance-ms: 4%; // IE11 does not support calc() in transform:translate;

$slide-distance-negative: calc((-4vw + -4vh + -4%)/3);

$zoom-scale: 1.15;

// Option for slide distance without calc(). More compatible but not as
// consistant on screens that are not exactely square.
//
// $slide-distance: 5%;
// $slide-distance-negative: -5%;

// The 0.01deg rotation is a hack to make the animations smooth on Firefox


@-webkit-keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

@keyframes in {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale($zoom-scale);
            transform: scale($zoom-scale);
  }
}

#home-header{
  min-height: 750px;
  height: calc(100vh - 34px);
  .full-height{
    min-height: 750px;
    height: calc(100vh - 34px);
  }
}
.no-webp{
  .slide-1 {
    background-image: url('/img/home-slides/worlds-largest-indoor-park-march-25.jpg');
  }

  .slide-2 {
    background-image: url('/img/home-slides/soft-play-march-25.jpg');
  }

  .slide-3 {
    background-image: url('/img/home-slides/every-third-person-march-25.jpg');
  }

  .half-term{
    background-image: url('/img/home-slides/half-term.jpg');
  }
  .mid-term{
    background-image: url('/img/home-slides/mid-term.jpg');
  }
  .home-inf-new{
    background-image: url('/img/home/inf-new.jpg');
  }
  .ultimate-combo{
    background-image: url('/img/offers/combos/ultimate-combo.jpg?v2.0');
  }
  .home-birthday-parties{
    background-image: url('/img/home/birthdays.jpg');
  }
  .home-christmas-voucher-bg{
    background-image: url('/img/bg/christmas/home-christmas-voucher-bg.jpg');
  }
  .half-term-home{
    background-image: url('/img/home/half-term.jpg');
  }
  .christmas-2024{
    background-image: url('/img/home-slides/christmas-2024.jpg?v=2024-11-07');
  }
  .newtownbreda-3for2{
    background-image: url('/img/home-slides/newtownbreda-3for2-2.jpg');
  }
  .newtownbreda-midterm{
    background-image: url('/img/home/seven-days.jpg');
  }
  .open-summer{
    background-image: url('/img/home/open-summer.jpg');
  }
  .flash-sale{
    background-image: url('/img/home/flash-sale.jpg');
  }
  .flash-sale{
    background-image: url('/img/home/flash-sale.jpg');
  }
  .home-snow{
    background-image: url('/img/offers/christmas/snow.png');
  }
}
.webp{
  .slide-1 {
    background-image: url('/img/home-slides/worlds-largest-indoor-park-march-25.webp');
  }

  .slide-2 {
    background-image: url('/img/home-slides/soft-play-march-25.webp');
  }

  .slide-3 {
    background-image: url('/img/home-slides/every-third-person-march-25.webp');
  }

  .half-term{
    background-image: url('/img/home-slides/half-term.webp');
  }
  .mid-term{
    background-image: url('/img/home-slides/mid-term.webp');
  }
  .home-inf-new{
    background-image: url('/img/home/inf-new.webp');
  }
  .ultimate-combo{
    background-image: url('/img/offers/combos/ultimate-combo.webp?v2.0');
  }
  .home-birthday-parties{
    background-image: url('/img/home/birthdays.webp');
  }
  .home-christmas-voucher-bg{
    background-image: url('/img/bg/christmas/home-christmas-voucher-bg.webp');
  }
  .half-term-home{
    background-image: url('/img/home/half-term.webp');
  }
  .christmas-2024{
    background-image: url('/img/home-slides/christmas-2024.webp?v=2024-11-07');
  }
  .newtownbreda-3for2{
    background-image: url('/img/home-slides/newtownbreda-3for2-2.webp');
  }
  .newtownbreda-midterm{
    background-image: url('/img/home/seven-days.webp');
  }
  .open-summer{
    background-image: url('/img/home/open-summer.webp');
  }
  .flash-sale{
    background-image: url('/img/home/flash-sale.webp');
  }
  .home-snow{
    background-image: url('/img/offers/christmas/snow.webp');
  }
}
.home-snow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: contain;
}
.home-full-height{
  min-height: 750px;
}
.easter-ears{
  position: relative;
  &:before{
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    top: -87px;
    left: 18px;
    background-image: url('/img/home/ears.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.easter-eggs{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
}
#home-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  ol li:before,
  ol li:after{
    display: none !important;
  }
  .carousel__slide--active{
    z-index: 2;
  }
  .navigation-controls {
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
    z-index: 10; /* Ensure it's above other content */
  }
  .navigation-controls button {
    border: none;
    background: #F6CF3C; /* Semi-transparent black background */
    color: #000;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 0px 0 0;
    cursor: pointer;
    font-size: 22px;
  }
  .slide{
    text-align: left;
    height: 100vh;
    width: 100vw;
    .slide-bg{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      animation: ken-burns-effect 7s ease-in-out infinite alternate;
    }
    .static-content {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      .slide-info{
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(29,37,45,0.5);
        width: 100%;
        height: 100%;
        .get3for2{
          position: absolute;
          bottom: calc(50% + 110px);
          width: 110px;
          left: 685px;
          transform: rotate(-19deg);
        }
        h2{
          position: relative;
          display: inherit;
          font-size: 8rem;
          letter-spacing: 1px;
          line-height: 0.8;
          color: #fff;
          &.smaller{
            font-size: 7rem;
          }
        }
        p{
          &.home-title-top{
            font-family: Tungsten, sans-serif;
            color: #F6CF3C;
            font-size: 2.5rem;
            margin-bottom: 0;
            margin-top: -30px;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
          }
        }
      }
    }
  }
  .carousel__pagination{
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 680px - 6rem);
    width: 8px;
    height: 100%;
    z-index: 2;
    margin: 0;
    display: block;
    list-style: none;
    .carousel__pagination-item{
      padding-left: 0;
      list-style: none;
      display: block;
      margin-bottom: 8px;
      &:before,
      &:after{
        display: none !important;
      }
      .carousel__pagination-button{
        height: 24px;
        background-color: #fff;
        width: 5px;
        padding: 0 ;
        display: block;
        &:after{
          display: none !important;
        }
        &.carousel__pagination-button--active{
          background-color: #F6CF3C;
        }
      }
      
    }
  }
}

// Desktop
@media only screen and (min-width : 1240px){
  #home-slider-info{
    left: calc(50% - 600px - 6rem);
  }
}
// Desktop
@media only screen and (min-width : 1340px){
  #home-slider-info{
    left: calc(50% - 650px - 6rem);
  }
}
// Desktop
@media only screen and (min-width : 1440px){
  #home-slider-info{
    left: calc(50% - 700px - 6rem);
  }
}

// Desktop
@media only screen and (min-width : 1500px){
  #home-slider-info{
    left: calc(50% - 700px - 6rem);
  }
}

// Desktop
@media only screen and (min-width : 1540px){
  #home-slider-info{
    left: calc(50% - 750px - 6rem);
  }
}

@media only screen 
and (min-width : 770px) 
and (min-height : 720px) 
and (max-height : 850px) 
and (orientation : landscape) {
  // #home-slider-info .slide-indicators{
  //   top: calc(50% - 245px);
  // }
  // .mb-hp-btm{
  //   margin-bottom: 210px;
  // }
}

@media only screen 
and (min-width : 770px) 
and (min-height : 600px) 
and (max-height : 719px) 
and (orientation : landscape) {
  // #home-slider-info .slide-indicators{
  //   top: calc(50% - 302px);
  // }
  // .mb-hp-btm{
  //   margin-bottom: 320px;
  // }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  #home-header{
    min-height: 750px;
    .full-height{
      min-height: 750px;
    }
  }
  .mb-hp-btm{
    margin-bottom: 50px;
  }
}

@media only screen and (max-width : 767px){
  .no-webp{
    .home-birthday-parties{
      background-image: url('/img/home/birthdays-mob.jpg');
    }
    .home-christmas-voucher-bg{
      background-image: url('/img/bg/christmas/home-christmas-voucher-b g-mob.jpg');
    }
    .half-term-home{
      background-image: url('/img/home/half-term-mob.jpg?v=2023-10-27');
    }
    .christmas-vouchers{
      background-image: url('/img/home-slides/christmas-vouchers-mob.jpg');
    }
    .open-summer{
      background-image: url('/img/home/open-summer-mob.jpg');
    }
    .flash-sale{
      background-image: url('/img/home/flash-sale-mob.jpg');
    }
  }
  .webp{
    .home-birthday-parties{
      background-image: url('/img/home/birthdays-mob.webp');
    }
    .home-christmas-voucher-bg{
      background-image: url('/img/bg/christmas/home-christmas-voucher-bg-mob.webp');
    }
    .half-term-home{
      background-image: url('/img/home/half-term-mob.webp?v=2023-10-27');
    }
    .christmas-vouchers{
      background-image: url('/img/home-slides/christmas-vouchers-mob.webp');
    }
    .open-summer{
      background-image: url('/img/home/open-summer-mob.webp');
    }
    .flash-sale{
      background-image: url('/img/home/flash-sale-mob.webp');
    }
  }
  .home-full-height{
    min-height: 700px;
  }
  #home-header{
    min-height: 700px;
    height: 700px;
    .full-height{
      min-height: 700px;
      height: 700px;
    }
  }
  #home-slider .slide .static-content{
    .slide-info{
      .get3for2{
        position: relative;
        bottom: auto;
        width: 70px;
        height: 120px;
        left: auto;
        right: auto;
        margin-top: -190px;
        transform: rotate(-19deg);
      }
      h2{
        font-size: 14vw;
        line-height: 0.9;
        &.mob-a-bit-smaller{
          font-size: 13vw;
        }
        &.smaller{
          font-size: 13vw;
        }
        .this-easter{
          position: absolute;
          bottom: auto;
          width: 110px;
          left: -22px;
          transform: rotate(-11deg);
          top: -120px;
        }
      }
      p{
        &.home-title-top{
          margin-top: -17vw;
          font-size: 6vw;
          &.easter-text{
            margin-top: -17px;
          }
        }
      }
    }
  }
  .easter-ears{
    &:before{
      left: 1.2vw;
      top: -11vw;
      width: 13vw;
      height: 13vw;
    }
  }
  .easter-eggs{
    bottom: 23vw;
    right: 11vw;
    width: 110px;
    height: 150px;
  }
  .carousel__pagination{
    top: calc(50% - 85px);
    left: 10px;
    .carousel__pagination-item{
      .carousel__pagination-button{
        height: 20px;
        width: 4px;
        padding: 0 ;
      }
    }
  }
}
@media only screen and (max-width : 320px){
  #home-header{
    min-height: 600px;
    height: 600px;
    .full-height{
      min-height: 600px;
      height: 600px;
    }
  }
}
</style>