<template>
	<div class="container container-wide position-relative z-2">
	  <div class="row">
	    <div class="container ml-0">
	      <div class="row">
	        <div class="col-12">
	          <div class="card home-menu-card bg-primary text-dark py-3" data-aos="slide-up">
	            <div class="container">
	              <div class="row">
	                <div class="col-lg-5">
	                  <p class="mimic-h3 mb-2 text-center">Titanic Quarter</p>
	                  <div class="row text-center">
	                    <div class="col-4">
	                      <img src="/img/icons/indoor-skydiving.svg" width="80" alt="Indoor Skydiving Belfast icon"/>
	                      <p class="title mt-2">Indoor Skydiving<br/>(Ages 4+)</p>
	                    </div>
	                    <div class="col-4">
	                      <img src="/img/icons/inflatable.svg" width="80" alt="Inflatable Park Belfast icon"/>
	                      <p class="title mt-2">Inflatable Park<br/>(Ages 1+)</p>
	                    </div>
	                    <div class="col-4">
	                      <img src="/img/icons/ninja.svg" width="80" alt="Ninja master course Belfast icon"/>
	                      <p class="title mt-2">Ninja Course<br/>(Ages 6+)</p>
	                    </div>
	                  </div>
	                </div>
	                 <div class="col-lg-4 border-left">
	                  <p class="mimic-h3 mb-2 text-center">Newtownbreda</p>
	                  <div class="row text-center">
	                    <div class="col-6">
	                      <img src="/img/icons/inflatable.svg" width="80" alt="Inflatable Park Belfast icon"/>
	                      <p class="title mt-2">Inflatable Park<br/>(Ages 1+)</p>
	                    </div>
	                    <div class="col-6">
	                      <img src="/img/icons/adventure.svg" width="80" alt="Ninja master course Belfast icon"/>
	                      <p class="title mt-2">Adventure<br/>(Ages 1-12)</p>
	                    </div>
	                  </div>
	                </div>
	                <div class="col-lg-3 py-3 border-left px-4 pt-5 text-center">
	                	<a href="/cargo">
	                  	<img src="/img/logos/cargo-burger.svg" width="120" alt="Cargo by Vertigo resteraunt food logo with burger Belfast Northern Ireland"/>
	                  </a>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</template>