/* Generated using nova-theme-generator.com */

:root {
    --transparent: transparent;
    --black: #1D252D;
    --white: white;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #e74444;
    --success: #21b978;
    --warning: #ffeb3b;
    --info: #03a9f4;
    --primary: #F6CF3C;
    --primary-dark: #C79700;
    --primary-70: rgba(246, 207, 60, 0.7);
    --primary-50: rgba(246, 207, 60, 0.5);
    --primary-30: rgba(246, 207, 60, 0.3);
    --primary-10: rgba(246, 207, 60, 0.1);
    --logo: ;
    --sidebar-icon: #b3c1d1;
    --20: rgb(238, 241, 244);
    --30: rgb(207, 215, 224);
    --40: rgb(176, 190, 204);
    --50: rgb(145, 164, 184);
    --60: rgb(114, 139, 164);
    --70: rgb(89, 113, 138);
    --80: rgb(69, 88, 107);
    --90: rgb(49, 62, 76);
    --90-half: rgba(40, 54, 61, 0.5);
}

.bg-grad-sidebar {
  background-color: #1D252D;
  background-image: none !important;
}

.bg-40{
  background-color: #1D252D;
}