<template>
	<header id="titanic-header" class="container-fluid position-relative full-height bg bg-down-up z-3">
	  <div id="titanic-slider" class="slideshow">
      <div class="slideshow-image home-inflatable-titanic"> </div>
	    <div class="slideshow-image home-indoor-skydiving"></div>
	    <div class="slideshow-image home-ninja"></div>
      <div class="slideshow-image inflatable-titanic"></div>
      <div class="slideshow-image titanic-ninja"></div>
	    <div class="cut"></div>
	  </div>
    <div id="titanic-slider-info" class="slideshow" data-ride="carousel">
      <div class="header-info">
        <div class="container container-wide full-height">
          <div class="d-table w-100 h-100">
            <div class="d-table-cell w-100 h-100 align-middle mob-pl-4">
              <p class="box-title-top text-primary text-uppercase">We Are Vertigo</p>
              <h1 class="mob-mt-0 page-title">Titanic<br/>Quarter</h1>
              <p><b>Indoor Skydiving, Inflatable Park & Ninja Master Course</b></p>
              <button type="button" class="btn btn-primary btn-icon" onclick="RollerCheckout.show()">Book Now <i class="custom-icon chevron-double-right"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-indicators">
        <div class="container container-wide position-relative px-0">
          <span class="slide-indicator" :class="slideNumber == 0 ? 'active' : 'not-active'"></span>
          <span class="slide-indicator" :class="slideNumber == 1 ? 'active' : 'not-active'"></span>
          <span class="slide-indicator" :class="slideNumber == 2 ? 'active' : 'not-active'"></span>
          <span class="slide-indicator" :class="slideNumber == 3 ? 'active' : 'not-active'"></span>
          <span class="slide-indicator" :class="slideNumber == 4 ? 'active' : 'not-active'"></span>
        </div>
      </div>
    </div>
	  <top-details></top-details>
	</header>
</template>
<script>
  export default {
    data() {
      return {
        slideNumber: 0,
        interval: 6000,
        slides: 4,
      }
    },
    mounted(){
      var app = this;
      window.setInterval(function(){
        if(app.slides > app.slideNumber){
          app.slideNumber++;
        }else{
          app.slideNumber = 0;
        }
      },app.interval);
    }
  }
</script>
<style lang="scss">
$items: 5;
$animation-time: 6s;
$transition-time: .5s;
$scale: 20%;
$total-time: ($animation-time * $items);
$scale-base-1: (1 + $scale / 100%);
#titanic-header{
  min-height: 850px;
  .full-height{
    min-height: 850px;
  }
}
#titanic-slider{
	position: absolute;
	width: 100%;
	height: 100%;
  top:0;
  left: 0;
  z-index: 1;
	overflow: hidden;
	.slideshow-image {
	  position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: kenburns;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: $total-time;
    opacity: 1;
    transform: scale($scale-base-1);
    @for $i from 1 through $items {
      &:nth-child(#{$i}) {
        animation-name: kenburns-#{$i};
        z-index: ($items - $i);
      }
    }
	}
}
#titanic-slider-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  .slide-indicators{
    position: absolute;
    top: calc(50% - 150px);
    left: -1.5rem;
    width: 100%;
    margin: auto;
    .slide-indicator{
      height: 30px;
      width: 8px;
      background-color: #fff;
      margin-bottom: 7px;
      display: block;
      &.active{
        background-color: #F6CF3C;
      }
    }
  }
  .header-info{
    position: absolute;
    background-color: rgba(29,37,45,0.5);
    width: 100%;
    height: 100%;
    h2{
      font-size: 11rem;
      letter-spacing: 1px;
      line-height: 0.9;
    }
    p{
      &.home-title-top{
        font-family: Tungsten, sans-serif;
        color: #F6CF3C;
        font-size: 2.5rem;
        margin-bottom: 0;
      }
    }
  }
}
@for $i from 1 through $items {
  @keyframes kenburns-#{$i} {
    $animation-time-percent: percentage($animation-time / $total-time);
    $transition-time-percent: percentage($transition-time / $total-time);
    
    $t1: ($animation-time-percent * ($i - 1) - $transition-time-percent / 2);
    $t2: ($animation-time-percent * ($i - 1) + $transition-time-percent / 2);
    @if($t1 < 0%) { $t1: 0%; }
    @if($t2 < 0%) { $t2: 0%; }

    $t3: ($animation-time-percent * ($i) - $transition-time-percent / 2);
    $t4: ($animation-time-percent * ($i) + $transition-time-percent / 2);
    @if($t3 > 100%) { $t3: 100%; }
    @if($t4 > 100%) { $t4: 100%; }

    $t5: (100% - $transition-time-percent / 2);
    $t6: (($t4 - $t1) * 100% / $t5);

    #{$t1} { opacity: 1; transform: scale($scale-base-1); }
    #{$t2} { opacity: 1; }
    #{$t3} { opacity: 1; }
    #{$t4} { opacity: 0; transform: scale(1); }
    
    @if($i != $items) {
      100% { opacity: 0; transform: scale($scale-base-1); }
    }
    
    @if($i == 1) {
      $scale-plus: ($scale * (100% - $t5) / $t4);
      $scale-plus-base-1: (1 + ($scale + $scale-plus) / 100%);
    
      #{$t5} { opacity: 0; transform: scale($scale-plus-base-1); }
      100% { opacity: 1; }
    }
  }
}
@media only screen and (max-width : 767px){
  #titanic-header{
    min-height: 700px;
    height: 700px;
    .full-height{
      min-height: 700px;
      height: 700px;
    }
  }
	#titanic-slider{
		.slideshow-image {
      img{
        right: -70vw;
      }
		}
	}
  #titanic-slider-info{
    .header-info{
      h2{
        font-size: 19vw;
      }
      p{
        &.home-title-top{
          margin-top: -17vw;
          font-size: 6vw;
        }
      }
    }
    .slide-indicators{
      left: 4vw;
      top:calc(50% - 28vw);
      .slide-indicator{
        height: 5vw;
        width: 1vw;
      }
    }
  }
}
</style>