<template>
	<div class="modal fade mx-auto" id="superchargeModal" tabindex="-1" role="dialog" aria-labelledby="superchargeModalTitle" aria-hidden="true">
	  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
	    <div class="modal-content">
       <picture>
	        <source srcset="/img/offers/highstreet-modal.webp?v2.0" type="image/webp"/> 
	        <source srcset="/img/offers/highstreet-modal.jpg?v2.0" type="image/png"/> 
	        <img src="/img/offers/highstreet-modal.jpg?v2.0" type="image/png" alt="Supercharge High street Voucher We are Vertigo Belfast" class="lazy h-auto d-none d-lg-block w-100" width="300" />
	      </picture>
	      <picture>
	        <source srcset="/img/offers/highstreet-modal-mob.webp?v2.0" type="image/webp"/> 
	        <source srcset="/img/offers/highstreet-modal-mob.jpg?v2.0" type="image/png"/> 
	        <img src="/img/offers/highstreet-modal-mob.jpg?v2.0" type="image/png" alt="Supercharge High street Voucher We are Vertigo Belfast" class="lazy h-auto d-lg-none w-100" width="300" />
	      </picture>
	      <div class="row justify-content-center my-3">
<!-- 	      	<div class="col-lg-6">
		        <a href="/supercharge-highstreet-voucher">
		          <button type="button" class="btn btn-primary mb-2 mt-4 w-100 supercharge-highstreet-voucher-btn">purchase with Spend local card</button>
		        </a>
		      </div> -->
		      <div class="col-lg-6">
		        <a href="/gift-vouchers#bookonline">
		          <button type="button" class="btn btn-primary mb-2 mt-4 mob-mt-0 w-100 gift-vouchers-btn">purchase with credit/debit card</button>
		        </a>
		      </div>
		    </div>
	      <div class="btn-text cursor-pointer text-center d-block w-100 mb-5 position-relative z-200" data-dismiss="modal">[X] Close</div>
	      <div class="btn-text cursor-pointer text-center z-200 d-md-none close-modal" data-dismiss="modal" style="position: absolute; top:1rem;left: 1rem;z-index: 200; font-size: 25px;" ><i class="fa fa-times"></i></div>
	    </div>
	  </div>
	</div>
</template>
<script>
	export default {
		mounted(){
			$('#superchargeModal').modal('show');
		  $('.close-modal').click(function(){
		    $('#superchargeModal').modal('hide');
		  });
		}
	}
</script>