<style lang="scss">
  .search-form{
    margin-top: -50px;
  }
</style>
<template>
  <div class="container position-relative z-2">
    <div class="row">
      <offers-show :posts="offers" :loadmore="loadmore" @loadmore="loadMore()"></offers-show>
    </div>
  </div>  
</template>
<script>
export default {
  data() {
    return {
      category: '*',
      errors: {},
      success: false,
      loaded: true,
      offers: [],
      limit: 8,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getOffers();
  },
  methods: {
    loadMore(){
      this.page++;
      this.moreOffers();
    },
    moreOffers(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/offers-and-discounts/get?limit=' + this.limit + '&page=' + page).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.offers.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.offers);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
    getOffers(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/offers-and-discounts/get?limit=' + this.limit + '&page=' + page).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.offers = response.data.data;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          console.log(this.response);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
  },
}
</script>