<template>
	<div class="modal fade mx-auto" id="superchargeModal" tabindex="-1" role="dialog" aria-labelledby="superchargeModalTitle" aria-hidden="true">
	  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
	    <div class="modal-content">
	       <picture>
		        <source srcset="/img/offers/supercharge-modal.webp" type="image/webp"/> 
		        <source srcset="/img/offers/supercharge-modal.jpg" type="image/png"/> 
		        <img src="/img/offers/supercharge-modal.jpg" type="image/png" alt="Supercharge High street Voucher We are Vertigo Belfast" class="lazy h-auto d-none d-lg-block w-100" width="300" />
		      </picture>
		      <picture>
		        <source srcset="/img/offers/supercharge-modal-mob.webp" type="image/webp"/> 
		        <source srcset="/img/offers/supercharge-modal-mob.jpg" type="image/png"/> 
		        <img src="/img/offers/supercharge-modal-mob.jpg" type="image/png" alt="Supercharge High street Voucher We are Vertigo Belfast" class="lazy h-auto d-lg-none w-100" width="300" />
		      </picture>
	        <a href="/gift-vouchers#bookonline">
	          <button type="button" class="btn btn-primary btn-icon mb-2 mt-4">Get yours now <i class="custom-icon chevron-double-right"></i></button>
	        </a>
	      <div class="btn-text cursor-pointer text-center d-block w-100 mb-5 position-relative z-200" data-dismiss="modal">[X] Close</div>
	      <div class="btn-text cursor-pointer text-center z-200 d-md-none close-modal" data-dismiss="modal" style="position: absolute; top:1rem;left: 1rem;z-index: 200; font-size: 25px;" ><i class="fa fa-times"></i></div>
	    </div>
	  </div>
	</div>
</template>
<script>
	export default {
		mounted(){
			$('#superchargeModal').modal('show');
		  $('.close-modal').click(function(){
		    $('#superchargeModal').modal('hide');
		  });
		}
	}
</script>