// Desktop lg
@media only screen and (min-width: 992px) and (max-width : 1199px){
	.lg-pl-5{
		padding-left:3rem;
	}
}

// Desktop
@media only screen and (min-width : 1240px){
	.container-wide{
		max-width: 1200px;
	}
}
@media only screen and (max-width : 1200px){
  .container-wide{
    max-width: 100%;
  }
}
@media only screen and (max-width : 1300px){
  .activity-preview{
    .preview-box{
      right: 1rem;
      p.mimic-h1{
        font-size: 3.5rem;
        width: 56%;
      }
      p.activity-summary{
        font-size: 1.2rem;
      }
    }
    &.odd{
      margin-left: auto;
      margin-right: 0;
      .preview-box{
        left: 1rem;
        right: auto;
      }
      .activity-image {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}

// Desktop
@media only screen and (min-width : 1340px){
	.container-wide{
		max-width: 1300px;
	}
}

// Desktop
@media only screen and (min-width : 1440px){
	.container-wide{
		max-width: 1400px;
	}
}

@media only screen and (max-width : 1500px){
  .activity-preview{
    position: relative;
    width: 100%;
    .preview-box{
      top: calc(50% - 288px);
      width: 527px;
      height: auto;
      right: 3rem;
      p.mimic-h1{
        font-size: 3.5rem;
        width: 56%;
      }
      p.activity-summary{
        font-size: 1.2rem;
      }
    }
    .activity-image {
      width: 1000px;
      img{
        width: 1000px;
      }
    }
    &.odd{
      margin-left: auto;
      margin-right: 0;
      .preview-box{
        left: 3rem;
        right: auto;
      }
      .activity-image {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}

// Desktop
@media only screen and (min-width : 1540px){
	.container-wide{
		max-width: 1500px;
	}
}

// Desktop
@media only screen and (min-width : 992px) and  (max-height : 740px){
  #home-section-1{
    padding-top: 60px;
  }
}
@media only screen and (min-width : 992px) and  (max-height : 700px){
  #home-section-1{
    padding-top: 100px;
  }
}
@media only screen and (min-width : 992px) and  (max-height : 677px){
  #home-section-1{
    padding-top: 150px;
  }
}