@media only screen and (max-width : 767px){
	.no-webp{
		.birthdays-3for2-1{
		  background-image: url('/img/offers/birthdays/birthdays-home-mob.jpg');
		}
		.home-indoor-skydiving{
			background-image: url('/img/bg/home-indoor-skydiving-mob.jpg?v1.0');
		}
		.home-inflatable-titanic{
			background-image: url('/img/bg/home-inflatable-titanic-mob.jpg');
		}
		.inflatable-titanic{
			background-image: url('/img/locations/inflatable-titanic-mob.jpg');
		}
		.home-inflatable-newtownbreda{
			background-image: url('/img/bg/home-inflatable-newtownbreda-mob.jpg');
		}
		.home-ninja{
			background-image: url('/img/bg/home-ninja-mob.jpg');
		}
		.titanic-ninja{
			background-image: url('/img/locations/ninja-titanic-mob.jpg');
		}
		.home-adventure{
			background-image: url('/img/bg/home-adventure-mob-2.jpg');
		}
		.cargo-top{
			background-image: url('/img/cargo/cargo-top-mob.jpg?v3.0');
		}
		.cargo-top-2{
			background-image: url('/img/cargo/cargo-top-2-mob.jpg');
		}
		.cargo-top-3{
			background-image: url('/img/cargo/cargo-top-3-mob.jpg');
		}
		.cargo-top-4{
			background-image: url('/img/cargo/cargo-top-4-mob.jpg');
		}
		.titanic-top{
			background-image: url('/img/locations/titanic-mob.jpg');
		}
		.newtownbreda1{
			background-image: url('/img/locations/newtownbreda1-mob.jpg');
		}
		.newtownbreda2{
			background-image: url('/img/locations/newtownbreda2-mob.jpg');
		}
		.newtownbreda3{
			background-image: url('/img/locations/newtownbreda3-mob.jpg');
		}
		.cargo-video-header{
			background-image: url('/vid/cargo-video-poster-mob.jpg');
		}
		#cargo-top{
			&.hideout-rb-header{
				background-image: url('/img/cargo/events/hideout/hideout-bg.jpg') !important;
				background-size: cover !important;
				background-position: center center !important;
				background-repeat: no-repeat !important;
			}
		}
		.monster-mash-top{
			background-image: url('/img/home/monster-mash-mob.jpg') !important;
		}
		.birthdays-3for2-home{
		  background-image: url('/img/offers/birthdays/birthdays-cover-mob.jpg');
		}
	}
	.webp{
		.birthdays-3for2-1{
		  background-image: url('/img/offers/birthdays/birthdays-home-mob.webp');
		}
		.home-indoor-skydiving{
			background-image: url('/img/bg/home-indoor-skydiving-mob.webp?v1.0');
		}
		.home-inflatable-titanic{
			background-image: url('/img/bg/home-inflatable-titanic-mob.webp');
		}
		.inflatable-titanic{
			background-image: url('/img/locations/inflatable-titanic-mob.webp');
		}
		.home-inflatable-newtownbreda{
			background-image: url('/img/bg/home-inflatable-newtownbreda-mob.webp');
		}
		.home-ninja{
			background-image: url('/img/bg/home-ninja-mob.webp');
		}
		.titanic-ninja{
			background-image: url('/img/locations/ninja-titanic-mob.webp');
		}
		.home-adventure{
			background-image: url('/img/bg/home-adventure-mob-2.webp');
		}
		.cargo-top{
			background-image: url('/img/cargo/cargo-top-mob.webp?v3.0');
		}
		.cargo-top-2{
			background-image: url('/img/cargo/cargo-top-2-mob.webp');
		}
		.cargo-top-3{
			background-image: url('/img/cargo/cargo-top-3-mob.webp');
		}
		.cargo-top-4{
			background-image: url('/img/cargo/cargo-top-4-mob.webp');
		}
		.titanic-top{
			background-image: url('/img/locations/titanic-mob.webp');
		}
		.newtownbreda1{
			background-image: url('/img/locations/newtownbreda1-mob.webp');
		}
		.newtownbreda2{
			background-image: url('/img/locations/newtownbreda2-mob.webp');
		}
		.newtownbreda3{
			background-image: url('/img/locations/newtownbreda3-mob.webp');
		}
		.cargo-video-header{
			background-image: url('/vid/cargo-video-poster-mob.webp');
		}
		#cargo-top{
			&.hideout-rb-header{
				background-image: url('/img/cargo/events/hideout/hideout-bg.webp') !important;
				background-size: cover !important;
				background-position: center center !important;
				background-repeat: no-repeat !important;
			}
		}
		.monster-mash-top{
			background-image: url('/img/home/monster-mash-mob.webp') !important;
		}
		.birthdays-3for2-home{
		  background-image: url('/img/offers/birthdays/birthdays-cover-mob.webp');
		}
	}
	#cargo-oneoff-event-top{
		background-image: none !important;
		min-height: 100vh;
    height: auto !important;
    background: none !important;
    .h-100{
      height: auto !important
    }
    #cargo-top-menu-btn{
      margin-top: -30px;
    }
    .full-height{
      min-height: 100vh;
    }
    .cargo-top-logo{
      width: 100%;
    }
    .res-diary-holder{
      width: 100%;
      height: auto;
      float: none;
      .res-diary-inner{
        width: 100%;
        height: auto;
        max-height: 1000000px;
        min-height: 651px;
        overflow: visible;
      }
    }
    .cut{
      display: none;
    }
    #cargo-top-overlay{
      position:relative;
      top: auto;
      left: auto;
      height: auto;
      width: auto;
    }
	}
	.home-full-height {
	  min-height: 700px !important;
	}
	body h1.activities-xmas-title:after{
		top: -10vw;
    right: 0;
    width: 8vw;
	}
	body {
		h1{
			font-size: 11vw;
			font-weight: 700;
    	line-height: 1;
			&.page-top{
		    font-size: 11vw;
		    line-height: 1;
			}
			&.blog-title{
				font-size: 11vw;
			}
			&.page-title{
				font-size: 18vw;
			}
			&.page-title-small{
				font-size: 18vw;
			}
			&.page-title-smaller{
				font-size: 15vw;
			}
		}
		h2 {
	    font-size: 10vw;
	    line-height: 1;
	    &.mob-text-h2{
	    	font-size: 15vw;
	    	line-height: 1;
	    }
	    &.mob-text-h2-smaller{
	    	font-size: 12vw;
	    	line-height: 1;
	    }
		}
		h3{	
	    font-size: 5.5vw;
	    line-height: 1;
	    &.mob-text-large{
	    	font-size:8.5vw;
	    }
		}
		h4{
			font-size: 5.5vw;
		}
		p{
			font-size: 4vw;
			line-height: 1.6;
			&.mimic-h1{
				font-size: 14vw;
    		line-height: 0.9;
			}
			&.mimic-h2{
				font-size: 12vw;
			}
			&.mimic-h3{
				font-size: 8vw;
			}
			&.text-small{
				font-size: 3.5vw;
			}
			&.text-larger{
				font-size: 4.8vw;
			}
			&.text-large {
		    font-size: 4.7vw;
			}
			&.text-smallest{
				font-size: 2.5vw;
			}
			&.testimonial-text{
				font-size: 11vw;
			}
			&.testimonial-title{
				font-size: 7vw;
			}
			&.mob-text-smaller{
				font-size: 3.8vw;
			}
		}
	}
	.faq-question{
		font-size: 4vw;
		ul li{
			font-size: 4vw;
		}
	}
	.full-height{
		&.mob-fixed{
			min-height: 700px;
    	height: 700px;
		}
  }
	.button-after{
		padding-left: 2rem !important;
	}
	.mob-shadow{
		@include menuBoxShadow();
	}
	.form-control{
		font-size: 16px;
	}
	.bg-fixed{
		background-attachment: initial;
	}
	.mob-overflow-hidden{
		overflow: hidden;
	}
	.menu{
		.menu_logo{
			width: 35vw !important;
		}
		.menu-links{
			.menu-item{
				i{
					font-size: 8vw;
					margin-right: 40px;
				}
			}
		}
	}
	#main-menu-top{
		display: none;
	}
	#scroll-menu{
		.menu_logo{
			width: 35vw !important;
		}
	}
	.scroll-btn{
		left: 1rem;
	}
	.scroll-btn-wrap{
		left: 1rem;
	}
	.mob-bg-cover{
		background-size: cover !important;
	}
	.home-box{
		min-height: 165px;
	}
	.scroller{
		display: none;
	}
	.related-box .related-box-inner h4{
		font-size: 10vw;
		line-height: 10vw;
	}
	.short-height{
		height: 340px;
	}
	.mob-p-0{
		padding: 0 !important;
	}
	.mob-p-3{
		padding: 1rem !important;
	}
	.mob-p-4{
		padding: 1.5rem !important;
	}
	.mob-pl-0{
		padding-left: 0 !important;
	}
	.mob-pl-3{
		padding-left: 1rem !important;
	}
	.mob-pl-4{
		padding-left: 1.5rem !important;
	}
	.mob-pl-5{
		padding-left: 3rem !important;
	}
	.mob-px-0{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.mob-px-1{
		padding-left: 0.75rem !important;
		padding-right: 0.75rem !important;
	}
	.mob-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.mob-px-4{
		padding-left: 1.5rem !important;
		padding-right: 1.5rem !important;
	}
	.mob-px-5{
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}
	.mob-pr-1{
		padding-right: 1rem !important;
	}
	.mob-pr-3{
		padding-right: 1rem !important;
	}
	.mob-pr-4{
		padding-right: 1.5rem !important;
	}
	.mob-pr-5{
		padding-right: 3rem !important;
	}
	.mob-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.mob-py-1{
		padding-top: 0.35rem !important;
		padding-bottom: 0.35rem !important;
	}
	.mob-py-2{
		padding-top: 0.5rem !important;
		padding-bottom: 0.5rem !important;
	}
	.mob-py-3{
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
	.mob-py-4{
		padding-top: 1.5rem !important;
		padding-bottom: 1.5rem !important;
	}
	.mob-py-5{
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
	.mob-pb-0{
		padding-bottom: 0 !important;
	}
	.mob-pb-5{
		padding-bottom: 3rem !important;
	}
	.mob-pt-0{
		padding-top: 0 !important;
	}
	.mob-pt-1{
		padding-top: 0.25rem !important;
	}
	.mob-pt-2{
		padding-top: 0.5rem !important;
	}
	.mob-pt-3{
		padding-top: 1rem !important;
	}
	.mob-pt-4{
		padding-top: 1.5rem !important;
	}
	.mob-pt-5{
		padding-top: 3rem !important;
	}
	.mob-pb-3{
		padding-bottom: 1rem !important;
	}
	.mob-pb-4{
		padding-bottom: 1.5rem !important;
	}
	.mob-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.mob-mx-0{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mob-my-0{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.mob-my-3{
		margin-top: 1rem !important;
		margin-bottom: 1rem !important;
	}
	.mob-my-4{
		margin-top: 2rem !important;
		margin-bottom: 2rem !important;
	}
	.mob-mb-0{
		margin-bottom: 0 !important;
	}
	.mob-mb-1{
		margin-bottom: 0.5rem !important;
	}
	.mob-mb-2{
		margin-bottom: 0.75rem !important;
	}
	.mob-mb-3{
		margin-bottom: 1rem !important;
	}
	.mob-mb-4{
		margin-bottom: 1.5rem !important;
	}
	.mob-mb-5{
		margin-bottom: 3rem !important;
	}
	.mob-mt-0{
		margin-top: 0 !important;
	}
	.mob-mt-2{
		margin-top: 0.5rem !important;
	}
	.mob-mt-3{
		margin-top: 1rem !important;
	}
	.mob-mt-4{
		margin-top: 2.3rem !important;
	}
	.mob-mt-5{
		margin-top: 3rem !important;
	}
	.mob-m-auto{
		margin: auto !important;
	}
	.mob-float-left{
		float: left !important;
	}
	.mob-float-none{
		float: none !important;
	}
	.mob-height-auto{
		height: auto !important;
	}
	.mob-btn-full{
		width: 100% !important;
		max-width: 100% !important;
	}
	.mob-text-center{
		text-align: center !important;
	}
	.btn-inline{
		max-width: 115px;
	}
	.line{
		&.mob-line-center{
			span{
				float: none !important;
				margin: auto !important;
			}
		}
	}
	.home-chevrons-left-1 {
    left: -40vw;
    bottom: -50vw;
    width: 100vw;
    height: 100vw;
	}
	.home-chevrons-left-2{
		left: -40vw;
    top: 12vw;
    width: 100vw;
    height: 100vw;
    z-index: 0;
	}
	.button-after{
    width: 260px;
    display: block;
    margin: auto;
    text-align: left;
	}
	.home-chevrons-right-1 {
    right: -30vw;
    bottom: -10vw;
    width: 100vw;
    height: 100vw;
	}
	.backdrop{
	  .backdrop-content{
	    width: calc(100% - 0.5rem) !important;
	  }
	  .backdrop-back{
	    width: calc(100% - 0.5rem);
	  }
	}
	.activity-preview{
    width: 100%;
    min-height: 0px;
    .activity-image{
      width: 100%;
      height: auto;
      img{
        width: 100%;
        height: auto;
      }
    }
    .preview-box{
      position:relative;
      width: calc(100vw - 2rem);
      margin-left: 4rem;
      margin-top: -10vw;
      padding-top: 2rem !important;
      p.mimic-h1{
        font-size: 11vw;
        width: 100%;
      }
      p.box-title-top{
        font-size: 5vw;
      }
      p.activity-summary{
        font-size: 4vw;
      }
    }
    &.odd{
      margin-left: auto;
      margin-right: auto;
      .preview-box{
        left: auto;
        right: auto;
        margin-left: 1rem;
      }
      .activity-image {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  input.form-control{
		height: 50px;
	}
	.g-recaptcha{
		margin-left: calc(50% - 117px);
	}
	#home-second-slider,
	#home-cargo{
		.owl-theme .owl-dots{
	    margin: auto;
	    width: 80vw;
	    left: -35vw;
			.owl-dot span{
				width: 24px;
				height: 6px;
				margin: 3px;
			}
		}
	}
	.faq-btn{
	  bottom: 0.75rem;
	  right: 0.75rem;
	  font-size: 1.2rem;
	  padding: 0.8rem;
	  width: 50px;
	  height: 50px;
	}
	.btn{
    max-width: 220px;
    min-width: 220px;
    padding: 10px 15px;
    height: 50px;
    font-size: 22px;
    &.btn-icon{
    	i{
    		font-size: 18px;
    		top: 17px !important;
    		&.custom-icon{
    			width: 1rem;
    			height: 1rem;
    			top: 19px !important;
    			&.chevron-double-up,
    			&.chevron-double-down,
    			&.chevron-double-up-white,
    			&.chevron-double-down-white{
    				top: 17px !important;
    			}
    		}
    	}
    	img.custom-icon {
		    width: 1rem;
		    height: 1rem;
		    top: 18px !important;
			}
			&:hover,
			&:focus{
				i{
	    		font-size: 18px;
	    		top: 17px !important;
	    		&.custom-icon{
	    			width: 1rem;
	    			height: 1rem;
	    			top: 19px !important;
	    			&.chevron-double-up,
	    			&.chevron-double-down,
	    			&.chevron-double-up-white,
	    			&.chevron-double-down-white{
	    				top: 17px !important;
	    			}
	    		}
	    	}
	    	img.custom-icon {
			    width: 1rem;
			    height: 1rem;
			    top: 18px !important;
				}
			}
    }
	}
	.ipad-height{
		height: 478px;
	}
	#rd-widget-root .btn{
    max-width: 37vw;
  }

  #event-resdiary-holder{
  	.res-diary-holder{
      width: 100%;
      height: auto;
      float: none;
      .res-diary-inner{
        width: 100%;
        height: auto;
        max-height: 1000000px;
        min-height: 651px;
        overflow: visible;
      }
    }
  }
  .cargo-events-logo-top{
  	width: 80vw !important;
  }
  #activities-banner{
  	p.text-one{
  		font-size: 3vw;
  	}
  	.custom-icon{
  		width: 3vw;
  		height: 3vw;
  		top: 9px;
  	}
  }
  .page-home{
  	.page-home-pt-0{
  		padding-top: 0 !important;
  	}
  }
  .top-chevrons-right{
  	&.christmas-snowflake{
  		right: -56%;
  		top: 100px;
  	}
  }
  .candy-canes{
  	top: -5rem;
    right: -1rem;
    width: 100px;
    transform: rotate(-25deg);
  }
  .activity-offer-card .offer-ribbon {
    top: -9px;
    left: -23px;
    width: 128px;
    z-index: 3;
	}
	.bubble-box{
		top: -90px;
		right: -10px;
	}
}
