<template>
	<form id="apply-form" @submit.prevent="submit" class="row half_row">
		<div class="form-group col-md-6 half_col mt-3">
			<label for="name" class="mb-1"><b>Name*</b></label>
			<input id="name" type="text" class="form-control" name="name" placeholder="Name*" v-model="fields.name" />
			<div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
		</div>
		<div class="form-group col-md-6 half_col mt-3">
			<label for="phone" class="mb-1"><b>Phone*</b></label>
			<input id="phone" type="text" class="form-control" name="phone" placeholder="Phone*" v-model="fields.phone" />
			<div v-if="errors && errors.phone" class="text-primary">{{ errors.phone[0] }}</div>
		</div>
		<div class="form-group col-lg-6 half_col mt-3">
			<label for="email" class="mb-1"><b>Email Address*</b></label>
			<input id="email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email" />
			<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
		</div>
		<div class="form-group col-lg-6 half_col mt-3">
			<label for="role" class="mb-1"><b>Role you are interesred in*</b></label>
			<div class="select-holder">
				<select id="role" class="form-control" name="role" v-model="fields.role">
					<option value="*" selected="" disabled="">Please choose...</option>
					<option value="Assistant Site Manager">Assistant Site Manager</option>
					<option value="Group Bookings and Customer Communications advisor">Group Bookings and Customer Communications advisor</option>
					<option value="Reception/ Front Desk">Reception/ Front Desk</option>
					<option value="Crew Member">Crew Member</option>
					<option value="Catering">Catering</option>
					<option value="Party Host">Party Host</option>
				</select>
			</div>
			<div v-if="errors && errors.role" class="text-primary">{{ errors.role[0] }}</div>
		</div>
		<div class="form-group col-sm-12 half_col mt-4">
			<label for="role" class="mb-1"><b>Upload your CV*</b></label>
			<div class="cv-upload" @click="clickFileUpload">
				<div class="cv-upload-name">{{filename}}</div>
				<div class="cv-upload-btn">
					<p class="mb-0"><b>Add File</b></p>
					<p class="mb-0"><span class="caption">(.doc, .docx, .pdf)</span></p>
				</div>
			</div>
			<div class="file-input-holder">
				<input id="cv" type="file" name="cv" v-on:change="onFileChange"/>
			</div>
			<div v-if="errors && errors.cv" class="text-primary">{{ errors.cv[0] }}</div>
		</div>

		<div class="col-md-6 half_col mt-3">
			<div id="recaptcha-error" class="text-primary text-left"></div>
			<div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha" :data-theme="'dark'" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
		</div>
		<div class="col-md-6 half_col mt-3">
			<div class="row">
				<div class="col-12 text-center text-lg-end">
					<button id="submit" type="submit"  class="btn btn-primary btn-icon">Apply<i class="custom-icon chevron-double-right"></i></button>
				</div>
			</div>
		</div>
	</form>
</template>

<script>
	export default {
		props: {
			recaptcha: String,
			page: String,
			about: String,
		},
		data() {
			return {
				fields: {
					name: "",
					email: "",
					phone: "",
					role: '*',
					cv: '',
				},
				filename: 'Select a file to upload',
				errors: {},
				success: false,
				loaded: true,
			}
		},
		mounted(){
			var script = document.createElement('script');
			script.src = 'https://www.google.com/recaptcha/api.js';
			document.head.appendChild(script);
		},
		methods: {
			clickFileUpload(){
				document.getElementById('cv').click();
			},
			onFileChange(e){
        var files = e.target.files || e.dataTransfer.files;
        if (!files.length)
        return;
        var reader = new FileReader();
        reader.onload = (e) => {
          this.fields.cv = files[0];
        };
        reader.readAsDataURL(files[0]);
        this.filename = files[0].name;
      },
			messageSent(){
        this.fields = {};
      },
      changeCountry(value){
	  		this.fields.country = value;
	  	},
      submit() {
      	if (this.loaded && grecaptcha.getResponse().length > 0) {
      		document.getElementById('recaptcha-error').innerHTML = '';
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		let formData = new FormData();

      		document.getElementById("loader").classList.add("on");
          document.getElementById("loader-message").innerHTML = "Submitting CV";

          formData.append('cv', this.fields.cv);
          formData.append('name', this.fields.name);
          formData.append('email', this.fields.email);
          formData.append('phone', this.fields.phone);
          formData.append('role', this.fields.role);

      		axios.post('/submit-cv', formData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }).then(response => {
	          // Empty fields and enable success message
	          grecaptcha.reset();
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "CV submitted successfully";
            document.getElementById('close-loader-btn').classList.remove('d-none');
						document.getElementById('close-loader-btn').classList.add('d-block');
						document.getElementById('loader-roller').classList.remove('d-block');
						document.getElementById('loader-roller').classList.add('d-none');
						document.getElementById('loader-success').classList.remove('d-none');
						document.getElementById('loader-success').classList.add('d-block');
						document.getElementById('enquire_modal').style.display = 'none';
	        })
      		.catch(error => {
	         // Error handling
	         console.log(error.response);
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		document.getElementById('recaptcha-error').innerHTML = 'Please confirm you are not a robot.';
      	}
      },
    },
  }
</script>
<style lang="scss">
	#apply-form{
		.form-control{
			background-color: #fff;
		}
	}
.file-input-holder{
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
}
	.cv-upload{
	width: 100%;
	height: 50px;
	border: 1px solid #F6CF3C;
	position: relative;
	cursor: pointer;
	.cv-upload-name{
		position: absolute;
		left: 0;
		font-size: 16px;
		padding: 0.7rem 1rem 0;
		height: 48px;
		text-align: left;
		cursor: pointer;
		width: calc(100% - 150px);
	}
	.cv-upload-btn{
		position: absolute;
		right: 0;
		background-color: #F6CF3C;
		color: #1D252D;
		font-size: 16px;
		padding: 0.7rem 1rem 0;
		height: 48px;
		cursor: pointer;
		p{
			font-size: 0.8rem;
			line-height: 0.8rem;
			cursor: pointer;
		}
	}
}
</style>