<template>
	<form id="party-form" @submit.prevent="submit" class="row half_row">
		<div class="form-group col-md-6 half_col">
			<label for="name" class="mb-1 text-dark"><b>Name*</b></label>
			<input id="name" type="text" class="form-control" name="name" placeholder="Name*" v-model="fields.name" />
			<div v-if="errors && errors.name" class="text-error">{{ errors.name[0] }}</div>
		</div>
		<div class="form-group col-md-6 half_col">
			<label for="phone" class="mb-1 text-dark"><b>Phone*</b></label>
			<input id="phone" type="text" class="form-control" name="phone" placeholder="Phone*" v-model="fields.phone" />
			<div v-if="errors && errors.phone" class="text-error">{{ errors.phone[0] }}</div>
		</div>
		<div class="form-group col-12 half_col">
			<label for="email" class="mb-1 text-dark"><b>Email Address*</b></label>
			<input id="email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email" />
			<div v-if="errors && errors.email" class="text-error">{{ errors.email[0] }}</div>
		</div>
		<div class="form-group col-md-6 half_col">
			<label for="company" class="mb-1 text-dark"><b>Company/Organisation  (if applicable)</b></label>
			<input id="company" type="text" class="form-control" name="company" placeholder="Company/Organisation" v-model="fields.company" />
			<div v-if="errors && errors.company" class="text-error">{{ errors.company[0] }}</div>
		</div>
		<div class="form-group col-lg-6 half_col">
			<label for="heard" class="mb-1 text-dark"><b>How did you hear about us?</b></label>
			<div class="select-holder">
				<select id="heard" class="form-control" name="heard" v-model="fields.heard">
					<option value="*" selected="" disabled="">Please choose...</option>		 
					<option value="Existing Customer">Existing Customer</option>			 
					<option value="Friends/Family Recommendation">Friends/Family Recommendation</option>			 
					<option value="Facebook">Facebook</option>				 
					<option value="Instagram">Instagram</option>				 
					<option value="Email Newsletter">Email Newsletter</option>				 
					<option value="Google Search ">Google Search </option>				 
					<option value="Radio Advertisement">Radio Advertisement</option>
					<option value="Other">Other</option>
				</select>
			</div>
			<div v-if="errors && errors.heard" class="text-error">{{ errors.heard[0] }}</div>
		</div>
		<div class="form-group col-12 half_col mb-4">
			<label for="message" class="mb-1 text-dark"><b>Message</b></label>
			<textarea id="message" type="text" class="form-control" name="message" placeholder="Message*" rows="4" v-model="fields.message"></textarea>
			<div v-if="errors && errors.message" class="text-error">{{ errors.message[0] }}</div>
		</div>
		<div class="col-md-6 half_col">
			<div id="recaptcha-error" class="text-error text-left"></div>
			<div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha" :data-theme="'dark'" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
		</div>
		<div class="col-md-6 half_col">
			<div class="row">
				<div class="col-12 text-center text-lg-right">
					<input id="subject" type="hidden" class="form-control" name="subject" v-model="fields.subject" />
					<button id="submit" type="submit"  class="btn btn-black btn-icon">Send message <i class="fa fa-envelope"></i></button>
				</div>
			</div>
		</div>
	</form>
</template>

<script>
	export default {
		props: {
			recaptcha: String,
			page: String,
			about: String,
		},
		data() {
			return {
				fields: {
					country: "",
					heard: '*',
					subject:this.page,
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		mounted(){
			$.getScript("https://www.google.com/recaptcha/api.js");
		},
		methods: {
			messageSent(){
        this.fields = {};
        this.fields.heard = '*';
      },
      changeCountry(value){
	  		this.fields.country = value;
	  	},
      submit() {
      	if (this.loaded && grecaptcha.getResponse().length > 0) {
      		$('#recaptcha-error').html('');
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Sending Enquiry";

      		axios.post('/send-christmas-enquiry', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          grecaptcha.reset();
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Enquiry sent successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	          $('#enquire_modal').modal('hide');
	        })
      		.catch(error => {
	         // Error handling
	         console.log(error.response);
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>