<template>
	<form id="party-form" @submit.prevent="submit" class="row half_row">
		<div class="form-group col-md-6 half_col">
			<label for="name" class="mb-1 text-dark"><b>Name*</b></label>
			<input id="name" type="text" class="form-control" name="name" placeholder="Name*" v-model="fields.name" />
			<div v-if="errors && errors.name" class="text-error">{{ errors.name[0] }}</div>
		</div>
		<div class="form-group col-md-6 half_col">
			<label for="phone" class="mb-1 text-dark"><b>Phone*</b></label>
			<input id="phone" type="text" class="form-control" name="phone" placeholder="Phone*" v-model="fields.phone" />
			<div v-if="errors && errors.phone" class="text-error">{{ errors.phone[0] }}</div>
		</div>
		<div class="form-group col-lg-6 half_col">
			<label for="email" class="mb-1 text-dark"><b>Email Address*</b></label>
			<input id="email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email" />
			<div v-if="errors && errors.email" class="text-error">{{ errors.email[0] }}</div>
		</div>
		<div class="form-group col-lg-6 half_col">
			<label for="date" class="mb-1 text-dark"><b>Preferred Date*</b></label>
			<input id="date" type="date" class="form-control" name="date" placeholder="Preferred Date*" v-model="fields.date" />
			<div v-if="errors && errors.date" class="text-error">{{ errors.date[0] }}</div>
		</div>
		<!-- <div class="form-group col-lg-6 half_col">
			<label for="heard" class="mb-1 text-dark"><b>How did you hear about us?</b></label>
			<div class="select-holder">
				<select id="heard" class="form-control" name="heard" v-model="fields.heard">
					<option value="*" selected="" disabled="">Please choose...</option>		 
					<option value="Facebook">Facebook</option>			 
					<option value="Q Radio">Q Radio</option>			 
					<option value="Cool FM">Cool FM</option>				 
					<option value="U105">U105</option>				 
					<option value="LMFM">LMFM</option>				 
					<option value="Snapchat">Snapchat</option>				 
					<option value="Newsletter">Newsletter</option>
					<option value="Internet Search">Internet Search</option>
					<option value="Family/Friends told me">Family/Friends told me</option>
					<option value="TV advertisement">TV advertisement</option>
					<option value="Cinema Ad">Cinema Ad</option>				 
					<option value="Outdoor screen/poster">Outdoor screen/poster</option>				 
					<option value="I'm an existing customer">I'm an existing customer</option>				 
					<option value="Advert on another website">Advert on another website</option>				 
					<option value="Promo van">Promo van</option>				 
					<option value="Tourist Operator">Tourist Operator</option>				 
					<option value="Youtube video">Youtube video</option>				 
					<option value="Leaflet">Leaflet</option>
					<option value="City Map">City Map</option>
					<option value="Other">Other</option>
				</select>
			</div>
			<div v-if="errors && errors.heard" class="text-error">{{ errors.heard[0] }}</div>
		</div> -->
		<div class="form-group col-12 half_col mb-4">
			<label for="message" class="mb-1 text-dark"><b>Message</b></label>
			<textarea id="message" type="text" class="form-control" name="message" placeholder="Message*" rows="4" v-model="fields.message"></textarea>
			<div v-if="errors && errors.message" class="text-error">{{ errors.message[0] }}</div>
		</div>
		<div class="col-md-6 half_col">
			<div id="recaptcha-error" class="text-error text-left"></div>
			<div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha" :data-theme="'dark'" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
		</div>
		<div class="col-md-6 half_col">
			<div class="row">
				<div class="col-12 text-center text-lg-right">
					<input id="subject" type="hidden" class="form-control" name="subject" v-model="fields.subject" />
					<button id="submit" type="submit"  class="btn btn-black btn-icon">Send message <i class="fa fa-envelope"></i></button>
				</div>
			</div>
		</div>
	</form>
</template>

<script>
	export default {
		props: {
			recaptcha: String,
			page: String,
			about: String,
		},
		data() {
			return {
				fields: {
					country: "",
					heard: '*',
					subject:this.page,
				},
				errors: {},
				success: false,
				loaded: true,
			}
		},
		mounted(){
			var script = document.createElement('script');
			script.src = 'https://www.google.com/recaptcha/api.js';
			document.head.appendChild(script);
		},
		methods: {
			messageSent(){
        this.fields = {};
        this.fields.heard = '*';
      },
      changeCountry(value){
	  		this.fields.country = value;
	  	},
      submit() {
      	if (this.loaded && grecaptcha.getResponse().length > 0) {
      		document.getElementById('recaptcha-error').innerHTML = '';

      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Sending Enquiry";

      		axios.post('/send-party-enquiry', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          grecaptcha.reset();
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Enquiry sent successfully";
            document.getElementById('close-loader-btn').classList.remove('d-none');
						document.getElementById('close-loader-btn').classList.add('d-block');
						document.getElementById('loader-roller').classList.remove('d-block');
						document.getElementById('loader-roller').classList.add('d-none');
						document.getElementById('loader-success').classList.remove('d-none');
						document.getElementById('loader-success').classList.add('d-block');
						document.getElementById('enquire_modal').style.display = 'none';
	        })
      		.catch(error => {
	         // Error handling
	         console.log(error.response);
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		document.getElementById('recaptcha-error').innerHTML = 'Please confirm you are not a robot.';
      	}
      },
    },
  }
</script>
<style lang="scss">
	#party-form{
		.form-control{
			background-color: #fff;
		}
	}
</style>