<template>
	<div>
		<div id="main-menu" class="menu">
      <div class="container-fluid px-5 mob-px-3 ipadp-px-3">
        <div class="row">
          <div class="col-lg-2 py-3 page-home-pt-0">
            <a href="/">
              <img src="/img/logos/logo.svg" class="menu_logo h-auto mt-2" alt="We are Vertigo Logo" width="126" height="38" />
            </a>
          </div>
          <div class="col-lg-10 text-end d-none d-lg-block mt-3">
            <div class="menu-top-links mb-2">
              <div class="menu-links d-inline-block">
                <a href="/work-for-us" class="menu-item cursor-pointer ml-0">Work for us</a>
              </div>
              <div class="menu-links d-inline-block menu-dropdown-holder">
                <span id="waiver-dropdown-trigger-1" class="menu-item cursor-pointer menu-dropdown-trigger">Sign Waiver</span>
                <div id="waiver-dropdown-1" class="menu-dropdown">
                  <a href="https://roller.app/wearevertigo/waiver/" target="_blank" aria-label="Inflatable Park Waiver" rel="noreferrer">Inflatable Park Waiver <i class="fa fa-angle-double-right ml-2"></i></a>
                  <a href="https://forms.roller.app/#/wearevertigo/53bc5364d77a447/form" target="_blank" aria-label="Indoor Skydiving Waiver" rel="noreferrer">Indoor Skydiving Waiver <i class="fa fa-angle-double-right ml-2"></i></a>
                  <a href="https://forms.roller.app/#/wearevertigo/f47a812b1de3434/form" target="_blank" aria-label="Ninja Master Course" rel="noreferrer">Ninja Master Course Waiver <i class="fa fa-angle-double-right ml-2"></i></a>
                  <span class="close-waiver-menu">Close X</span>
                </div>
              </div>
              <div class="menu-links d-inline-block">
                <!-- <a href="/birthdays" class="menu-item cursor-pointer text-primary">Birthdays</a> -->
                <a href="/gift-vouchers" class="menu-item cursor-pointer text-primary">Gift Vouchers</a>
              </div>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/activities" class="menu-item cursor-pointer">Activities</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/parties-and-groups" class="menu-item cursor-pointer">Parties & Groups</a>
            </div>
            <div class="menu-links d-inline-block ">
              <!-- <a href="/gift-vouchers" class="menu-item cursor-pointer">Gift Vouchers</a> -->
              <a href="/birthdays" class="menu-item cursor-pointer">Birthdays</a>
            </div>

            <div class="menu-links d-inline-block ">
              <a href="/offers-and-discounts" class="menu-item  cursor-pointer">Offers</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/help" class="menu-item cursor-pointer">Help</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/contact" class="menu-item cursor-pointer">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
		<div id="scroll-menu" class="menu d-none d-lg-block">
      <div class="container-fluid px-5">
        <div class="row">
          <div class="col-lg-2 py-3">
            <a href="/">
              <img src="/img/logos/logo.svg" class="menu_logo mt-2 h-auto" alt="wearevertigo Logo" width="126" height="38"/>
            </a>
          </div>
          <div class="col-lg-10 text-end d-none d-lg-block mt-3 pb-3">
            <div class="menu-top-links mb-2">
              <div class="menu-links d-inline-block">
                <a href="/work-for-us" class="menu-item cursor-pointer ml-0">Work for us</a>
              </div>
              <div class="menu-links d-inline-block menu-dropdown-holder">
                <span id="waiver-dropdown-trigger-2" class="menu-item cursor-pointer menu-dropdown-trigger">Sign Waiver</span>
                <div id="waiver-dropdown-2" class="menu-dropdown">
                  <a href="https://roller.app/wearevertigo/waiver/" target="_blank" aria-label="Inflatable Park Waiver" rel="noreferrer">Inflatable Park Waiver <i class="fa fa-angle-double-right ml-2"></i></a>
                  <a href="https://forms.roller.app/#/wearevertigo/53bc5364d77a447/form" target="_blank" aria-label="Indoor Skydiving Waiver" rel="noreferrer">Indoor Skydiving Waiver <i class="fa fa-angle-double-right ml-2"></i></a>
                  <a href="https://forms.roller.app/#/wearevertigo/f47a812b1de3434/form" target="_blank" aria-label="Ninja Master Course" rel="noreferrer">Ninja Master Course Waiver <i class="fa fa-angle-double-right ml-2"></i></a>
                  <span class="close-waiver-menu">Close X</span>
                </div>
              </div>
              <div class="menu-links d-inline-block">
                <!-- <a href="/birthdays" class="menu-item cursor-pointer text-primary">Birthdays</a> -->
                <a href="/gift-vouchers" class="menu-item cursor-pointer text-primary">Gift Vouchers</a>
              </div>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/activities" class="menu-item cursor-pointer">Activities</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/parties-and-groups" class="menu-item cursor-pointer">Parties & Groups</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/gift-vouchers" class="menu-item cursor-pointer">Gift Vouchers</a>
              <!-- <a href="/birthdays" class="menu-item cursor-pointer">Birthdays</a> -->
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/offers-and-discounts" class="menu-item cursor-pointer ">Offers & Discounts</a>
            </div>
             <div class="menu-links d-inline-block">
              <a href="/help" class="menu-item cursor-pointer">Help</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/contact" class="menu-item cursor-pointer ">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    mounted(){
      document.getElementById('waiver-dropdown-trigger-1').addEventListener('click', function() {
          document.getElementById('waiver-dropdown-1').classList.toggle('active');
      });

      document.querySelector('#waiver-dropdown-1 .close-waiver-menu').addEventListener('click', function() {
          document.getElementById('waiver-dropdown-1').classList.toggle('active');
      });

      document.getElementById('waiver-dropdown-trigger-2').addEventListener('click', function() {
          document.getElementById('waiver-dropdown-2').classList.toggle('active');
      });

      document.querySelector('#waiver-dropdown-2 .close-waiver-menu').addEventListener('click', function() {
          document.getElementById('waiver-dropdown-2').classList.toggle('active');
      });

    }
  }
</script>
<style lang="scss">
$primary: #F6CF3C; 
$darkgrey: #1D252D;
$white: #fff;
$title: Tungsten, sans-serif;
$body: Gotham, sans-serif;
@mixin menuBoxShadow(){
  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
}

.menu-dropdown-holder .dropdown-menu{ display: none; }
.menu-dropdown-holder .dropdown:hover .nav-link{   }
.menu-dropdown-holder .dropdown:hover .dropdown-menu{ display: block; }
.menu-dropdown-holder .dropdown .dropdown-menu{ margin-top:0; }

.menu-holder{
  position: relative;
  z-index: 100;
}

#menu-trigger{
  position: absolute;
  top: 110vh;
  left: 0;
  width: 1px;
  height: 1px;
}
#main-menu-top{
  z-index: 250;
}
#main-menu{
  position: absolute;
  top: 30px !important;
  left: 0;
}
.page-home{
  #main-menu{
    top: 34px;
  }
}
.menu{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  .menu_logo{
    width: 168px;
    &.menu_logo_normal{
      width: 168px;
    }
  }
  .bg-gradient a {
    color: $white!important;
    &:hover{
      color: $darkgrey !important;
    }
  }
  .menu-links{
    .menu-item{
      display: inline-block;
      margin-left: 2.5rem;
      cursor: pointer;
      color: $white;
      font-family: $body;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 1rem;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease ;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      a{
        color: $primary;
        &:hover{
          color: $primary;
        }
      }
      i{
        font-size: 1.2rem;
        margin-left: 10px;
      }
      &:hover,
      &.active{
        color: $primary !important;
      }
      &.christmas-button{
        background-color: #d90000;
        color: #fff;
        border-radius: 5px;
        display: inline-block;
        width: auto;
        padding: 5px 10px;
        text-shadow: none;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease ;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        i{
          font-size: 1rem;
          margin-right: 0;
        }
        &:hover{
          background-color: #f6cf3c;
          color: #000 !important;
        }
      }
    }
  }
  .cargo-dropdown{
    background-color: #1D252D;
    text-align: left;
    left: 2.5rem;
    padding: 1rem;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
    -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4)  !important;
    a{
      color: $white;
      cursor: pointer;
      font-family: Gotham, sans-serif;
      font-weight: 700;
      border-radius: 0;
      display: inline-block;
      margin-bottom: 0.5rem;
      &:hover{
        color: $primary;
      }
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }
  .menu-top-links{
    .menu-links{
      .menu-item{
        font-size: 0.8rem;
      }
      &.menu-dropdown-holder{
        position: relative;
        .menu-dropdown-trigger{

        }
        .menu-dropdown{
          position: absolute;
          top: -500px;
          left: 0;
          width: 260px;
          height: 143px;
          background-color: #1D252D;
          text-align: left;
          padding: 1rem;
          -webkit-transition: all 300ms ease;
          -moz-transition: all 300ms ease ;
          -o-transition: all 300ms ease;
          transition: all 300ms ease;
          -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
          -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
          box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4)  !important;
          a{
            color: $white;
            cursor: pointer;
            font-family: Gotham, sans-serif;
            font-weight: 700;
            display: inline-block;
            margin-bottom: 0.5rem;
            &:hover{
              color: $primary;
            }
          }
          .close-waiver-menu{
            color: $primary;
            cursor: pointer;
            font-family: Gotham, sans-serif;
            font-weight: 700;
            display: inline-block;
            margin-bottom: 0.5rem;
          }
          &.active{
            top: 30px;
          }
        } 
      }
    }
  }
  &.opacity{
    opacity: 0;
  }
}
#scroll-menu{
  background-color: $darkgrey;
  position: fixed;
  top: -500px;
  left: 0;
  z-index: 200;
  width: 100%;
  @include menuBoxShadow();
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  &.on{
    top: 0;
  }
}
@media only screen and (max-width : 1230px){
  .menu .menu-links .menu-item{
    margin-left: 1.5rem;
    font-size: 0.8rem;
  }
}
// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  #scroll-menu,
  .menu{
    .menu-links{
      .menu-item{
        &:hover{
          box-shadow: none;
        }
      }
    }
    .menu_logo {
      width: 140px;
      margin-top: 15px !important;
    }
  }
  #menu_btn{
    display: block;
  }
}
@media only screen and (max-width : 767px){
  #main-menu {
    top: 0!important;
  }
  .page-home{
    #main-menu {
      top: 30px!important;
    }
  }
}
</style>