<template>
	<div class="mobile-menu-holder d-lg-none">
		<div id="menu_btn" class="menu_btn d-lg-none"><div class="nav-icon"><span></span><span></span><span></span></div></div>
		<div id="mobile-menu" class="mobile-menu">
		  <div class="container-fluid px-3">
		   	<div class="row">
			    <div class="col-12 pt-3">
			    	<a href="/">
				      <img src="/img/logos/logo.svg" class="menu_logo mt-2" width="125" height="52" alt="wearevertigo Logo"/>
				    </a>
			      <div class="menu-links d-block pt-5">
			        <p class="mb-0"><a href="/activities" class="menu-item">Activities</a></p>
			        <p class="mb-0"><a href="/parties-and-groups" class="menu-item">Parties & Groups</a></p>
			        <p class="mb-0"><a href="/birthdays" class="menu-item">Birthdays</a></p>
			        <p class="mb-0"><a href="/help" class="menu-item">Help</a></p>
			        <p class="mb-0"><a href="/offers-and-discounts" class="menu-item">Offers</a></p>
			        <p class="mb-4"><a href="/contact" class="menu-item">Contact</a></p>
			        <p class="mb-2 text-small"><b><a href="/work-for-us" class="text-white">Work for us</a></b></p>
			        <div class="d-inline-block menu-dropdown-holder">
                <p id="waiver-dropdown-trigger-3" class="mb-2 text-small cursor-pointer menu-dropdown-trigger ml-0"><b>Sign Waiver</b></p>
                <div id="waiver-dropdown-3" class="menu-dropdown">
                  <a href="https://roller.app/wearevertigo/waiver/" rel="noreferrer" aria-label="Inflatable Park Waiver" target="_blank">Inflatable Park Waiver <i class="fa fa-angle-double-right ml-2"></i></a>
                  <a href="https://forms.roller.app/#/wearevertigo/53bc5364d77a447/form" aria-label="Indoor Skydiving Waiver" rel="noreferrer" target="_blank">Indoor Skydiving Waiver <i class="fa fa-angle-double-right ml-2"></i></a>
                  <a href="https://forms.roller.app/#/wearevertigo/f47a812b1de3434/form" aria-label="Ninja Master Course" rel="noreferrer" target="_blank">Ninja Master Course Waiver <i class="fa fa-angle-double-right ml-2"></i></a>
                  <br/><span class="close-waiver-menu">Close X</span>
                </div>
              </div>
			        <p class="mb-2 text-small"><b><a href="/christmas-gift-vouchers" class="text-white"><i class="fa fa-gift"></i> Gift Vouchers</a></b></p>
			        <p class="mb-0 text-small"><b><a href="tel:08700661522" class="text-white">Phone: <span class="text-primary">0870 0661 522*</span></a></b></p>
			        <p class="text-smallest mb-0">*Calls to our 0870 number cost 2 pence per minute, plus your phone company’s access charge.</p>
			        <p class="mb-0 text-large mt-3">
			          <a href="http://www.facebook.com/VertigoBelfast" aria-label="Facebook" rel="noreferrer" class="text-white"><i class="fa fa-facebook"></i></a>
			          <a href="http://www.instagram.com/wearevertigobelfast/" aria-label="Instagram" rel="noreferrer" class="text-white"><i class="fa fa-instagram ml-3"></i></a>
			          <a href="http://twitter.com/weare_vertigo" aria-label="Twitter" rel="noreferrer" class="text-white"><i class="fa fa-twitter ml-3"></i></a>
			        </p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		mounted(){
			document.getElementById('menu_btn').addEventListener('click', function() {
		    document.querySelector("#menu_btn .nav-icon").classList.toggle('nav_open');
		    document.getElementById("mobile-menu").classList.toggle("on");
		    document.getElementById("menu").classList.toggle("on");
		    document.getElementById("menu_body_hide").classList.toggle("on");
		    document.getElementById("content").classList.toggle("opacity");
		    document.querySelectorAll(".menu").forEach(function(menu) {
		        menu.classList.toggle("opacity");
		    });
			});

			document.getElementById('waiver-dropdown-trigger-3').addEventListener('click', function() {
			    document.getElementById('waiver-dropdown-3').classList.toggle('active');
			});

			document.querySelector('#waiver-dropdown-3 .close-waiver-menu').addEventListener('click', function() {
			    document.getElementById('waiver-dropdown-3').classList.toggle('active');
			});

		}
	}
</script>
<style lang="scss">
	.close-menu{
		cursor: pointer;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		max-width: 20px;
		&:hover{
			transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
		}
	}

	#menu_body_hide{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #F6CF3C;
		display: table;
		opacity: 0;
		z-index: -1;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		&.on{
			opacity: 0.95;
			z-index: 220;
		}
	}
	.mobile-menu-holder{
		position: fixed;
		top: 0;
		right: -150vw;
		z-index: 10000;
	}
	.mobile-menu{
		position: fixed;
		top: 0;
		right: -150vw;
		width: 320px;
		height: 100vh;
		background-color: #1D252D;
		color: #fff;
		padding-left: 1rem;
		z-index: 1000;
		-webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
	  .menu-dropdown-holder{
      .menu-dropdown-trigger{

      }
      .menu-dropdown{
        position: absolute;
        top: 5rem;
        left: 1000px;
        width: calc(100% + 3rem);
        height: calc(100vh - 5rem);
        background-color: #1D252D;
        text-align: left;
        padding: 1rem;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease ;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
        -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
        box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4)  !important;
        a{
          color: #fff;
          font-size: 4vw;
          cursor: pointer;
          font-family: Gotham, sans-serif;
          font-weight: 700;
          display: inline-block;
          margin-bottom: 0.5rem;
          &:hover{
            color: #F6CF3C;
          }
        }
        .close-waiver-menu{
          color: #F6CF3C;
          cursor: pointer;
          font-family: Gotham, sans-serif;
          font-weight: 700;
          display: inline-block;
          margin-bottom: 0.5rem;
        }
        &.active{
          left: 0;
        }
      } 
    }
		.menu-links{
			.menu-item{
				display: block;
				cursor: pointer;
				color: #fff;
				font-weight: 700;
				font-size: 20px;
				margin-bottom: 0.75rem !important;
				display: inline-block;
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
				a{
					color: #fff;
					&:hover{
						color: #F6CF3C;
					}
				}
				i{
					font-size: 1.2rem;
					margin-left: 10px;
				}
			}
		}

		&.on{
			right: 0;
		}
	}
	#menu_btn,
	.menu_btn{
		position: fixed;
	  top: 1rem;
	  right: 0.5rem;
		z-index: 1100;
		cursor: pointer;
		display: inline-block;
	  width: 45px;
	  height: 45px;
	  padding: 12px 7px;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		.nav-icon {
			width: 30px;
			height: 30px;
			position: relative;
			z-index: 110;
			cursor: pointer;
			-webkit-transition: all 300ms ease;
		  -moz-transition: all 300ms ease ;
		  -o-transition: all 300ms ease;
		  transition: all 300ms ease;
			span {
				display: block;
				position: absolute;
				border-radius: 1px;
				height: 4px;
				width: 100%;
				background: #fff;
				opacity: 1;
				right: 0;
				cursor: pointer;
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
			  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
				-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
				box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
			}
			span:nth-child(1) {
				top: 0px;
			}
			span:nth-child(2) {
				top: 9px; 
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
			}
			span:nth-child(3) {
				top: 18px; 
				width: 60%;
			}
			&.nav_open{
				span {
					border-radius: 10px;
					background: #fff;
				}
				span:nth-child(1) {
					top: 9px !important;
					-webkit-transform: rotate(135deg) !important;
					-moz-transform: rotate(135deg) !important;
					-o-transform: rotate(135deg) !important;
					transform: rotate(135deg) !important; 
				}
				span:nth-child(2) {
					opacity: 0 !important;
					left: 20vw !important; 
				}
				span:nth-child(3) {
					width: 100%;
					top: 9px !important;
					-webkit-transform: rotate(-135deg) !important;
					-moz-transform: rotate(-135deg) !important;
					-o-transform: rotate(-135deg) !important;
					transform: rotate(-135deg) !important; 
				}
			}
		}
		&:hover{
			.nav-icon{
				span:nth-child(3) {
					width: 100%;
				}
			}
		}
		&.on{
			background-color: #e83e8c;
		}
		&.dark{
			.nav-icon {
				span {
					background: #F6CF3C;
				}
			}
		}
	}
	.page-home{
		#menu_btn,
		.menu_btn{
			top: 2rem;
		}
	}
	@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    .mobile-menu .menu-dropdown-holder .menu-dropdown a{
    	font-size: 1.1rem;
    }
  }
	@media only screen and (max-width : 767px){
		.mobile-menu .menu-links .menu-item{
			font-size: 4.5vw;
		}
	}
</style>