<template>
	<div class="modal fade mx-auto" id="apresModal" tabindex="-1" role="dialog" aria-labelledby="apresModalTitle" aria-hidden="true">
	  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <picture>
	        <source srcset="/img/cargo/modals/apres.webp" type="image/webp"/> 
	        <source srcset="/img/cargo/modals/apres.jpg" type="image/png"/> 
	        <img src="/img/cargo/modals/apres.jpg" type="image/png" alt="Yeoo DJ Apres - Cargo by Vertigo Belfast" class="lazy h-auto d-none d-lg-block w-100" width="300" />
	      </picture>
	      <picture>
	        <source srcset="/img/cargo/modals/apres-mob.webp" type="image/webp"/> 
	        <source srcset="/img/cargo/modals/apres-mob.jpg" type="image/png"/> 
	        <img src="/img/cargo/modals/apres-mob.jpg" type="image/png" alt="Yeoo DJ Apres - Cargo by Vertigo Belfast" class="lazy h-auto d-lg-none w-100" width="300" />
	      </picture>
	      <div class="row justify-content-center my-3">
		      <div class="col-lg-6">
		        <a href="/cargo/book-now/event/68/apres-party">
		          <button type="button" class="btn btn-primary w-100 gift-vouchers-btn">Book Now</button>
		        </a>
		      </div>
		    </div>
	      <div class="btn-text cursor-pointer text-center d-block w-100 mb-5 position-relative z-200" data-dismiss="modal">[X] Close</div>
	      <div class="btn-text cursor-pointer text-center z-200 close-modal" data-dismiss="modal" style="position: absolute; top:1rem;left: 1rem;z-index: 200; font-size: 25px;" ><i class="fa fa-times"></i></div>
	    </div>
	  </div>
	</div>
</template>
<script>
	export default {
		mounted(){
			$('#apresModal').modal('show');
		  $('.close-modal').click(function(){
		    $('#apresModal').modal('hide');
		  });
		}
	}
</script>